## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Time Sensitive Real Interview Questions-2 <br> (28 Jun 22)</p>

### Use 'sales_082020.csv' and 'currency_rates_082020_EUR.csv' files

**Import libraries**

In [1]:
import numpy as np
import pandas as pd

1. Which country made the highest percentage of purchases?

In [3]:
cr = pd.read_csv("currency_rates_082020_EUR.csv")
df = pd.read_csv("sales_082020.csv")
df

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09
...,...,...,...,...,...,...,...,...,...,...
237666,p7ibf7soot,GB,ss7jy9ks,GB,hzc7pmjxmsb6,Bottoms - Womens,NaN,GBP,17.11,2020-08-06
237667,2hg8zirueq,US,bk6apusi,US,fskn84lfyrvz,Home,NaN,USD,69.00,2020-08-05
237668,k5hmcfxcs6,GB,n2ez0xph,GB,5afe7yhdpcmz,Other,NaN,GBP,58.28,2020-08-05
237669,ca8nc8qv1x,GB,j1s4nqxb,GB,ktdrjbrq0fo2,Shoes,NaN,GBP,9.46,2020-08-05
237670,z09h7w9zcd,US,0au7baxi,US,0r1qni2g1zi4,Other,NaN,USD,160.76,2020-08-06

In [3]:
cr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   currency  220 non-null    object
 1   date      220 non-null    object
 2   rate      220 non-null    float64
dtypes: float64(1), object(2)
memory usage: 5.3+ KB

In [11]:
cr.columns
cr.count()
cr.sample(10)

    currency       date       rate
105      ILS   8/6/2020    4.03225
124      THB   8/5/2020   36.84400
169      SGD  8/10/2020    1.61271
214      BRL   8/5/2020    6.28390
31       AUD   8/2/2020    1.64864
108      ILS   8/9/2020    4.02085
113      PLN   8/4/2020    4.39693
149      JPY  8/10/2020  124.41000
196      HUF   8/7/2020  346.16000
120      THB   8/1/2020   36.82100

In [ ]:
df["e"]

In [13]:
df.groupby(["buyer_country"]).sum("price")

                    price
buyer_country
AU              342408.66
CA               89554.93
DE               25617.71
FR               21114.39
GB             3252484.65
IE              112474.65
IT              167269.56
RoW             178337.51
US             2550465.67

2. Which day has the highest value of purchases?

3. Which category has 2,324 transactions on 7 August?

In [ ]:
df.groupby()

4. What percentage of global sales value on 4 August came from US sellers?

5. How many sellers in US has more than 75 sales?

6. Which seller in the US sold the most in terms of value?

7. Which brand had the largest absolute â‚¬ difference in average transaction value between domestic and international?

# THE END