In [59]:
# liste: list[], list() fonksiyonu iterable bir değşkeni elemanlarına ayırır bir liste oluşturur.
x = ["ali", "veli"]

In [60]:
list("clarusway")

['c', 'l', 'a', 'r', 'u', 's', 'w', 'a', 'y']

In [20]:
a = [1, 2, 3]

In [21]:
list(a)

[1, 2, 3]

In [22]:
list(1234) # integerlar iterable değildir.

TypeError: 'int' object is not iterable

In [ ]:
len(1230)

In [ ]:
list()

In [ ]:
bos = []

In [ ]:
bos

In [ ]:
bos.append(11)

In [23]:
bos

NameError: name 'bos' is not defined

In [ ]:
bos.append(22)

In [ ]:
bos

In [ ]:
bos.append(33) # bir kere çalışırsa bir kere ekler. 3 kere çalışırsa  3 kere ekler.
bos

In [ ]:
bos.append("ali")
bos

In [ ]:
bos.append(True)
bos

In [ ]:
bos.pop() # default olarak en sondan eleman siler.
bos

In [ ]:
bos.pop() # sildiği elemanı çıktı olarak gösterir

In [ ]:
bos

In [ ]:
bos.pop

In [ ]:
bos.pop()

In [ ]:
bos.pop(1)

In [ ]:
bos.append(["ali"])
bos

In [ ]:
bos.insert(1, "deli") # 1 numaralı indekse deliyi koyar. diğerlerini sağa kaydırır.
bos

In [ ]:
bos.insert(2, "harun")
bos.insert(2, "mehmet")
bos

In [ ]:
rakamlar = [1, 2, 3, 4]

In [ ]:
rakamlar.insert(4, 5)
rakamlar

In [ ]:
rakamlar.insert(-1, 6) # -1 ile yapınca en sonun bir önüne atıyor.
rakamlar

In [ ]:
rakamlar.remove(1) # elemanı siler (index no değil elemenanın kendisini siler.)
rakamlar

In [ ]:
rakamlar.remove(4)
rakamlar

In [ ]:
rakamlar.append(1) # 1 sona eklendi
rakamlar.sort() # sayısal olarak sıralar.
rakamlar

In [24]:
bos

NameError: name 'bos' is not defined

In [29]:
mlist = ["ali", "veli", "deli"]

In [30]:
mlist

['ali', 'veli', 'deli']

In [31]:
mlist.append(1)
mlist

['ali', 'veli', 'deli', 1]

In [32]:
mlist.sort() # aynı tipten olanları sıralar yoksa hata verir.

TypeError: '<' not supported between instances of 'int' and 'str'

In [34]:
mlist.pop()
mlist

['ali', 'deli', 'veli']

In [36]:
mlist.sort()
mlist

['ali', 'deli', 'veli']

In [37]:
mlist.sort(reverse=True) # sondan başa sıralar
mlist

['veli', 'deli', 'ali']

In [39]:
ord("@") # ASKI kod unu verir. stringler buna göre sırlanır.

64

In [40]:
ord("a")

97

In [43]:
list_3 = [True, False] # True 1, False 0 kabul edilir.
list_3.sort()
list_3

[False, True]

In [44]:
chr(70) # 70 aski kod KArşılığını verir.. ord nin zıttı

'F'

In [45]:
chr(1200)

'Ұ'

In [46]:
chr(3000)

'ஸ'

In [47]:
chr(10000)

'✐'

In [48]:
chr(100000)

'𘚠'

In [51]:
chr(120000)

'𝓀'

In [1]:
a = 1
print(-a)

-1

In [2]:
b = -11
print(-b)

11

In [8]:
print("The sum of {} + {} : {}".format(a, b, a+b))

The sum of 1 + -11 : -10

In [6]:
x = 2 
y = 3
print ("The power of {} to {} is {}".format(y, x, x**y))

The power of 3 to 2 is 8

In [7]:
text = "{:.2f}, {:.3f}, {:.4f}".format(3.1463, 5.367, 7.324324)
text

'3.15, 5.367, 7.3243'

In [20]:
text = "{:.2s}, {:.3s}, {:.4s}".format("a3.1463", "b.57e", "7.tynd") # format içinden istadiğimiz string 
text                                                                 # parçasını alır

'a3, b.5, 7.ty'

In [3]:
text = "{:>10}".format("test") # tanımladığımız 10 karakterlik alanda sağa yasla
text

'      test'

In [5]:
text = "{:>30}".format("test") # tanımladığımız 30 karakterlik alanda sağa yasla
text

'                          test'

In [8]:
text = "bla bla bla {:<30} bla bla bla".format("test") # tanımladığımız 30 karakterlik alanda sola yasla
text

'bla bla bla test                           bla bla bla'

In [9]:
text = "bla bla bla {:^30} bla bla bla".format("test") # tanımladığımız 30 karakterlik alanda ortala
text

'bla bla bla              test              bla bla bla'

In [11]:
"{:10.5}".format("hipopotamus")

'hipop     '

In [12]:
"{:>10.5}".format("hipopotamus")

'     hipop'

In [13]:
"{:+}".format(55)

'+55'

In [14]:
"{:-}".format(55)

'55'

In [17]:
1234[1] # integer lar iterable değildir.

<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<ipython-input-17-ef4996f06adf>:1: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  1234[1]

TypeError: 'int' object is not subscriptable

In [21]:
colors = ["red", "purple", "blue", "yellow", "green"]
print(colors[2])

blue

In [22]:
["red", "purple", "blue", "yellow", "green"][3]

'yellow'

In [23]:
["red", "purple", "blue", "yellow", "green"][3][3] # listenin 3 elemanının 3. elemanı.

'l'

In [1]:
list1 = list(range(11))
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
odd_number_list = []
for x in list1:
    if x % 2 != 0:
        odd_number_list.append (x)
odd_number_list

[1, 3, 5, 7, 9]

In [5]:
print([x for in list1 if x % 2 != 0])

SyntaxError: invalid syntax (<ipython-input-5-d89d55fdc27e>, line 1)

In [37]:
list1[1:10:2]

[1, 3, 5, 7, 9]

In [38]:
print(list1[:])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
list1 = list(range(1, 11))
list1
list1[0:10:2]

[1, 3, 5, 7, 9]

In [30]:
list1 = list(range(1, 16, 3))
list1

[1, 4, 7, 10, 13]

In [33]:
list(range(14, 0, 2))

[]

In [34]:
print(len([[1, 2, 3]][0])) # buradaki [0] lenfonksiyonunun hangi elemana yapılacağını indeksliyor.

3

In [5]:
mix_list = [1, [1, "one", 2, "two", 3, "three"], 4]
print(mix_list[1][1::2])

['one', 'two', 'three']

In [8]:
mix_list = [1, [1, "one", 2, "two", 3, "three"], 4]
print(mix_list[1][1:6:2])

['one', 'two', 'three']

In [9]:
import sys

In [10]:
x = [1, 2, 3]
y = (1, 2, 3)
print(sys.getsizeof(x))
print(sys.getsizeof(y))

80
64

In [11]:
tuple()

()

In [12]:
my_t = tuple("solar")
type(my_t)

tuple

In [15]:
x = 1, 2, 3 # tuple olarak atanır. virgülle ayrılmış 
x           # parantezsiz ifadeler tuple kabul edilir.

(1, 2, 3)

In [17]:
x, y, z = 1, 2, 3
y

2

In [18]:
z = "ali", # tek elemanlı tuple yapmak için yanına virgül koyabiliriz.
z

('ali',)

In [19]:
tuple(["solar"]) # listeyi tuple a çevirir.

('solar',)

In [1]:
list = list(range(0, 11))
list
list.sort(reverse=True)
list

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [14]:
print(list.sort(reverse = True))

None

In [2]:
list = list(range(1, 11)
print(list.sort(reverse=True))

SyntaxError: invalid syntax (<ipython-input-2-72914272f811>, line 3)

In [1]:
solar = "earth", "venus", "uranus"

In [2]:
type(solar)

tuple

In [3]:
mountain = tuple("Alps")
mountain

('A', 'l', 'p', 's')

In [2]:
num = range(1, 11)
tuple(num)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
num = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
num

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [8]:
mylist= list(num)
mylist.append(11)
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [11]:
mylist.insert
mylist

TypeError: insert expected 2 arguments, got 4

In [10]:
list_num =list(num)
list_num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
list_num[2] = 44
list_num

[1, 2, 44, 4, 5, 6, 7, 8, 9, 10]

In [12]:
list_num[-1] = 33
list_num

[1, 2, 44, 4, 5, 6, 7, 8, 9, 33]

In [13]:
tuple(num)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [14]:
num[0] = 100
num

TypeError: 'range' object does not support item assignment

In [16]:
mix_tuple = ("11", 11, [2, "two"], ("six", 6), (5, "fair"))
mix_tuple[3][0]

'six'

In [17]:
print(len(tuple(range(1,20))))

19

In [26]:
print(list(float(str(len(tuple(range(1,20)))),"ali")

SyntaxError: unexpected EOF while parsing (<ipython-input-26-210515c159ac>, line 1)

In [28]:
list(19, "ali")

TypeError: list expected at most 1 argument, got 2

In [29]:
# dict fonksiyonu içinde variable atanır. ama çağırırken string olarak çağrılır.
dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)
print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

In [30]:
dict_by_dict[animal] # string olarak çağrılmalı yoksa hata verir.

NameError: name 'animal' is not defined

In [25]:
dict_by_dict["animal"]

NameError: name 'dict_by_dict' is not defined

In [33]:
type(dict_by_dict["is_good"])

bool

In [2]:
family = dict( name1 = "ali", name2 = "veli", name3 = "deli")
family

{'name1': 'ali', 'name2': 'veli', 'name3': 'deli'}

In [3]:
dict_by_dict

NameError: name 'dict_by_dict' is not defined

In [5]:
family["name5"] = "idris"
family

{'name1': 'ali', 'name2': 'veli', 'name3': 'deli', 'name5': 'idris'}

In [9]:
family.update({"name1" : "Harun", "name8" : "Yusuf"})
family

{'name1': 'Harun',
 'name2': 'veli',
 'name3': 'deli',
 'name5': 'idris',
 'name8': 'Yusuf'}

In [11]:
family["name1"] = "osman"
family

{'name1': 'osman',
 'name2': 'veli',
 'name3': 'deli',
 'name5': 'idris',
 'name8': 'Yusuf'}

In [13]:
del family["name2"]
family

{'name1': 'osman', 'name3': 'deli', 'name5': 'idris', 'name8': 'Yusuf'}

In [15]:
del family["name3"], family["name5"]
family

{'name1': 'osman', 'name8': 'Yusuf'}

In [16]:
a = "clarusway"

In [17]:
del a
a

NameError: name 'a' is not defined

In [ ]:
in # True ya da False verir. dict içinde keylere bakar.
   # in dict.values() diye ararsak values içinde arar.

In [18]:
"i" in "clarusway"

False

In [19]:
"a" in "clarusway"

True

In [20]:
"A" in "clarusway"

False

In [21]:
bootcamp = "c l a r u s w a y".split()
bootcamp

['c', 'l', 'a', 'r', 'u', 's', 'w', 'a', 'y']

In [22]:
ıvrzıvır = "ali-deli-veli".split("-") # tirelerden bol liste yap
ıvrzıvır

['ali', 'deli', 'veli']

In [23]:
"a" in bootcamp

True

In [ ]:
school_records={
	'personal_info':
		{'kid':{'tom':{'class':'intermediate', 'age':10},
		'sue':{'class':'elemantary', 'age':8}
			},
		'teen':{'joseph':{'class':'college', 'age':19},
			'marry':{'class':'high school', 'age':16}
			},
		},
	'grades_info':
		{'kid':{'tom':{'math':88, 'speech':69},
			'sue':{'math':90, 'speech':81}
			},
		'teen':{'joseph':{'coding':80, 'math':89},
			'marry':{'coding':70, 'math':96}
			},
		}
}

In [32]:
school_records["grades_info"]["teen"]["joseph"]

{'coding': 80, 'math': 89}

In [39]:
list(school_records["grades_info"]["teen"]["joseph"].items())

[('coding', 80), ('math', 89)]

In [27]:
len(school_records)

2

In [29]:
school_records["personal_info"]["kid"]

{'tom': {'class': 'intermediate', 'age': 10},
 'sue': {'class': 'elemantary', 'age': 8}}

In [30]:
school_records["personal_info"]["kid"]["tom"]

{'class': 'intermediate', 'age': 10}

In [31]:
school_records["personal_info"]["kid"]["tom"]["age"]

10

In [5]:
numbers = [1, 3, 7, 4, 3, 16, 5, 3, 6, 3]

In [44]:
max(numbers)

16

In [1]:
sequence = [1, 1, 1, 1, 2, 2, 2, 3, 3, 4]

In [3]:
sequence.count(3)

2

In [4]:
sequence.count(1)

4

In [8]:
numbers = [1, 3, 7, 4, 3, 16, 5, 3, 6, 3]
max(numbers, key = numbers.count) # key parametresine atadığımız 
                                  # fonksiyonnun verdiği değerlerin
                                  # en büyüğünü bulur.

3

key parametresine sahip tüm fonksiyonlarda key e bir fonksiyon atanabilir.

In [9]:
numbers.count(max(numbers, key = numbers.count))

4

In [2]:
sehirler = ["istanbul", "Van", "Ağrı", "Ankara"]
sorted(sehirler)

['Ankara', 'Ağrı', 'Van', 'istanbul']

In [6]:
sorted(sehirler, key = len, reverse = True)

['istanbul', 'Ankara', 'Ağrı', 'Van']

In [1]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]

In [3]:
max(numbers, key = numbers.count)

3

In [6]:
numbers.count(max(numbers, key = numbers.count))

4

In [7]:
print(len([[1, 2, 3]][0]))

3

In [24]:
dict_by_dict.update({"yasemin" : "bayan"})
dict_by_dict

NameError: name 'dict_by_dict' is not defined

In [38]:
dict_by_dict["number"]

40

In [41]:
dict_by_dict[1]

KeyError: 1

In [42]:
dict_by_dict.update({"ahmet" : "bay", 11 : "integer"})
dict_by_dict

{'animal': 'dog',
 'planet': 'neptun',
 'number': 40,
 'pi': 3.14,
 'is_good': True,
 'yasemin': 'bayan',
 'ahmet': 'bay',
 11: 'integer'}

In [43]:
print(dict_by_dict.items(), "\n")
print(dict_by_dict.keys(), "\n")
print(dict_by_dict.values())

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True), ('yasemin', 'bayan'), ('ahmet', 'bay'), (11, 'integer')])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good', 'yasemin', 'ahmet', 11])

dict_values(['dog', 'neptun', 40, 3.14, True, 'bayan', 'bay', 'integer'])

In [45]:
type(dict_by_dict.items())

dict_items

In [46]:
list(dict_by_dict.items())

[('animal', 'dog'),
 ('planet', 'neptun'),
 ('number', 40),
 ('pi', 3.14),
 ('is_good', True),
 ('yasemin', 'bayan'),
 ('ahmet', 'bay'),
 (11, 'integer')]

In [1]:
mix_value = (10, False, 'fruit', 1.618)
mix_value.append(['vegetable', 2+3j])
mix_value
print(len(mix_value))

AttributeError: 'tuple' object has no attribute 'append'

In [8]:
list_1 = list(range(1, 11))
list_1.sort(reverse=True)
print(list_1)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [13]:
grocer = [
    "banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ],
    "water"], "mandarin"
]

print(grocer[1][1][1:6:2])

['eggplant', 'spinach', 'leek']

In [26]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = "My favorite flowers are {} and {}, two favorite colors are {} and {}.".format (flowers[0][2], flowers[0][1][1], colors[1][0], colors[1][1][1])
print(text)

My favorite flowers are tulip and rose, two favorite colors are blue and green.

In [27]:
print(type({}))

<class 'dict'>

In [28]:
type({})

dict

In [29]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }

print(state_capitals['Colorado']) # accessing method

Denver

In [30]:
state_capitals["virginia"] = "Richmond" # adding a new item
state_capitals

{'Arkansas': 'Little Rock',
 'Colorado': 'Denver',
 'California': 'Sacramento',
 'Georgia': 'Atlanta',
 'virginia': 'Richmond'}

In [31]:
"Colarado"

'Colarado'

In [32]:
state_capitals["Colorado", "Georgia"] # bu şekilde bir değer çağırabiliyoruz.

KeyError: ('Colorado', 'Georgia')

In [33]:
state_capitals["Georgia"]

'Atlanta'

In [34]:
state_capitals["Atlanta"] # key girince value veriyor. Value girince keyi vermiyor hata veriyor.

KeyError: 'Atlanta'

# 💡Tips:
Note that keys and values can be of different types.

In [1]:
mix_values = {'animal': ('dog', 'cat'),  # tuple type
              'planet': ['Neptun', 'Saturn', 'Jupiter'],  # list type
              'number': 40,  # int type
              'pi': 3.14,  # float type
              'is_good': True}  # bool type

mix_keys = {22 : "integer",
            1.2 : "float",
            True : "boolean",
            "key" : "string"}
# iterables value olabilir ancak key olamaz. listeler, dict ler key olamaz, tupple lar olur.

In [3]:
mix_values.keys()

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

In [5]:
mix_values.get("planet")

['Neptun', 'Saturn', 'Jupiter']

In [7]:
del mix_values["number"]
mix_values

{'animal': ('dog', 'cat'),
 'planet': ['Neptun', 'Saturn', 'Jupiter'],
 'pi': 3.14,
 'is_good': True}

In [9]:
mix_values.pop("animal")
mix_values

{'planet': ['Neptun', 'Saturn', 'Jupiter'], 'pi': 3.14, 'is_good': True}

In [10]:
print("planet" in mix_values) # key var mı yok mu

True

In [12]:
print("planet" not in mix_values)

False

# sets 
sıralı değillerdir ve eleman tekrarına izin vermezler.

In [6]:
color_set = {"purple", "orange", "red", "blue", "yellow", "red"} # aşağıdaki iki çıktıda red lere ve sıraya dikkat
color_set

{'blue', 'orange', 'purple', 'red', 'yellow'}

In [5]:
print(color_set)

{'yellow', 'orange', 'red', 'purple', 'blue'}

In [11]:
s = set("adı harun")
print(s)

{'n', 'u', 'd', 'r', 'a', 'h', 'ı', ' '}

In [12]:
s

{' ', 'a', 'd', 'h', 'n', 'r', 'u', 'ı'}

In [13]:
flower_list = ['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']
flowerset = set(flower_list) # liste sete dönüşünce tekrarlardan kurtulur.
flowerlist = list(flowerset) # seti tekrar listeye çevirince böylece listemizdeki tekrarlardan kurtulduk.

print(flowerset) 
print(flowerlist)

{'violet', 'rose', 'carnation', 'orchid'}
['violet', 'rose', 'carnation', 'orchid']

In [14]:
a = set('abracadabra')
b = set('alacazam')

print(a - b)  # same as '.difference()' method
print(a.difference(b)) # a difference from b

{'r', 'd', 'b'}
{'r', 'd', 'b'}

In [15]:
a = set('abracadabra')
b = set('alacazam')

print(a | b)  # same as '.union()' method
print(a.union(b)) # unification of a with b

{'l', 'r', 'd', 'm', 'z', 'a', 'c', 'b'}
{'l', 'r', 'd', 'm', 'z', 'a', 'c', 'b'}

In [16]:
a = set('abracadabra')
b = set('alacazam')

print(a & b)  # same as '.intersection()' method
print(a.intersection(b)) # intersection of a and b

{'a', 'c'}
{'a', 'c'}

In [17]:
a = set('abracadabra')

a.remove('c') # we delete 'c' from the set
print(a)

{'d', 'r', 'a', 'b'}

In [18]:
a = set('abracadabra')

a.add('c') # we add 'c' again into the set
print(a)

{'d', 'r', 'a', 'c', 'b'}

In [19]:
print(len(set('listen to the voice of enlisted')))

13

In [ ]:
 a = "              merhaba"
a.strip

# sets
1. tekrarlı eleman içermez
2. matematiksel küme işlemleri yapılabilir. birleşim, kesişim, fark

In [2]:
set_1 = {"red", "blue", "pink", "red"}
set_1

{'blue', 'pink', 'red'}

In [4]:
colors = "red", "blue", "pink", "red"
set_2 = set(colors)
set_2

{'blue', 'pink', 'red'}

In [5]:
set_2

{'blue', 'pink', 'red'}

In [7]:
empty_set = set()
empty_set

set()

In [8]:
first_set = {1, 1, 2, 0, 1}
first_set

{0, 1, 2}

In [9]:
len({1, 1, 2, 0, 1})

3

In [1]:
letter = "a b c d e f g h i j k l m n o p r s t".split()
letter

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'r',
 's',
 't']

In [2]:
print(set(letter))

{'m', 'o', 's', 'f', 'h', 'r', 'i', 't', 'n', 'p', 'a', 'e', 'g', 'd', 'k', 'b', 'l', 'c', 'j'}

In [3]:
example = {1, "1,", 1.0}

In [4]:
len(example)

2

In [5]:
example

{1, '1,'}

In [6]:
given_list = [1, 2, 3, 4, 5]

In [10]:
kumemiz = {given_list} # küme içine listi eleman olarak alamıyor.

TypeError: unhashable type: 'list'

In [12]:
{[1, "bir", "ali", "deli"]}

TypeError: unhashable type: 'list'

In [13]:
{{1 : "bir", 1, 2}} # küme içine dict i eleman olarak alamıyor.

SyntaxError: invalid syntax (<ipython-input-13-c2558686e426>, line 1)

In [17]:
a = {(3,4), 1, 2} # küme içine tupple i eleman olarak alabiliyor.
a

{(3, 4), 1, 2}

In [18]:
a.add("lily") # herhangi bir yere eleman ekler.
a

{(3, 4), 1, 2, 'lily'}

In [19]:
a.add("orange")
a

{(3, 4), 1, 2, 'lily', 'orange'}

In [20]:
a.add(56)
a

{(3, 4), 1, 2, 56, 'lily', 'orange'}

In [21]:
a.remove(1)
a

{(3, 4), 2, 56, 'lily', 'orange'}

In [22]:
b = {(3,4), 75, 100, "lily"}
b

{(3, 4), 100, 75, 'lily'}

In [23]:
print(a - b)

{'orange', 2, 56}

In [24]:
print(a & b) # kesişim intersection

{'lily', (3, 4)}

In [25]:
# birleşim union
print(a.union(b))

{2, 100, (3, 4), 75, 'orange', 56, 'lily'}

In [26]:
print(a|b)

{2, 100, (3, 4), 75, 'orange', 56, 'lily'}

In [31]:
spain = set("Madrid")
spain

{'M', 'a', 'd', 'i', 'r'}

In [35]:
usa = set("washington")

print(spain|usa)

{'d', 'h', 'r', 'a', 'i', 'o', 't', 's', 'M', 'g', 'w', 'n'}

In [36]:
spain - usa

{'M', 'd', 'r'}

In [37]:
usa - spain

{'g', 'h', 'n', 'o', 's', 't', 'w'}

In [39]:
usa & spain

{'a', 'i'}

In [17]:
left = set("1qaz2wsx3edc4rfv5tgb")
right = set("6yhn7ujm8ıkö9olç0pşğiü")
print(left)
print(right)

{'v', 'f', 'a', 'x', '4', 'd', '3', 's', 'b', 'c', 'q', 'g', 'r', 'z', 'w', '2', 'e', 't', '1', '5'}
{'8', 'ü', 'ç', 'ş', 'y', 'i', '9', '7', 'ğ', 'h', 'l', 'ı', 'ö', '6', 'p', 'j', 'm', 'k', 'o', 'n', '0', 'u'}

{'e', 'r', 's', 't'}

In [31]:
word = set(input("please enter a word for comfortable word check: "))
if left & word != set() and right & word != set():
    print("The word you entered is a comfortable word")
else:    
    print("The word you entered is not a comfortable word")

please enter a word for comfortable word check: sşoeöö7
The word you entered is a comfortable word

In [25]:
left & word

{'e', 'r', 's', 't'}

In [19]:
right & word

set()