___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Capstone Project of Data Analytics Module</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Car Price Prediction EDA</p>

# WELCOME!

## Introduction
Welcome to "***AutoScout Data Analysis Project***". This is the capstone project of ***Data Analysis*** Module. **Auto Scout** data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using many Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy you will analyze clean dataset.

The project consists of 3 parts:
* First part is related with 'data cleaning'. It deals with Incorrect Headers, Incorrect Format, Anomalies, Dropping useless columns.
* Second part is related with 'filling data'. It deals with Missing Values. Categorical to numeric transformation is done.
* Third part is related with 'handling outliers of data' via Visualisation libraries. Some insights are extracted.

In [244]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

from pandas.plotting import register_matplotlib_converters
from pylab import rcParams
sns.set_style("darkgrid")

# import lux

import warnings
warnings.filterwarnings("ignore")

# Set it None to display all rows in the dataframe
pd.set_option('display.max_rows', 200)

# Set it to None to display all columns in the dataframe
# pd.set_option('display.max_columns', None)

from requests import request
import json
from pandas.io.json import json_normalize

from pandas import json_normalize

In [245]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 500)
pd.set_option('display.max_info_columns', 500)
pd.set_option('display.max_info_rows', 2000)
pd.set_option('display.expand_frame_repr', True)
pd.set_option('display.width', 2000)

# PART- 1 `( Data Cleaning )`

In [246]:
df = pd.read_json("scout_car.json", lines= True, orient= "columns")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Dtype
---  ------                         -----
 0   url                            object
 1   make_model                     object
 2   short_description              object
 3   body_type                      object
 4   price                          int64
 5   vat                            object
 6   km                             object
 7   registration                   object
 8   prev_owner                     object
 9   kW                             float64
 10  hp                             object
 11  Type                           object
 12  Previous Owners                object
 13  Next Inspection                object
 14  Inspection new                 object
 15  Warranty                       object
 16  Full Service                   object
 17  Non-smoking Vehicle            object
 18  null                           object
 19  Make                           object
 20  Model                          object
 21  Offer Number                   object
 22  First Registration             object
 23  Body Color                     object
 24  Paint Type                     object
 25  Body Color Original            object
 26  Upholstery                     object
 27  Body                           object
 28  Nr. of Doors                   object
 29  Nr. of Seats                   object
 30  Model Code                     object
 31  Gearing Type                   object
 32  Displacement                   object
 33  Cylinders                      object
 34  Weight                         object
 35  Drive chain                    object
 36  Fuel                           object
 37  Consumption                    object
 38  CO2 Emission                   object
 39  Emission Class                 object
 40
Comfort & Convenience
        object
 41
Entertainment & Media
        object
 42
Extras
                       object
 43
Safety & Security
            object
 44  description                    object
 45  Emission Label                 object
 46  Gears                          object
 47  Country version                object
 48  Electricity consumption        object
 49  Last Service Date              object
 50  Other Fuel Types               object
 51  Availability                   object
 52  Last Timing Belt Service Date  object
 53  Available from                 object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [247]:
dfo = df.copy()

In [248]:
df.isnull().sum()

url                                  0
make_model                           0
short_description                   46
body_type                           60
price                                0
vat                               4513
km                                   0
registration                         0
prev_owner                        6828
kW                               15919
hp                                   0
Type                                 2
Previous Owners                   6640
Next Inspection                  12384
Inspection new                   11987
Warranty                          5420
Full Service                      7704
Non-smoking Vehicle               8742
null                                 0
Make                                 0
Model                                0
Offer Number                      3175
First Registration                1597
Body Color                         597
Paint Type                        5772
Body Color Original               3759
Upholstery                        3720
Body                                60
Nr. of Doors                       212
Nr. of Seats                       977
Model Code                       10941
Gearing Type                         0
Displacement                       496
Cylinders                         5680
Weight                            6974
Drive chain                       6858
Fuel                                 0
Consumption                       1906
CO2 Emission                      1808
Emission Class                    3021
\nComfort & Convenience\n          920
\nEntertainment & Media\n         1374
\nExtras\n                        2962
\nSafety & Security\n              982
description                          0
Emission Label                   11934
Gears                             4712
Country version                   8333
Electricity consumption          15782
Last Service Date                15353
Other Fuel Types                 15039
Availability                     15284
Last Timing Belt Service Date    15903
Available from                   15647
dtype: int64

In [249]:
## percentage of null values
(df.isnull().sum() / df.shape[0] * 100).sort_values()

url                                0.000000
make_model                         0.000000
price                              0.000000
description                        0.000000
km                                 0.000000
registration                       0.000000
Gearing Type                       0.000000
Model                              0.000000
hp                                 0.000000
Make                               0.000000
null                               0.000000
Fuel                               0.000000
Type                               0.012564
short_description                  0.288963
body_type                          0.376908
Body                               0.376908
Nr. of Doors                       1.331742
Displacement                       3.115774
Body Color                         3.750236
\nComfort & Convenience\n          5.779257
Nr. of Seats                       6.137320
\nSafety & Security\n              6.168729
\nEntertainment & Media\n          8.631195
First Registration                10.032037
CO2 Emission                      11.357497
Consumption                       11.973114
\nExtras\n                        18.606696
Emission Class                    18.977323
Offer Number                      19.944720
Upholstery                        23.368302
Body Color Original               23.613292
vat                               28.349771
Gears                             29.599849
Warranty                          34.047365
Cylinders                         35.680633
Paint Type                        36.258559
Previous Owners                   41.711163
prev_owner                        42.892141
Drive chain                       43.080596
Weight                            43.809285
Full Service                      48.395000
Country version                   52.346253
Non-smoking Vehicle               54.915510
Model Code                        68.729192
Emission Label                    74.967021
Inspection new                    75.299956
Next Inspection                   77.793831
Other Fuel Types                  94.472015
Availability                      96.011056
Last Service Date                 96.444500
Available from                    98.291350
Electricity consumption           99.139393
Last Timing Belt Service Date     99.899491
kW                               100.000000
dtype: float64

In [250]:
# columns that have more then 90 percent null will be dropped.
drop_lst = ['Other Fuel Types', 'Availability', 'Last Service Date', 'Available from', 'Electricity consumption', 'Last Timing Belt Service Date', 'kW']

In [251]:
df.drop(columns=drop_lst, axis=1, inplace=True)

# checking the columns that have less null than 50%

In [252]:
df.head(1)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,hp,Type,Previous Owners,Next Inspection,Inspection new,Warranty,Full Service,Non-smoking Vehicle,null,Make,Model,Offer Number,First Registration,Body Color,Paint Type,Body Color Original,Upholstery,Body,Nr. of Doors,Nr. of Seats,Model Code,Gearing Type,Displacement,Cylinders,Weight,Drive chain,Fuel,Consumption,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,description,Emission Label,Gears,Country version
0,https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-xenon-navi-klima-diesel-black-bdab349a-caa5-41b0-98eb-c1345b84445e,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n2\n,"[\n06/2021\n, \n99 g CO2/km (comb)\n]","[\nYes\n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nLR-062483\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,220 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]","[Bluetooth, Hands-free equipment, On-board computer, Radio]","[Alloy wheels, Catalytic Converter, Voice Control]","[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]","[\n, Sicherheit:, , Deaktivierung für Beifahrer-Airbag, , ESC mit elektronischer Quersperre, , Tagfahrlicht, , Reifendruck-Kontrollanzeige, , Kopfairbag-System mit Seiten-Airbags vorn, , Sicherheitslenksäule, Assistenzsysteme:, , Berganfahrassistent, Komfort:, , Scheinwerferreinigung, , Xenon plus inklusive Scheinwerfer-Reinigungsanlage, , Scheinwerfer-Reinigungsanlage, , Einparkhilfe hinten, , Licht-/Regensensor, , Funkfernbedienung, , Elektrische Luftzusatzheizung, Interieur:...",NaN,NaN,NaN

## url

In [253]:
df.url.value_counts(dropna=False)

https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-xenon-navi-klima-diesel-black-bdab349a-caa5-41b0-98eb-c1345b84445e                  1
https://www.autoscout24.com//offers/opel-insignia-bus-inno-2-0-cdti-aut-navi-bi-xe-led-e6-diesel-black-8710b253-dd98-4ed0-9d46-cbad2d79532b                1
https://www.autoscout24.com//offers/opel-insignia-sport-tourer-opel-sport-tourer-1-6-cdti-136-ch-a-c-diesel-silver-10b7463b-9f56-4348-af35-df3432b2b585    1
https://www.autoscout24.com//offers/opel-insignia-2-0cdti-st-business-innovation-navi-bt-diesel-black-ba5a3368-dedc-4e51-9127-3976b26e93c2                 1
https://www.autoscout24.com//offers/opel-insignia-sport-tourer-opel-sport-tourer-1-6-cdti-136-ch-a-c-diesel-silver-7b52f054-78d3-4d5e-9370-8a7d081d7edd    1
                                                                                                                                                          ..
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-black-cf50f7b1-4d7b-466f-93a2-4e11ec0b4107                        1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-grey-3f47eb34-15c4-4763-860d-78fcbbd2c9ff                         1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-silver-f7a4bc95-b2ef-4bac-9497-6bcbcd05db0b                       1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-silver-1c94c7a2-67b5-49ca-ae42-42a6800fb3f5                       1
https://www.autoscout24.com//offers/renault-espace-initiale-paris-tce-225-edc-gpf-navi-shz-aux-gasoline-grey-0bd690d9-7e93-4cab-bc5a-9d5b63402481          1
Name: url, Length: 15919, dtype: int64

In [254]:
df.drop(columns="url", inplace=True)

In [255]:
df.columns

Index(['make_model', 'short_description', 'body_type', 'price', 'vat', 'km', 'registration', 'prev_owner', 'hp', 'Type', 'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty', 'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model', 'Offer Number', 'First Registration', 'Body Color', 'Paint Type', 'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors', 'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement', 'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption', 'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n', 'description', 'Emission Label', 'Gears', 'Country version'], dtype='object')

## make_model & Make & Model

In [256]:
df.make_model.value_counts(dropna=False)

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

In [257]:
df.Make.value_counts(dropna=False)

\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: Make, dtype: int64

In [258]:
df.Make.str.strip().value_counts(dropna=False)

Opel       7343
Audi       5712
Renault    2864
Name: Make, dtype: int64

In [259]:
df["make"] = df["Make"].str.strip()

In [260]:
df.drop(columns="Make", inplace=True)

In [261]:
df.Model.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, A3, \n]          3097
[\n, A1, \n]          2614
[\n, Insignia, \n]    2598
[\n, Astra, \n]       2526
[\n, Corsa, \n]       2219
[\n, Clio, \n]        1839
[\n, Espace, \n]       991
[\n, Duster, \n]        34
[\n, A2, \n]             1
Name: Model, dtype: int64

In [262]:
df.Model.str[1].value_counts(dropna=False)

A3          3097
A1          2614
Insignia    2598
Astra       2526
Corsa       2219
Clio        1839
Espace       991
Duster        34
A2             1
Name: Model, dtype: int64

In [263]:
df.model = df.Model.str[1]

In [264]:
df.drop(columns="Model", inplace=True)

## body_type

In [265]:
df.body_type.value_counts(dropna=False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

## price

In [266]:
df.price.value_counts(dropna=False)

14990    154
15990    151
10990    139
15900    106
17990    102
        ...
17559      1
17560      1
17570      1
17575      1
39875      1
Name: price, Length: 2956, dtype: int64

## vat

In [267]:
df.vat.value_counts(dropna=False)

VAT deductible      10980
NaN                  4513
Price negotiable      426
Name: vat, dtype: int64

## km

In [268]:
df.km.value_counts(dropna=False)

10 km        1045
- km         1024
1 km          367
5 km          170
50 km         148
             ...
67,469 km       1
43,197 km       1
10,027 km       1
35,882 km       1
57 km           1
Name: km, Length: 6690, dtype: int64

In [269]:
df.km.str.split().str[0].str.replace(",", "").replace("-", np.NaN).value_counts(dropna=False, ascending=False)

10       1045
NaN      1024
1         367
5         170
50        148
         ...
67469       1
43197       1
10027       1
35882       1
57          1
Name: km, Length: 6690, dtype: int64

In [270]:
df.km = df.km.str.split().str[0].str.replace(",", "").replace("-", np.NaN)
df.km.value_counts(dropna=False)

10       1045
NaN      1024
1         367
5         170
50        148
         ...
67469       1
43197       1
10027       1
35882       1
57          1
Name: km, Length: 6690, dtype: int64

## registration & First Registration

In [271]:
df["First Registration"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, 2018, \n]    4522
[\n, 2016, \n]    3674
[\n, 2017, \n]    3273
[\n, 2019, \n]    2853
NaN               1597
Name: First Registration, dtype: int64

In [272]:
df.registration.value_counts(dropna=False)

-/-        1597
03/2018     695
02/2019     585
05/2018     572
03/2019     543
01/2019     541
04/2018     541
02/2018     539
03/2016     536
04/2016     532
06/2018     532
01/2018     511
04/2019     506
02/2016     472
03/2017     471
05/2016     459
06/2016     452
05/2019     440
06/2017     409
05/2017     404
07/2018     396
04/2017     380
01/2016     376
02/2017     368
01/2017     306
08/2018     285
06/2019     224
07/2017     215
11/2017     180
07/2016     176
10/2016     160
10/2017     154
09/2017     149
11/2016     142
09/2018     141
09/2016     141
12/2016     134
12/2017     123
08/2017     114
11/2018     110
12/2018     103
10/2018      97
08/2016      94
07/2019       6
09/2019       5
08/2019       1
11/2019       1
12/2019       1
Name: registration, dtype: int64

In [273]:
df["registration"] = df["registration"].replace("-/-", np.NaN)

In [274]:
df["registration"] = pd.to_datetime(df["registration"])

In [275]:
df["registration"].value_counts(dropna=False)

NaT           1597
2018-03-01     695
2019-02-01     585
2018-05-01     572
2019-03-01     543
2019-01-01     541
2018-04-01     541
2018-02-01     539
2016-03-01     536
2016-04-01     532
2018-06-01     532
2018-01-01     511
2019-04-01     506
2016-02-01     472
2017-03-01     471
2016-05-01     459
2016-06-01     452
2019-05-01     440
2017-06-01     409
2017-05-01     404
2018-07-01     396
2017-04-01     380
2016-01-01     376
2017-02-01     368
2017-01-01     306
2018-08-01     285
2019-06-01     224
2017-07-01     215
2017-11-01     180
2016-07-01     176
2016-10-01     160
2017-10-01     154
2017-09-01     149
2016-11-01     142
2018-09-01     141
2016-09-01     141
2016-12-01     134
2017-12-01     123
2017-08-01     114
2018-11-01     110
2018-12-01     103
2018-10-01      97
2016-08-01      94
2019-07-01       6
2019-09-01       5
2019-08-01       1
2019-11-01       1
2019-12-01       1
Name: registration, dtype: int64

In [276]:
df[["First Registration", "registration"]].sample(100)

      First Registration registration
1524      [\n, 2018, \n]   2018-06-01
8752      [\n, 2016, \n]   2016-03-01
5217      [\n, 2019, \n]   2019-02-01
4122      [\n, 2018, \n]   2018-03-01
10088     [\n, 2019, \n]   2019-05-01
15913     [\n, 2019, \n]   2019-04-01
13861     [\n, 2016, \n]   2016-12-01
12854     [\n, 2019, \n]   2019-04-01
14740                NaN          NaT
15484     [\n, 2017, \n]   2017-11-01
6238      [\n, 2016, \n]   2016-03-01
4319      [\n, 2017, \n]   2017-04-01
7338      [\n, 2018, \n]   2018-02-01
7253      [\n, 2018, \n]   2018-05-01
12367                NaN          NaT
117       [\n, 2016, \n]   2016-05-01
8149      [\n, 2019, \n]   2019-04-01
8550      [\n, 2016, \n]   2016-05-01
1875      [\n, 2018, \n]   2018-05-01
4301      [\n, 2017, \n]   2017-02-01
11554     [\n, 2018, \n]   2018-02-01
2370                 NaN          NaT
4065      [\n, 2017, \n]   2017-01-01
14762     [\n, 2019, \n]   2019-04-01
6463      [\n, 2016, \n]   2016-02-01
12114     [\n, 2018, \n]   2018-03-01
9759      [\n, 2018, \n]   2018-03-01
4854      [\n, 2018, \n]   2018-06-01
1271      [\n, 2017, \n]   2017-04-01
84        [\n, 2017, \n]   2017-05-01
2341                 NaN          NaT
12839                NaN          NaT
1555      [\n, 2018, \n]   2018-07-01
1810      [\n, 2018, \n]   2018-05-01
10095     [\n, 2019, \n]   2019-01-01
13414     [\n, 2016, \n]   2016-09-01
1376      [\n, 2017, \n]   2017-09-01
15518     [\n, 2018, \n]   2018-08-01
1010      [\n, 2017, \n]   2017-03-01
8831      [\n, 2018, \n]   2018-11-01
1469      [\n, 2018, \n]   2018-04-01
107       [\n, 2018, \n]   2018-05-01
906       [\n, 2017, \n]   2017-03-01
4323      [\n, 2017, \n]   2017-04-01
465       [\n, 2016, \n]   2016-04-01
3471      [\n, 2016, \n]   2016-10-01
1487      [\n, 2018, \n]   2018-05-01
5381                 NaN          NaT
4225      [\n, 2017, \n]   2017-03-01
5794      [\n, 2016, \n]   2016-06-01
15091     [\n, 2016, \n]   2016-08-01
5068      [\n, 2019, \n]   2019-03-01
15739     [\n, 2018, \n]   2018-07-01
1057      [\n, 2018, \n]   2018-07-01
10206     [\n, 2019, \n]   2019-02-01
14391     [\n, 2018, \n]   2018-01-01
11589     [\n, 2018, \n]   2018-05-01
3151      [\n, 2016, \n]   2016-04-01
10863     [\n, 2016, \n]   2016-02-01
12576     [\n, 2019, \n]   2019-02-01
3423      [\n, 2016, \n]   2016-04-01
1502      [\n, 2018, \n]   2018-06-01
13397     [\n, 2016, \n]   2016-01-01
11976     [\n, 2018, \n]   2018-02-01
15429     [\n, 2017, \n]   2017-11-01
4650      [\n, 2018, \n]   2018-01-01
10827     [\n, 2017, \n]   2017-04-01
13237     [\n, 2018, \n]   2018-02-01
11977     [\n, 2018, \n]   2018-04-01
8496      [\n, 2018, \n]   2018-03-01
3398      [\n, 2016, \n]   2016-06-01
9049      [\n, 2017, \n]   2017-06-01
2722      [\n, 2016, \n]   2016-03-01
14046     [\n, 2017, \n]   2017-05-01
8096      [\n, 2019, \n]   2019-03-01
4114      [\n, 2017, \n]   2017-01-01
4530      [\n, 2018, \n]   2018-05-01
14064     [\n, 2017, \n]   2017-07-01
14565                NaN          NaT
468       [\n, 2017, \n]   2017-05-01
1264      [\n, 2017, \n]   2017-09-01
805       [\n, 2016, \n]   2016-01-01
9858      [\n, 2019, \n]   2019-01-01
1086      [\n, 2018, \n]   2018-02-01
14723     [\n, 2019, \n]   2019-01-01
8390      [\n, 2018, \n]   2018-09-01
1385      [\n, 2017, \n]   2017-06-01
13184     [\n, 2018, \n]   2018-09-01
5388      [\n, 2019, \n]   2019-01-01
36        [\n, 2016, \n]   2016-04-01
9750      [\n, 2018, \n]   2018-05-01
6498      [\n, 2016, \n]   2016-05-01
11634     [\n, 2017, \n]   2017-06-01
13813     [\n, 2016, \n]   2016-05-01
9458      [\n, 2017, \n]   2017-11-01
336       [\n, 2016, \n]   2016-12-01
11372     [\n, 2018, \n]   2018-04-01
3665      [\n, 2017, \n]   2017-06-01
4544      [\n, 2018, \n]   2018-05-01
2141      [\n, 2019, \n]   2019-01-01

In [277]:
# all values including nulls are the same so "First Registration" will be dropped.
df.drop(columns="First Registration", inplace=True)

## hp

In [278]:
df.hp.value_counts(dropna=False)

85 kW     2542
66 kW     2122
81 kW     1402
100 kW    1308
110 kW    1112
70 kW      888
125 kW     707
51 kW      695
55 kW      569
118 kW     516
92 kW      466
121 kW     392
147 kW     380
77 kW      345
56 kW      286
54 kW      276
103 kW     253
87 kW      232
165 kW     194
88 kW      177
60 kW      160
162 kW      98
- kW        88
74 kW       81
96 kW       72
71 kW       59
101 kW      47
67 kW       40
154 kW      39
122 kW      35
119 kW      30
164 kW      27
135 kW      24
82 kW       22
52 kW       22
78 kW       20
1 kW        20
294 kW      18
146 kW      18
141 kW      16
57 kW       10
104 kW       8
120 kW       8
191 kW       7
112 kW       7
155 kW       6
117 kW       6
184 kW       5
90 kW        4
76 kW        4
65 kW        4
149 kW       3
80 kW        3
168 kW       3
98 kW        3
93 kW        3
228 kW       2
270 kW       2
53 kW        2
140 kW       2
86 kW        2
167 kW       2
127 kW       2
89 kW        2
143 kW       2
63 kW        2
40 kW        2
150 kW       2
163 kW       1
115 kW       1
132 kW       1
75 kW        1
4 kW         1
137 kW       1
123 kW       1
133 kW       1
84 kW        1
195 kW       1
44 kW        1
239 kW       1
9 kW         1
Name: hp, dtype: int64

In [279]:
df.hp.str.split().str[0].value_counts(dropna=False)

85     2542
66     2122
81     1402
100    1308
110    1112
70      888
125     707
51      695
55      569
118     516
92      466
121     392
147     380
77      345
56      286
54      276
103     253
87      232
165     194
88      177
60      160
162      98
-        88
74       81
96       72
71       59
101      47
67       40
154      39
122      35
119      30
164      27
135      24
82       22
52       22
78       20
1        20
294      18
146      18
141      16
57       10
104       8
120       8
191       7
112       7
155       6
117       6
184       5
90        4
76        4
65        4
149       3
80        3
168       3
98        3
93        3
228       2
270       2
53        2
140       2
86        2
167       2
127       2
89        2
143       2
63        2
40        2
150       2
163       1
115       1
132       1
75        1
4         1
137       1
123       1
133       1
84        1
195       1
44        1
239       1
9         1
Name: hp, dtype: int64

In [280]:
df["hp_kW"] = df.hp.str.split().str[0]
df.drop(columns="hp", inplace=True)

## Type

In [281]:
df.Type.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[, Used, , Diesel (Particulate Filter)]                                                                                                       3475
[, Used, , Diesel]                                                                                                                            2516
[, Used, , Gasoline]                                                                                                                          2367
[, Used, , Super 95]                                                                                                                          1818
[, Pre-registered, , Super 95]                                                                                                                 500
[, New, , Super 95]                                                                                                                            497
[, Employee's car, , Diesel (Particulate Filter)]                                                                                              343
[, New, , Gasoline]                                                                                                                            340
[, Used, , Super 95 / Regular/Benzine 91]                                                                                                      324
[, Employee's car, , Super 95]                                                                                                                 264
[, Demonstration, , Super 95]                                                                                                                  259
[, Pre-registered, , Gasoline]                                                                                                                 198
[, Pre-registered, , Diesel (Particulate Filter)]                                                                                              189
[, New, , Diesel (Particulate Filter)]                                                                                                         179
[, Pre-registered, , Diesel]                                                                                                                   160
[, Demonstration, , Gasoline]                                                                                                                  158
[, Employee's car, , Diesel]                                                                                                                   139
[, New, , Super 95 (Particulate Filter)]                                                                                                       130
[, Demonstration, , Diesel (Particulate Filter)]                                                                                               129
[, Used, , Regular/Benzine 91]                                                                                                                 122
[, New, , Diesel]                                                                                                                              122
[, Used, , Super E10 95]                                                                                                                       122
[, Employee's car, , Gasoline]                                                                                                                 112
[, New, , Super E10 95]                                                                                                                         97
[, New, , Regular/Benzine 91]                                                                                                                   83
[, Employee's car, , Regular/Benzine 91]                                                                                                        77
[, New, , Regular/Benzine 91 (Particulate Filter)]                                                                                              73
[, Used, , Super 95 / Super E10 95]                                                                                                             70
[, Pre-registered, , Super 95 (Particulate Filter)]                                                                                             61
[, Pre-registered, , Super E10 95]                                                                                                              55
[, Demonstration, , Super 95 / Regular/Benzine 91]                                                                                              49
[, Demonstration, , Diesel]                                                                                                                     45
[, Used, , Super 95 (Particulate Filter)]                                                                                                       39
[, Used, , Super 95 / Super Plus 98]                                                                                                            38
[, Pre-registered, , Regular/Benzine 91]                                                                                                        36
[, Demonstration, , Regular/Benzine 91]                                                                                                         36
[, Employee's car, , Super E10 95]                                                                                                              33
[, Demonstration, , Super 95 (Particulate Filter)]                                                                                              32
[, Pre-registered, , Gasoline (Particulate Filter)]                                                                                             28
[, Pre-registered, , Super 95 / Regular/Benzine 91]                                                                                             27
[, Used, , CNG]                                                                                                                                 27
[, Used, , Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98]                                                                         25
[, Demonstration, , Super E10 95]                                                                                                               24
[, Used, , Gasoline (Particulate Filter)]                                                                                                       23
[, Pre-registered, , Super 95 / Super E10 95]                                                                                                   22
[, New, , Super 95 / Super E10 95]                                                                                                              21
[, New, , Super 95 / Regular/Benzine 91]                                                                                                        21
[, New, , Super 95 / Super Plus 98]                                                                                                             20
[, Used, , Super E10 95 / Super 95]                                                                                                             18
[, Demonstration, , Super 95 / Super E10 95]                                                                                                    16
[, Pre-registered, , Super 95 / Super E10 95 (Particulate Filter)]                                                                              16
[, Pre-registered, , Super 95 / Super Plus 98]                                                                                                  15
[, New, , Gasoline (Particulate Filter)]                                                                                                        15
[, Used, , Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98]                           12
[, New, , Super E10 95 / Super 95]                                                                                                              12
[, Demonstration, , Super 95 / Super Plus 98]                                                                                                   12
[, Employee's car, , Regular/Benzine 91 (Particulate Filter)]                                                                                   12
[, Pre-registered, , Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98]                                                               11
[, Employee's car, , Gasoline (Particulate Filter)]                                                                                             10
[, Used, , LPG]                                                                                                                                 10
[, Demonstration, , Regular/Benzine 91 (Particulate Filter)]                                                                                     9
[, Used, , Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98]                                                                          8
[, Demonstration, , Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98]                                                                 8
[, Pre-registered, , Regular/Benzine 91 / Regular/Benzine E10 91]                                                                                7
[, Used, , Liquid petroleum gas (LPG)]                                                                                                           7
[, Employee's car, , Super 95 (Particulate Filter)]                                                                                              6
[, Used, , Regular/Benzine E10 91]                                                                                                               5
[, New, , Super 95 / Super Plus 98 (Particulate Filter)]                                                                                         5
[, New, , Super 95 / Super E10 95 (Particulate Filter)]                                                                                          5
[, Used, , Super 95 / Super Plus 98 (Particulate Filter)]                                                                                        5
[, Used, , Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98]                            5
[, New, , CNG]                                                                                                                                   5
[, New, , Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98]                                                                           5
[, Used, , Electric/Gasoline]                                                                                                                    4
[, Demonstration, , Super 95 / Super Plus 98 (Particulate Filter)]                                                                               4
[, Used, , Super E10 95 / Super Plus E10 98]                                                                                                     4
[, Used, , Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98]                                                                          4
[, Used, , Others]                                                                                                                               3
[, Used, , Super 95 / Super E10 95 (Particulate Filter)]                                                                                         3
[, New, , Super 95 / Super Plus 98 / Super E10 95]                                                                                               3
[, Employee's car, , Super E10 95 / Super 95]                                                                                                    3
[, Pre-registered, , Regular/Benzine E10 91]                                                                                                     3
[, Used, , Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95]                                                                          3
[, Employee's car, , Super 95 / Regular/Benzine 91]                                                                                              3
[, Pre-registered, , Liquid petroleum gas (LPG)]                                                                                                 3
[, Used, , Super 95 / Super Plus 98 / Super E10 95]                                                                                              3
[, New, , Super E10 95 (Particulate Filter)]                                                                                                     3
[, Demonstration, , Super E10 95 / Super 95]                                                                                                     3
[, Used, , Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95]                            3
[, Pre-registered, , Regular/Benzine 91 (Particulate Filter)]                                                                                    3
[, Pre-registered, , LPG]                                                                                                                        3
[, Pre-registered, , Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98 (Particulate Filter)]                                           3
[, Used, , Regular/Benzine 91 (Particulate Filter)]                                                                                              3
[, Pre-registered, , Super Plus 98]                                                                                                              2
[, Employee's car, , Super 95 / Super E10 95]                                                                                                    2
[, Used, , Super 95 / Regular/Benzine 91 / Super Plus 98]                                                                                        2
[, Pre-registered, , Super 95 / Super Plus 98 / Super E10 95]                                                                                    2
[, Used, , Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91]                            2
[, Pre-registered, , Super E10 95 / Super 95]                                                                                                    2
[, New, , Regular/Benzine E10 91]                                                                                                                2
[, New, , Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)]                                                      2
[, Pre-registered, , Super E10 95 / Super 95 / Super Plus 98]                                                                                    2
[, Used, , Super Plus 98]                                                                                                                        2
[, Employee's car, , LPG]                                                                                                                        2
NaN                                                                                                                                              2
[, New, , Super Plus 98]                                                                                                                         2
[, Pre-registered, , Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98]                                                                2
[, Demonstration, , Super 95 / Super E10 95 (Particulate Filter)]                                                                                1
[, New, , Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98]                             1
[, Demonstration, , Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98 / Regular/Benzine E10 91]                   1
[, Pre-registered, , Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)]                                           1
[, Used, , Super E10 95 / Regular/Benzine 91]                                                                                                    1
[, Pre-registered, , Super Plus 98 / Super 95 / Super Plus E10 98]                                                                               1
[, Pre-registered, , Super E10 95 (Particulate Filter)]                                                                                          1
[, Pre-registered, , Super 95 / Super E10 95 / Regular/Benzine 91]                                                                               1
[, Used, , Super 95 / Regular/Benzine E10 91]                                                                                                    1
[, Pre-registered, , Others]                                                                                                                     1
[, Pre-registered, , Super E10 95 / Regular/Benzine 91 / Regular/Benzine E10 91 / Super 95]                                                      1
[, Demonstration, , Super 95 / Regular/Benzine 91 (Particulate Filter)]                                                                          1
[, Used, , Super 95 / Super E10 95 / Super Plus 98]                                                                                              1
[, Demonstration, , Super Plus 98 / Regular/Benzine 91]                                                                                          1
[, Used, , Electric]                                                                                                                             1
[, Demonstration, , Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95]                                                                 1
[, Employee's car, , Super E10 95 / Super 95 / Super Plus 98]                                                                                    1
[, Demonstration, , Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98]                   1
[, Demonstration, , Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95 / Regular/Benzine 91]                   1
[, Employee's car, , Others]                                                                                                                     1
[, Used, , Regular/Benzine 91 / Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Regular/Benzine E10 91]                            1
[, Demonstration, , Gasoline (Particulate Filter)]                                                                                               1
[, Used, , Super 95 / Super E10 95 / Super Plus E10 98]                                                                                          1
[, Used, , Regular/Benzine 91 / Super 95 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91 / Super Plus 98]                            1
[, Pre-registered, , Super E10 95 / Regular/Benzine 91]                                                                                          1
[, New, , LPG]                                                                                                                                   1
[, Used, , Super 95 / Super Plus 98 / Super Plus E10 98]                                                                                         1
[, Used, , Regular/Benzine 91 / Super 95 / Super Plus 98]                                                                                        1
[, Used, , Regular/Benzine 91 / Super 95 / Super E10 95 / Regular/Benzine E10 91]                                                                1

In [282]:
df.Type.str[0].value_counts(dropna=False)

       15917
NaN        2
Name: Type, dtype: int64

In [283]:
df.Type.str[1].value_counts(dropna=False)

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
NaN                   2
Name: Type, dtype: int64

In [284]:
df["used_new"] = df.Type.str[1]

In [285]:
df.Type.str[2].value_counts(dropna=False)

       15917
NaN        2
Name: Type, dtype: int64

In [286]:
df.Type.str[3].value_counts(dropna=False)

Diesel (Particulate Filter)                                                                                                       4315
Super 95                                                                                                                          3338
Gasoline                                                                                                                          3175
Diesel                                                                                                                            2982
Super 95 / Regular/Benzine 91                                                                                                      424
Regular/Benzine 91                                                                                                                 354
Super E10 95                                                                                                                       331
Super 95 (Particulate Filter)                                                                                                      268
Super 95 / Super E10 95                                                                                                            131
Regular/Benzine 91 (Particulate Filter)                                                                                            100
Super 95 / Super Plus 98                                                                                                            85
Gasoline (Particulate Filter)                                                                                                       77
Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98                                                                         40
Super E10 95 / Super 95                                                                                                             38
CNG                                                                                                                                 33
Super 95 / Super E10 95 (Particulate Filter)                                                                                        25
Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98                                                                         19
LPG                                                                                                                                 16
Super 95 / Super Plus 98 (Particulate Filter)                                                                                       14
Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98                           13
Regular/Benzine E10 91                                                                                                              11
Liquid petroleum gas (LPG)                                                                                                          10
Super 95 / Super Plus 98 / Super E10 95                                                                                              8
Regular/Benzine 91 / Regular/Benzine E10 91                                                                                          7
Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98                            7
Super Plus 98                                                                                                                        7
Super E10 95 (Particulate Filter)                                                                                                    7
Others                                                                                                                               5
Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95                                                                          5
Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95                            4
Super E10 95 / Super Plus E10 98                                                                                                     4
Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)                                                     4
Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98                                                                          4
Electric/Gasoline                                                                                                                    4
Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98 (Particulate Filter)                                                     3
Super E10 95 / Super 95 / Super Plus 98                                                                                              3
CNG (Particulate Filter)                                                                                                             3
Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91                            2
Super 95 / Regular/Benzine 91 / Super Plus 98                                                                                        2
NaN                                                                                                                                  2
Super E10 95 / Regular/Benzine 91                                                                                                    2
Regular/Benzine 91 / Super 95 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91 / Super Plus 98                            1
Regular/Benzine 91 / Super 95 / Super E10 95 / Regular/Benzine E10 91                                                                1
Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98 / Regular/Benzine E10 91                            1
Super E10 95 / Regular/Benzine 91 / Regular/Benzine E10 91 / Super 95                                                                1
Super 95 / Regular/Benzine E10 91                                                                                                    1
Electric                                                                                                                             1
Super 95 / Super E10 95 / Super Plus E10 98                                                                                          1
Regular/Benzine 91 / Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Regular/Benzine E10 91                            1
Super 95 / Super Plus 98 / Super Plus E10 98                                                                                         1
Regular/Benzine 91 / Super 95 / Super E10 95                                                                                         1
Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95 / Regular/Benzine 91                            1
Super Plus 98 / Regular/Benzine 91                                                                                                   1
Super 95 / Regular/Benzine 91 (Particulate Filter)                                                                                   1
Super 95 / Super E10 95 / Regular/Benzine 91                                                                                         1
Super 95 / Super E10 95 / Super Plus 98                                                                                              1
Super 95 / Regular/Benzine E10 91 / Super E10 95                                                                                     1
Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98                            1
Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Super 95 / Regular/Benzine 91                            1
Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98                                                     1
Others (Particulate Filter)                                                                                                          1
Biogas                                                                                                                               1
Super 95 / Biodiesel                                                                                                                 1
Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91 (Particulate Filter)       1
Regular/Benzine 91 / Super 95 / Super Plus 98                                                                                        1
Regular/Benzine 91 / Super 95                                                                                                        1
Regular/Benzine E10 91 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98                            1
Domestic gas H                                                                                                                       1
Super E10 95 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98                            1
Super Plus E10 98 / Super 95 / Super Plus 98 / Super E10 95                                                                          1
Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Regular/Benzine E10 91                            1
Super Plus 98 / Super 95 / Super E10 95                                                                                              1
Super Plus E10 98                                                                                                                    1
Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91                                                                               1
Super Plus 98 / Super E10 95                                                                                                         1
Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95                            1
Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98                            1
Super Plus 98 / Super 95 / Super Plus E10 98                                                                                         1
Name: Type, dtype: int64

## fuel_type column is generated.

In [287]:
df["fuel_type"] = df.Type.str[3]
df.fuel_type.value_counts(dropna=False)

Diesel (Particulate Filter)                                                                                                       4315
Super 95                                                                                                                          3338
Gasoline                                                                                                                          3175
Diesel                                                                                                                            2982
Super 95 / Regular/Benzine 91                                                                                                      424
Regular/Benzine 91                                                                                                                 354
Super E10 95                                                                                                                       331
Super 95 (Particulate Filter)                                                                                                      268
Super 95 / Super E10 95                                                                                                            131
Regular/Benzine 91 (Particulate Filter)                                                                                            100
Super 95 / Super Plus 98                                                                                                            85
Gasoline (Particulate Filter)                                                                                                       77
Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98                                                                         40
Super E10 95 / Super 95                                                                                                             38
CNG                                                                                                                                 33
Super 95 / Super E10 95 (Particulate Filter)                                                                                        25
Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98                                                                         19
LPG                                                                                                                                 16
Super 95 / Super Plus 98 (Particulate Filter)                                                                                       14
Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98                           13
Regular/Benzine E10 91                                                                                                              11
Liquid petroleum gas (LPG)                                                                                                          10
Super 95 / Super Plus 98 / Super E10 95                                                                                              8
Regular/Benzine 91 / Regular/Benzine E10 91                                                                                          7
Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98                            7
Super Plus 98                                                                                                                        7
Super E10 95 (Particulate Filter)                                                                                                    7
Others                                                                                                                               5
Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95                                                                          5
Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95                            4
Super E10 95 / Super Plus E10 98                                                                                                     4
Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)                                                     4
Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98                                                                          4
Electric/Gasoline                                                                                                                    4
Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98 (Particulate Filter)                                                     3
Super E10 95 / Super 95 / Super Plus 98                                                                                              3
CNG (Particulate Filter)                                                                                                             3
Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91                            2
Super 95 / Regular/Benzine 91 / Super Plus 98                                                                                        2
NaN                                                                                                                                  2
Super E10 95 / Regular/Benzine 91                                                                                                    2
Regular/Benzine 91 / Super 95 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91 / Super Plus 98                            1
Regular/Benzine 91 / Super 95 / Super E10 95 / Regular/Benzine E10 91                                                                1
Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98 / Regular/Benzine E10 91                            1
Super E10 95 / Regular/Benzine 91 / Regular/Benzine E10 91 / Super 95                                                                1
Super 95 / Regular/Benzine E10 91                                                                                                    1
Electric                                                                                                                             1
Super 95 / Super E10 95 / Super Plus E10 98                                                                                          1
Regular/Benzine 91 / Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Regular/Benzine E10 91                            1
Super 95 / Super Plus 98 / Super Plus E10 98                                                                                         1
Regular/Benzine 91 / Super 95 / Super E10 95                                                                                         1
Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95 / Regular/Benzine 91                            1
Super Plus 98 / Regular/Benzine 91                                                                                                   1
Super 95 / Regular/Benzine 91 (Particulate Filter)                                                                                   1
Super 95 / Super E10 95 / Regular/Benzine 91                                                                                         1
Super 95 / Super E10 95 / Super Plus 98                                                                                              1
Super 95 / Regular/Benzine E10 91 / Super E10 95                                                                                     1
Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98                            1
Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Super 95 / Regular/Benzine 91                            1
Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98                                                     1
Others (Particulate Filter)                                                                                                          1
Biogas                                                                                                                               1
Super 95 / Biodiesel                                                                                                                 1
Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91 (Particulate Filter)       1
Regular/Benzine 91 / Super 95 / Super Plus 98                                                                                        1
Regular/Benzine 91 / Super 95                                                                                                        1
Regular/Benzine E10 91 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98                            1
Domestic gas H                                                                                                                       1
Super E10 95 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98                            1
Super Plus E10 98 / Super 95 / Super Plus 98 / Super E10 95                                                                          1
Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Regular/Benzine E10 91                            1
Super Plus 98 / Super 95 / Super E10 95                                                                                              1
Super Plus E10 98                                                                                                                    1
Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91                                                                               1
Super Plus 98 / Super E10 95                                                                                                         1
Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95                            1
Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98                            1
Super Plus 98 / Super 95 / Super Plus E10 98                                                                                         1
Name: fuel_type, dtype: int64

In [288]:
df[["Fuel", "fuel_type"]].sample(100) ## they have the same values. Fuel will be dropped.

                                                                        Fuel                                                    fuel_type
11590                                  [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
11256                                                     [\n, Super 95, \n]                                                     Super 95
4159                                   [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
14573                                                 [\n, Super E10 95, \n]                                                 Super E10 95
7590                                                      [\n, Super 95, \n]                                                     Super 95
13810                                                       [\n, Diesel, \n]                                                       Diesel
8072                                                      [\n, Gasoline, \n]                                                     Gasoline
13835                                  [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
12677                                                     [\n, Super 95, \n]                                                     Super 95
3279                                                      [\n, Super 95, \n]                                                     Super 95
12320                                  [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
10564                                  [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
13824                                  [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
14121                                                     [\n, Super 95, \n]                                                     Super 95
9905                                                      [\n, Super 95, \n]                                                     Super 95
6375                                   [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
7141                                                      [\n, Super 95, \n]                                                     Super 95
15882                                           [\n, Regular/Benzine 91, \n]                                           Regular/Benzine 91
11163                                                       [\n, Diesel, \n]                                                       Diesel
773                                    [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
991                                                       [\n, Gasoline, \n]                                                     Gasoline
11692                                  [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
11702                                                     [\n, Gasoline, \n]                                                     Gasoline
15109                                                       [\n, Diesel, \n]                                                       Diesel
706                                                       [\n, Gasoline, \n]                                                     Gasoline
11997                                  [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
1850                                   [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
12668                                [\n, Super 95 (Particulate Filter), \n]                                Super 95 (Particulate Filter)
6632                                                      [\n, Super 95, \n]                                                     Super 95
1912                                 [\n, Super 95 / Regular/Benzine 91, \n]                                Super 95 / Regular/Benzine 91
9077                                                      [\n, Gasoline, \n]                                                     Gasoline
5106                                                      [\n, Gasoline, \n]                                                     Gasoline
7032                                   [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
3677                                                      [\n, Super 95, \n]                                                     Super 95
9348                                                      [\n, Super 95, \n]                                                     Super 95
3263                                   [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
9640                                                      [\n, Gasoline, \n]                                                     Gasoline
12071                                                     [\n, Super 95, \n]                                                     Super 95
10160                                                     [\n, Gasoline, \n]                                                     Gasoline
1802                                                      [\n, Gasoline, \n]                                                     Gasoline
14064                                                     [\n, Gasoline, \n]                                                     Gasoline
10542                                  [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
14675                                                     [\n, Gasoline, \n]                                                     Gasoline
7824                                                        [\n, Diesel, \n]                                                       Diesel
5404                                                        [\n, Diesel, \n]                                                       Diesel
2458                                                      [\n, Gasoline, \n]                                                     Gasoline
559                                                       [\n, Super 95, \n]                                                     Super 95
1230                                                      [\n, Gasoline, \n]                                                     Gasoline
10992                                                       [\n, Diesel, \n]                                                       Diesel
12885                                                     [\n, Super 95, \n]                                                     Super 95
14214                                                     [\n, Gasoline, \n]                                                     Gasoline
2182                       [\n, Regular/Benzine 91 (Particulate Filter), \n]                      Regular/Benzine 91 (Particulate Filter)
1719                                                        [\n, Diesel, \n]                                                       Diesel
14655                                                          [\n, LPG, \n]                                                          LPG
6337                                                      [\n, Gasoline, \n]                                                     Gasoline
7784                                   [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
15439                                                       [\n, Diesel, \n]                                                       Diesel
13682                                                       [\n, Diesel, \n]                                                       Diesel
5834                                   [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
4608                                   [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
7994                                 [\n, Gasoline (Particulate Filter), \n]                                Gasoline (Particulate Filter)
1939                                                      [\n, Gasoline, \n]                                                     Gasoline
12848                                  [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
13108                                                     [\n, Super 95, \n]                                                     Super 95
4698                                                        [\n, Diesel, \n]                                                       Diesel
3524                                   [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
5672                                                      [\n, Gasoline, \n]                                                     Gasoline
7922                                  [\n, Super Plus 98 / Super E10 95, \n]                                 Super Plus 98 / Super E10 95
15838                                                       [\n, Diesel, \n]                                                       Diesel
10778                                  [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
14614                                                     [\n, Super 95, \n]                                                     Super 95
12078                                  [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
3290                                   [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
6390                                                        [\n, Diesel, \n]                                                       Diesel
9656                                                      [\n, Super 95, \n]                                                     Super 95
4843                                                      [\n, Gasoline, \n]                                                     Gasoline
3180                                   [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
14027                                                     [\n, Gasoline, \n]                                                     Gasoline
1006   [\n, Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98, \n]  Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98
9999                                                  [\n, Super E10 95, \n]                                                 Super E10 95
219                                    [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
1700                                   [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
8696                                                      [\n, Super 95, \n]                                                     Super 95
10851                                  [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
11494                                  [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
6107                                   [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
9377                                                      [\n, Gasoline, \n]                                                     Gasoline
7321                                                        [\n, Diesel, \n]                                                       Diesel
12725                                [\n, Super 95 / Regular/Benzine 91, \n]                                Super 95 / Regular/Benzine 91
8848                                                  [\n, Super E10 95, \n]                                                 Super E10 95
5574                                                        [\n, Diesel, \n]                                                       Diesel
8526                                                      [\n, Super 95, \n]                                                     Super 95
5615                                                      [\n, Gasoline, \n]                                                     Gasoline
12262                                  [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
10123                                                     [\n, Super 95, \n]                                                     Super 95
11138                                  [\n, Diesel (Particulate Filter), \n]                                  Diesel (Particulate Filter)
7703                                 [\n, Super 95 / Regular/Benzine 91, \n]                                Super 95 / Regular/Benzine 91
13331                                                     [\n, Gasoline, \n]                                                     Gasoline
2281                                                      [\n, Super 95, \n]                                                     Super 95
3210                                                      [\n, Super 95, \n]                                                     Super 95

In [289]:
df.drop(columns="Fuel", inplace=True)

In [290]:
df.Type.str[4].value_counts(dropna=False)

NaN    15919
Name: Type, dtype: int64

In [291]:
df.columns

Index(['make_model', 'short_description', 'body_type', 'price', 'vat', 'km', 'registration', 'prev_owner', 'Type', 'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty', 'Full Service', 'Non-smoking Vehicle', 'null', 'Offer Number', 'Body Color', 'Paint Type', 'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors', 'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement', 'Cylinders', 'Weight', 'Drive chain', 'Consumption', 'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n', 'description', 'Emission Label', 'Gears', 'Country version', 'make', 'hp_kW', 'used_new', 'fuel_type'], dtype='object')

In [292]:
df.drop(columns="Type", inplace=True)

## null

In [293]:
df.null.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]    15919
Name: null, dtype: int64

In [294]:
df.drop(columns="null", inplace=True)

## Offer Number

In [295]:
df["Offer Number"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                               3175
[\nLT67679\n]                                       27
[\nUN89904\n]                                       27
[\nXJ38068\n]                                       27
[\nJV03654\n]                                       27
                                                  ...
[\n160_dcbb6c3e-a6da-43a3-8754-ccd994cec93b\n]       1
[\n6701576\n]                                        1
[\n6701569\n]                                        1
[\n158121\n]                                         1
[\nRe_30000008029\n]                                 1
Name: Offer Number, Length: 11441, dtype: int64

In [296]:
df["Offer Number"].str[0].str.strip().value_counts(dropna=False)

NaN                                         3175
LT67679                                       27
UN89904                                       27
XJ38068                                       27
JV03654                                       27
                                            ...
160_dcbb6c3e-a6da-43a3-8754-ccd994cec93b       1
6701576                                        1
6701569                                        1
158121                                         1
Re_30000008029                                 1
Name: Offer Number, Length: 11441, dtype: int64

In [297]:
df["Offer Number"].str[0].str.strip()

0             LR-062483
1                   NaN
2              AM-95365
3                   NaN
4                 C1626
              ...
15914          10988301
15915       507370_3223
15916          Espace16
15917           2691331
15918    Re_30000008029
Name: Offer Number, Length: 15919, dtype: object

In [298]:
df["Offer Number"].sample(100)

13081                                       [\nA17001\n]
5213                                      [\n11400724\n]
12629                                      [\n2253034\n]
6574                                       [\nLT67679\n]
11310                                    [\n57925-252\n]
6992                                      [\nBS088786\n]
15445                                       [\nNV568G\n]
3526                                      [\nBA375295\n]
11411                                     [\nBA344433\n]
14686                                      [\n3063243\n]
2990                                        [\n217413\n]
7324                                        [\n355902\n]
11899                              [\nH089R_105536747\n]
11987                                      [\n1176447\n]
7563                                                 NaN
1501                                      [\nGW10457a\n]
11493                              [\nRW-HK2709_11985\n]
9728                                                 NaN
15263                                       [\nc061c3\n]
96                                         [\nU_17883\n]
12599                                        [\n71261\n]
3183                                                 NaN
4981                                       [\n4712245\n]
464                                          [\n5456M\n]
1431                                      [\n70-49393\n]
13850                                                NaN
4502                                       [\nA122641\n]
5355                                      [\n10163549\n]
6860                                       [\n8467JYB\n]
2963                                                 NaN
10344                             [\n035_463_2175_732\n]
14932                                                NaN
3737                                       [\n8753KHW\n]
4171     [\n2594_05049913-4871-4e56-942d-3dbbf5a4fd1a\n]
9497                                                 NaN
1779                                    [\nN17911W361\n]
5974                                                 NaN
12042                               [\ndallgow1504-22\n]
14182                                                NaN
3830                                                 NaN
3606                                                 NaN
7691                                        [\n040929\n]
8936                                       [\n2721937\n]
7403                                            [\n45\n]
14463                                                NaN
1135                                       [\nGW-D601\n]
13984                                      [\n1615520\n]
501                                                  NaN
5643                                     [\nGW-KJZ179\n]
918                                  [\n14226---97-Q2\n]
11206                                                NaN
13524                                      [\n2665248\n]
8056                                        [\n316431\n]
5305                                       [\nGW-K445\n]
14676                                        [\n29750\n]
5811                                      [\nG17328-1\n]
15485                                       [\n338958\n]
2308                                        [\n121714\n]
15167                                      [\n4946499\n]
6854                                     [\n100084159\n]
15839                                    [\n122662399\n]
5115                                      [\nKU_20749\n]
11412                                     [\nBA344433\n]
8263                                        [\nHX856N\n]
5060                                    [\n5000826742\n]
13473                                      [\nHM53619\n]
9297                                       [\n2881229\n]
9595                               [\nF1B_513_893_824\n]
8052                                     [\n518202/73\n]
12372                       [\nAL28-HL1904-0316-0956Y\n]
12479                                        [\n71296\n]
15107                               [\nteco-DZ-362-EH\n]
5807                                    [\n2020980739\n]
10750                                       [\n227148\n]
14077                                     [\n11646453\n]
6771                                                 NaN
8908                                                 NaN
10473                                          [\n590\n]
12592                                   [\n8033262-Q2\n]
5631                                      [\nGW-V2957\n]
1590                                       [\nGW4255a\n]
1529                                        [\n500923\n]
2811                                                 NaN
4322                                       [\n6590KBV\n]
417                                     [\nB086211-Q2\n]
14838                                       [\nH16297\n]
10539                                      [\n1066811\n]
3153                                                 NaN
10378                                                NaN
7263                                      [\nJG071079\n]
11961                               [\nGW-J1120650-79\n]
12345                                                NaN
11547                                    [\n56050-100\n]
14079                                        [\n68715\n]
2891                                       [\n5050209\n]
10629                                       [\n220568\n]
10204                                      [\n2004568\n]
3434                                                 NaN
13359                                     [\nBR727019\n]
9489                                           [\n154\n]
Name: Offer Number, dtype: object

In [299]:
# not usefull also we can not use it as index because there is many null values.
df.drop(columns=["Offer Number"] , inplace=True)

In [300]:
df.columns

Index(['make_model', 'short_description', 'body_type', 'price', 'vat', 'km', 'registration', 'prev_owner', 'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty', 'Full Service', 'Non-smoking Vehicle', 'Body Color', 'Paint Type', 'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors', 'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement', 'Cylinders', 'Weight', 'Drive chain', 'Consumption', 'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n', 'description', 'Emission Label', 'Gears', 'Country version', 'make', 'hp_kW', 'used_new', 'fuel_type'], dtype='object')

## Body color

In [301]:
df['Body Color'].str[1].str.strip().value_counts(dropna=False)

Black     3745
Grey      3505
White     3406
Silver    1647
Blue      1431
Red        957
NaN        597
Brown      289
Green      154
Beige      108
Yellow      51
Violet      18
Bronze       6
Orange       3
Gold         2
Name: Body Color, dtype: int64

In [302]:
df.color = df['Body Color'].str[1].str.strip()

In [303]:
df.drop(columns='Body Color', inplace=True)

In [304]:
df.color.value_counts()

Black     3745
Grey      3505
White     3406
Silver    1647
Blue      1431
Red        957
Brown      289
Green      154
Beige      108
Yellow      51
Violet      18
Bronze       6
Orange       3
Gold         2
Name: Body Color, dtype: int64

In [305]:
df.columns

Index(['make_model', 'short_description', 'body_type', 'price', 'vat', 'km', 'registration', 'prev_owner', 'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty', 'Full Service', 'Non-smoking Vehicle', 'Paint Type', 'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors', 'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement', 'Cylinders', 'Weight', 'Drive chain', 'Consumption', 'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n', 'description', 'Emission Label', 'Gears', 'Country version', 'make', 'hp_kW', 'used_new', 'fuel_type'], dtype='object')

## Body Color Original

In [306]:
df["Body Color Original"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                    3759
[\nOnyx Schwarz\n]                      338
[\nBianco\n]                            282
[\nMythosschwarz Metallic\n]            238
[\nBrillantschwarz\n]                   216
                                       ...
[\nRouge-Braun (G0Y)\n]                   1
[\nVARI COLRI DISPONIBILI\n]              1
[\nKokosnussbraun Metallic\n]             1
[\nFarbe frei wählbar\n]                  1
[\nPerlmutt-Weiß Metallic (Weiß)\n]       1
Name: Body Color Original, Length: 1928, dtype: int64

In [307]:
df["Body Color Original"].str[0].str.strip().value_counts(dropna=False)

NaN                              3759
Onyx Schwarz                      338
Bianco                            282
Mythosschwarz Metallic            238
Brillantschwarz                   216
                                 ...
Rouge-Braun (G0Y)                   1
VARI COLRI DISPONIBILI              1
Kokosnussbraun Metallic             1
Farbe frei wählbar                  1
Perlmutt-Weiß Metallic (Weiß)       1
Name: Body Color Original, Length: 1928, dtype: int64

In [308]:
df.original_color = df["Body Color Original"].str[0].str.strip()

In [309]:
df.drop(columns="Body Color Original", inplace=True)

In [310]:
df.columns

Index(['make_model', 'short_description', 'body_type', 'price', 'vat', 'km', 'registration', 'prev_owner', 'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty', 'Full Service', 'Non-smoking Vehicle', 'Paint Type', 'Upholstery', 'Body', 'Nr. of Doors', 'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement', 'Cylinders', 'Weight', 'Drive chain', 'Consumption', 'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n', 'description', 'Emission Label', 'Gears', 'Country version', 'make', 'hp_kW', 'used_new', 'fuel_type'], dtype='object')

## Upholstery

In [311]:
df.Upholstery.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nCloth, Black\n]           5821
NaN                          3720
[\nPart leather, Black\n]    1121
[\nCloth\n]                  1005
[\nCloth, Grey\n]             891
[\nCloth, Other\n]            639
[\nFull leather, Black\n]     575
[\nBlack\n]                   491
[\nGrey\n]                    273
[\nOther, Other\n]            182
[\nPart leather\n]            140
[\nFull leather\n]            139
[\nFull leather, Brown\n]     116
[\nPart leather, Grey\n]      116
[\nOther, Black\n]            110
[\nFull leather, Other\n]      72
[\nFull leather, Grey\n]       67
[\nPart leather, Other\n]      65
[\nOther\n]                    56
[\nPart leather, Brown\n]      50
[\nalcantara, Black\n]         47
[\nVelour, Black\n]            36
[\nFull leather, Beige\n]      36
[\nCloth, Brown\n]             28
[\nVelour\n]                   16
[\nOther, Grey\n]              15
[\nCloth, Beige\n]             13
[\nBrown\n]                    12
[\nCloth, Blue\n]              12
[\nVelour, Grey\n]              8
[\nCloth, White\n]              8
[\nalcantara, Grey\n]           6
[\nCloth, Red\n]                5
[\nOther, Yellow\n]             4
[\nPart leather, Red\n]         3
[\nBeige\n]                     3
[\nPart leather, White\n]       2
[\nFull leather, Blue\n]        2
[\nalcantara, Other\n]          2
[\nalcantara\n]                 2
[\nWhite\n]                     2
[\nPart leather, Beige\n]       2
[\nBlue\n]                      2
[\nCloth, Orange\n]             1
[\nFull leather, Red\n]         1
[\nOther, Brown\n]              1
[\nFull leather, White\n]       1
Name: Upholstery, dtype: int64

In [312]:
df.Upholstery.str[0].str.strip().value_counts(dropna=False)

Cloth, Black           5821
NaN                    3720
Part leather, Black    1121
Cloth                  1005
Cloth, Grey             891
Cloth, Other            639
Full leather, Black     575
Black                   491
Grey                    273
Other, Other            182
Part leather            140
Full leather            139
Full leather, Brown     116
Part leather, Grey      116
Other, Black            110
Full leather, Other      72
Full leather, Grey       67
Part leather, Other      65
Other                    56
Part leather, Brown      50
alcantara, Black         47
Velour, Black            36
Full leather, Beige      36
Cloth, Brown             28
Velour                   16
Other, Grey              15
Cloth, Beige             13
Brown                    12
Cloth, Blue              12
Velour, Grey              8
Cloth, White              8
alcantara, Grey           6
Cloth, Red                5
Other, Yellow             4
Part leather, Red         3
Beige                     3
Part leather, White       2
Full leather, Blue        2
alcantara, Other          2
alcantara                 2
White                     2
Part leather, Beige       2
Blue                      2
Cloth, Orange             1
Full leather, Red         1
Other, Brown              1
Full leather, White       1
Name: Upholstery, dtype: int64

In [313]:
df.Upholstery.str[0].str.strip().str.split(pat=",").str[0].value_counts(dropna=False)

Cloth           8423
NaN             3720
Part leather    1499
Full leather    1009
Black            491
Other            368
Grey             273
Velour            60
alcantara         57
Brown             12
Beige              3
Blue               2
White              2
Name: Upholstery, dtype: int64

In [314]:
df.Upholstery.str[0].str.strip().str.split(pat=",").str[0].replace(dict.fromkeys(
    ["Black", "Grey", "Other", "Brown", "Beige", "Blue", "White"], np.NaN)
                                                                      ).value_counts(dropna=False)

Cloth           8423
NaN             4871
Part leather    1499
Full leather    1009
Velour            60
alcantara         57
Name: Upholstery, dtype: int64

In [315]:
df["upholstery_kind"] = df.Upholstery.str[0].str.strip().str.split(pat=",").str[0].replace(dict.fromkeys(
    ["Black", "Grey", "Other", "Brown", "Beige", "Blue", "White"], np.NaN)
                                                                      )

In [316]:
df.Upholstery.str[0].str.strip().str.split(pat=",").str[1].value_counts(dropna=False)

 Black     7710
NaN        5861
 Grey      1103
 Other      960
 Brown      195
 Beige       51
 Blue        14
 White       11
 Red          9
 Yellow       4
 Orange       1
Name: Upholstery, dtype: int64

In [317]:
df["upholstery_color"] = df.Upholstery.str[0].str.strip().str.split(pat=",").str[1]

In [318]:
df.drop(columns="Upholstery", inplace=True)

## Body & body_type

In [319]:
df.Body.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Sedans, \n]           7903
[\n, Station wagon, \n]    3553
[\n, Compact, \n]          3153
[\n, Van, \n]               783
[\n, Other, \n]             290
[\n, Transporter, \n]        88
NaN                          60
[\n, Off-Road, \n]           56
[\n, Coupe, \n]              25
[\n, Convertible, \n]         8
Name: Body, dtype: int64

In [320]:
df.Body.str[1].str.strip().value_counts(dropna=False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: Body, dtype: int64

In [321]:
df.body_type.value_counts(dropna=False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [322]:
# they are the same.
df.drop(columns="Body", inplace=True)

In [323]:
df.columns

Index(['make_model', 'short_description', 'body_type', 'price', 'vat', 'km', 'registration', 'prev_owner', 'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty', 'Full Service', 'Non-smoking Vehicle', 'Paint Type', 'Nr. of Doors', 'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement', 'Cylinders', 'Weight', 'Drive chain', 'Consumption', 'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n', 'description', 'Emission Label', 'Gears', 'Country version', 'make', 'hp_kW', 'used_new', 'fuel_type', 'upholstery_kind', 'upholstery_color'], dtype='object')

## "Nr. of Doors"

In [324]:
df["Nr. of Doors"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    11575
[\n4\n]     3079
[\n3\n]      832
[\n2\n]      219
NaN          212
[\n1\n]        1
[\n7\n]        1
Name: Nr. of Doors, dtype: int64

In [325]:
df["Nr. of Doors"].str[0].str.strip().value_counts(dropna=False)

5      11575
4       3079
3        832
2        219
NaN      212
1          1
7          1
Name: Nr. of Doors, dtype: int64

In [326]:
df["door_count"] = df["Nr. of Doors"].str[0].str.strip()

In [327]:
df.drop(columns="Nr. of Doors", inplace=True)

## "Nr. of Seats"

In [328]:
df["Nr. of Seats"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    13336
[\n4\n]     1125
NaN          977
[\n7\n]      362
[\n2\n]      116
[\n6\n]        2
[\n3\n]        1
Name: Nr. of Seats, dtype: int64

In [329]:
df["Nr. of Seats"].str[0].str.strip().value_counts(dropna=False)

5      13336
4       1125
NaN      977
7        362
2        116
6          2
3          1
Name: Nr. of Seats, dtype: int64

In [330]:
df["seat_count"] = df["Nr. of Seats"].str[0].str.strip()

In [331]:
df.drop(columns="Nr. of Seats", inplace=True)

In [332]:
df.columns

Index(['make_model', 'short_description', 'body_type', 'price', 'vat', 'km', 'registration', 'prev_owner', 'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty', 'Full Service', 'Non-smoking Vehicle', 'Paint Type', 'Model Code', 'Gearing Type', 'Displacement', 'Cylinders', 'Weight', 'Drive chain', 'Consumption', 'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n', 'description', 'Emission Label', 'Gears', 'Country version', 'make', 'hp_kW', 'used_new', 'fuel_type', 'upholstery_kind', 'upholstery_color', 'door_count', 'seat_count'], dtype='object')

## Gearing Type & Gears

In [333]:
df["Gearing Type"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Manual, \n]            8153
[\n, Automatic, \n]         7297
[\n, Semi-automatic, \n]     469
Name: Gearing Type, dtype: int64

In [334]:
df["Gearing Type"].str[1].str.strip().value_counts(dropna=False)

Manual            8153
Automatic         7297
Semi-automatic     469
Name: Gearing Type, dtype: int64

In [335]:
df["auto_manuel"] = df["Gearing Type"].str[1].str.strip()

In [336]:
df[["auto_manuel", "Gears"]].sample(100) # they are different.

          auto_manuel    Gears
9169           Manual  [\n5\n]
5270        Automatic  [\n7\n]
323         Automatic      NaN
1401           Manual  [\n5\n]
3252        Automatic  [\n7\n]
14501          Manual  [\n5\n]
11149          Manual  [\n6\n]
14932       Automatic  [\n6\n]
14247          Manual  [\n5\n]
5154        Automatic  [\n7\n]
9102           Manual  [\n5\n]
6205           Manual  [\n6\n]
5913        Automatic      NaN
8446        Automatic      NaN
15647       Automatic      NaN
14806          Manual  [\n5\n]
11636          Manual  [\n6\n]
11649          Manual  [\n6\n]
14768          Manual  [\n5\n]
976         Automatic      NaN
7853        Automatic  [\n6\n]
10231          Manual  [\n5\n]
4396           Manual      NaN
7575           Manual  [\n6\n]
1933        Automatic  [\n7\n]
10204          Manual  [\n5\n]
10683       Automatic  [\n6\n]
394         Automatic  [\n7\n]
14083       Automatic      NaN
10370          Manual  [\n5\n]
11008          Manual  [\n6\n]
2079        Automatic  [\n7\n]
11354       Automatic  [\n8\n]
14375       Automatic  [\n1\n]
15721       Automatic      NaN
5022        Automatic      NaN
2334           Manual  [\n6\n]
2767        Automatic  [\n6\n]
14681          Manual      NaN
9957        Automatic      NaN
3552           Manual  [\n6\n]
11089          Manual  [\n6\n]
4067           Manual  [\n6\n]
2416           Manual  [\n5\n]
4524        Automatic  [\n7\n]
2223           Manual  [\n6\n]
595            Manual  [\n5\n]
3918        Automatic  [\n7\n]
14005          Manual      NaN
10303          Manual  [\n5\n]
5846        Automatic  [\n6\n]
335         Automatic  [\n7\n]
13019       Automatic  [\n8\n]
14795          Manual      NaN
8006           Manual  [\n6\n]
5841        Automatic      NaN
10673       Automatic      NaN
8351        Automatic      NaN
12480       Automatic  [\n8\n]
7241           Manual  [\n6\n]
6694        Automatic      NaN
9269           Manual  [\n5\n]
8442        Automatic  [\n5\n]
11710          Manual  [\n6\n]
3629   Semi-automatic  [\n7\n]
9944        Automatic  [\n6\n]
14746          Manual  [\n5\n]
5661           Manual      NaN
1987        Automatic  [\n7\n]
8456        Automatic  [\n6\n]
9370           Manual      NaN
262         Automatic  [\n7\n]
9112           Manual  [\n6\n]
2980        Automatic      NaN
913         Automatic      NaN
5750        Automatic  [\n6\n]
7997           Manual  [\n5\n]
13797  Semi-automatic  [\n6\n]
2735        Automatic  [\n7\n]
10573       Automatic  [\n6\n]
11434       Automatic      NaN
5003        Automatic  [\n7\n]
7092        Automatic      NaN
13367       Automatic      NaN
11955       Automatic  [\n6\n]
13565          Manual  [\n5\n]
5169        Automatic  [\n7\n]
10740       Automatic  [\n6\n]
14482          Manual      NaN
7872        Automatic  [\n6\n]
6726        Automatic  [\n6\n]
506            Manual  [\n5\n]
8905   Semi-automatic  [\n5\n]
3873        Automatic  [\n7\n]
934            Manual  [\n5\n]
3322   Semi-automatic  [\n7\n]
7899           Manual      NaN
10639       Automatic      NaN
15052       Automatic  [\n6\n]
8567        Automatic      NaN

In [337]:
df.drop(columns= "Gearing Type", inplace=True)

In [338]:
df.columns

Index(['make_model', 'short_description', 'body_type', 'price', 'vat', 'km', 'registration', 'prev_owner', 'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty', 'Full Service', 'Non-smoking Vehicle', 'Paint Type', 'Model Code', 'Displacement', 'Cylinders', 'Weight', 'Drive chain', 'Consumption', 'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n', 'description', 'Emission Label', 'Gears', 'Country version', 'make', 'hp_kW', 'used_new', 'fuel_type', 'upholstery_kind', 'upholstery_color', 'door_count', 'seat_count', 'auto_manuel'], dtype='object')

## Displacement

In [339]:
df.Displacement.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n1,598 cc\n]     4761
[\n999 cc\n]       2438
[\n1,398 cc\n]     1314
[\n1,399 cc\n]      749
[\n1,229 cc\n]      677
[\n1,956 cc\n]      670
[\n1,461 cc\n]      595
[\n1,490 cc\n]      559
NaN                 496
[\n1,422 cc\n]      467
[\n1,197 cc\n]      353
[\n898 cc\n]        351
[\n1,395 cc\n]      320
[\n1,968 cc\n]      301
[\n1,149 cc\n]      288
[\n1,618 cc\n]      212
[\n1,798 cc\n]      210
[\n1,498 cc\n]      196
[\n1,600 cc\n]      130
[\n1,248 cc\n]      110
[\n1,997 cc\n]      103
[\n1,364 cc\n]      102
[\n1,400 cc\n]       90
[\n998 cc\n]         72
[\n1,500 cc\n]       50
[\n2,000 cc\n]       46
[\n1,000 cc\n]       40
[\n1 cc\n]           36
[\n1,998 cc\n]       25
[\n2,480 cc\n]       20
[\n1,200 cc\n]       18
[\n1,984 cc\n]       18
[\n1,397 cc\n]       11
[\n899 cc\n]         11
[\n160 cc\n]          6
[\n929 cc\n]          5
[\n1,499 cc\n]        5
[\n997 cc\n]          4
[\n1,596 cc\n]        4
[\n139 cc\n]          4
[\n900 cc\n]          4
[\n1,599 cc\n]        3
[\n1,199 cc\n]        3
[\n1,396 cc\n]        3
[\n1,495 cc\n]        2
[\n1,589 cc\n]        2
[\n1,300 cc\n]        2
[\n2 cc\n]            2
[\n995 cc\n]          2
[\n1,496 cc\n]        1
[\n890 cc\n]          1
[\n1,580 cc\n]        1
[\n1,995 cc\n]        1
[\n1,333 cc\n]        1
[\n54 cc\n]           1
[\n1,533 cc\n]        1
[\n1,100 cc\n]        1
[\n1,350 cc\n]        1
[\n16,000 cc\n]       1
[\n1,856 cc\n]        1
[\n1,568 cc\n]        1
[\n1,896 cc\n]        1
[\n1,584 cc\n]        1
[\n996 cc\n]          1
[\n1,696 cc\n]        1
[\n1,686 cc\n]        1
[\n15,898 cc\n]       1
[\n1,368 cc\n]        1
[\n140 cc\n]          1
[\n973 cc\n]          1
[\n1,239 cc\n]        1
[\n1,369 cc\n]        1
[\n1,390 cc\n]        1
[\n122 cc\n]          1
[\n1,198 cc\n]        1
[\n1,195 cc\n]        1
[\n2,967 cc\n]        1
[\n1,800 cc\n]        1
Name: Displacement, dtype: int64

In [340]:
df.Displacement.str[0].str.strip().str.split().str[0].str.replace(",", "").value_counts(dropna=False)

1598     4761
999      2438
1398     1314
1399      749
1229      677
1956      670
1461      595
1490      559
NaN       496
1422      467
1197      353
898       351
1395      320
1968      301
1149      288
1618      212
1798      210
1498      196
1600      130
1248      110
1997      103
1364      102
1400       90
998        72
1500       50
2000       46
1000       40
1          36
1998       25
2480       20
1200       18
1984       18
1397       11
899        11
160         6
929         5
1499        5
997         4
1596        4
139         4
900         4
1599        3
1199        3
1396        3
1495        2
1589        2
1300        2
2           2
995         2
1496        1
890         1
1580        1
1995        1
1333        1
54          1
1533        1
1100        1
1350        1
16000       1
1856        1
1568        1
1896        1
1584        1
996         1
1696        1
1686        1
15898       1
1368        1
140         1
973         1
1239        1
1369        1
1390        1
122         1
1198        1
1195        1
2967        1
1800        1
Name: Displacement, dtype: int64

In [341]:
df["displacement_cc"] = df.Displacement.str[0].str.strip().str.split().str[0].str.replace(",", "")

In [342]:
df.drop(columns="Displacement", inplace=True)

In [343]:
df.columns

Index(['make_model', 'short_description', 'body_type', 'price', 'vat', 'km', 'registration', 'prev_owner', 'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty', 'Full Service', 'Non-smoking Vehicle', 'Paint Type', 'Model Code', 'Cylinders', 'Weight', 'Drive chain', 'Consumption', 'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n', 'description', 'Emission Label', 'Gears', 'Country version', 'make', 'hp_kW', 'used_new', 'fuel_type', 'upholstery_kind', 'upholstery_color', 'door_count', 'seat_count', 'auto_manuel', 'displacement_cc'], dtype='object')

## Consumption

In [344]:
df.Consumption.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                   1906
[[3.9 l/100 km (comb)], [4.1 l/100 km (city)], [3.7 l/100 km (country)]]               304
[[4.2 l/100 km (comb)], [5 l/100 km (city)], [3.7 l/100 km (country)]]                 276
[[5.4 l/100 km (comb)], [6.8 l/100 km (city)], [4.5 l/100 km (country)]]               257
[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]               253
                                                                                      ...
[[4.2 l/100 km (comb)], [5.3 l/100 km (city)], [3.6 l/100 km (country)]]                 1
[\n, 5.1 l/100 km (comb), \n, 6.4 l/100 km (city), \n, 4.3 l/100 km (country), \n]       1
[[4.6 l/100 km (comb)], [5.4 l/100 km (city)], [6.7 l/100 km (country)]]                 1
[\n, 6.3 l/100 km (comb), \n, \n, \n]                                                    1
[\n, 7.4 l/100 km (comb), \n, 9.6 l/100 km (city), \n, 6 l/100 km (country), \n]         1
Name: Consumption, Length: 882, dtype: int64

In [345]:
df[["Consumption"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 1 columns):
 #   Column       Dtype
---  ------       -----
 0   Consumption  object
dtypes: object(1)
memory usage: 124.5+ KB

In [346]:
df.Consumption.str[0].str.strip().value_counts(dropna=False)

NaN    15069
         850
Name: Consumption, dtype: int64

In [347]:
df.Consumption.str[0].str[0].str.split().str[0]

0        3.8
1        5.6
2        3.8
3        3.8
4        4.1
        ...
15914    5.3
15915    NaN
15916    5.3
15917    5.3
15918    6.8
Name: Consumption, Length: 15919, dtype: object

In [348]:
df.Consumption.str[0].str[0].str.split().str[0]

0        3.8
1        5.6
2        3.8
3        3.8
4        4.1
        ...
15914    5.3
15915    NaN
15916    5.3
15917    5.3
15918    6.8
Name: Consumption, Length: 15919, dtype: object

In [349]:
df.Consumption.str[0].str[0].str.split().str[0].value_counts(dropna=False)

NaN     2883
3.9      732
4        712
5.4      663
5.1      630
4.4      595
3.8      585
5.6      568
4.7      555
4.8      523
5        513
4.5      511
5.2      429
4.6      420
4.2      408
5.3      375
3.7      369
4.9      348
5.5      342
4.1      341
5.9      308
3.3      307
5.7      302
4.3      295
3.5      288
6        278
3.6      194
6.2      184
5.8      142
6.3      141
6.1      135
6.8      134
6.6      119
3.4      106
3         69
6.4       64
7.4       62
7.1       38
6.5       36
10        34
6.7       33
3.2       25
6.9       21
8.3       20
7.6       14
7          9
3.1        7
7.2        6
7.8        6
8          5
51         4
8.7        3
8.6        3
7.3        2
7.9        2
8.1        2
40         2
38         2
0          2
11         1
43         1
7.5        1
13.8       1
55         1
54         1
1.2        1
32         1
33         1
50         1
1          1
46         1
9.1        1
Name: Consumption, dtype: int64

In [350]:
df.Consumption.str[0].str[0].str.split().str[0]

0        3.8
1        5.6
2        3.8
3        3.8
4        4.1
        ...
15914    5.3
15915    NaN
15916    5.3
15917    5.3
15918    6.8
Name: Consumption, Length: 15919, dtype: object

In [351]:
df.Consumption.str[2].str.strip().value_counts(dropna=False)

NaN    15069
         850
Name: Consumption, dtype: int64

In [352]:
df.Consumption.str[3].str.strip().value_counts(dropna=False)

NaN                     15069
7.3 l/100 km (city)        81
7.8 l/100 km (city)        72
6.7 l/100 km (city)        60
7.5 l/100 km (city)        50
7.2 l/100 km (city)        48
5.9 l/100 km (city)        45
7.7 l/100 km (city)        39
7.1 l/100 km (city)        37
5.8 l/100 km (city)        33
5.4 l/100 km (city)        32
5 l/100 km (city)          27
6.2 l/100 km (city)        26
7.9 l/100 km (city)        24
8.2 l/100 km (city)        22
6.3 l/100 km (city)        21
7.6 l/100 km (city)        21
6.4 l/100 km (city)        20
8.3 l/100 km (city)        16
8.6 l/100 km (city)        15
6.6 l/100 km (city)        15
                           14
5.2 l/100 km (city)        12
6 l/100 km (city)          12
6.8 l/100 km (city)        11
5.7 l/100 km (city)        11
7 l/100 km (city)          10
8 l/100 km (city)           9
8.5 l/100 km (city)         9
7.4 l/100 km (city)         9
5.1 l/100 km (city)         9
5.5 l/100 km (city)         9
6.9 l/100 km (city)         8
5.6 l/100 km (city)         4
8.1 l/100 km (city)         4
8.7 l/100 km (city)         3
9.2 l/100 km (city)         3
8.4 l/100 km (city)         2
3.8 l/100 km (city)         1
6.1 l/100 km (city)         1
4.7 l/100 km (city)         1
9.5 l/100 km (city)         1
9.4 l/100 km (city)         1
11.5 l/100 km (city)        1
9.6 l/100 km (city)         1
Name: Consumption, dtype: int64

In [353]:
df.Consumption.str[5].str.strip().value_counts(dropna=False)

NaN                       15083
4.2 l/100 km (country)       77
4.9 l/100 km (country)       71
4.6 l/100 km (country)       70
4.4 l/100 km (country)       69
4.5 l/100 km (country)       59
4.7 l/100 km (country)       53
4.8 l/100 km (country)       52
5.3 l/100 km (country)       51
5.4 l/100 km (country)       49
4 l/100 km (country)         34
5.2 l/100 km (country)       33
3.7 l/100 km (country)       30
3.8 l/100 km (country)       27
5 l/100 km (country)         24
4.3 l/100 km (country)       24
4.1 l/100 km (country)       23
5.6 l/100 km (country)       23
3.9 l/100 km (country)       18
5.1 l/100 km (country)       17
5.7 l/100 km (country)       13
6 l/100 km (country)          7
5.5 l/100 km (country)        6
6.3 l/100 km (country)        3
3.3 l/100 km (country)        1
6.1 l/100 km (country)        1
7 l/100 km (country)          1
Name: Consumption, dtype: int64

In [354]:
df["consumption_comb"] = df.Consumption.str[0].str[0].str.strip().str.split().str[0]

In [355]:
df["consumption_comb"].value_counts(dropna=False)

NaN     2883
3.9      732
4        712
5.4      663
5.1      630
4.4      595
3.8      585
5.6      568
4.7      555
4.8      523
5        513
4.5      511
5.2      429
4.6      420
4.2      408
5.3      375
3.7      369
4.9      348
5.5      342
4.1      341
5.9      308
3.3      307
5.7      302
4.3      295
3.5      288
6        278
3.6      194
6.2      184
5.8      142
6.3      141
6.1      135
6.8      134
6.6      119
3.4      106
3         69
6.4       64
7.4       62
7.1       38
6.5       36
10        34
6.7       33
3.2       25
6.9       21
8.3       20
7.6       14
7          9
3.1        7
7.2        6
7.8        6
8          5
51         4
8.7        3
8.6        3
7.3        2
7.9        2
8.1        2
40         2
38         2
0          2
11         1
43         1
7.5        1
13.8       1
55         1
54         1
1.2        1
32         1
33         1
50         1
1          1
46         1
9.1        1
Name: consumption_comb, dtype: int64

In [356]:
df[["Consumption", "consumption_comb"]].to_csv("consumption.csv", index=False )

In [357]:
df.columns

Index(['make_model', 'short_description', 'body_type', 'price', 'vat', 'km', 'registration', 'prev_owner', 'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty', 'Full Service', 'Non-smoking Vehicle', 'Paint Type', 'Model Code', 'Cylinders', 'Weight', 'Drive chain', 'Consumption', 'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n', 'description', 'Emission Label', 'Gears', 'Country version', 'make', 'hp_kW', 'used_new', 'fuel_type', 'upholstery_kind', 'upholstery_color', 'door_count', 'seat_count', 'auto_manuel', 'displacement_cc', 'consumption_comb'], dtype='object')

## CO2 Emission

In [358]:
df["CO2 Emission"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                             1808
[\n120 g CO2/km (comb)\n]        740
[[], [], []]                     628
[\n99 g CO2/km (comb)\n]         545
[\n97 g CO2/km (comb)\n]         537
[\n104 g CO2/km (comb)\n]        501
[\n102 g CO2/km (comb)\n]        477
[\n103 g CO2/km (comb)\n]        445
[\n114 g CO2/km (comb)\n]        382
[\n124 g CO2/km (comb)\n]        372
[\n107 g CO2/km (comb)\n]        362
[\n108 g CO2/km (comb)\n]        362
[\n119 g CO2/km (comb)\n]        361
[\n106 g CO2/km (comb)\n]        349
[\n128 g CO2/km (comb)\n]        329
[\n126 g CO2/km (comb)\n]        282
[\n85 g CO2/km (comb)\n]         275
[\n118 g CO2/km (comb)\n]        270
[\n110 g CO2/km (comb)\n]        266
[\n127 g CO2/km (comb)\n]        257
[\n117 g CO2/km (comb)\n]        254
[\n111 g CO2/km (comb)\n]        237
[\n113 g CO2/km (comb)\n]        235
[\n109 g CO2/km (comb)\n]        234
[\n139 g CO2/km (comb)\n]        224
[\n140 g CO2/km (comb)\n]        218
[\n129 g CO2/km (comb)\n]        213
[\n105 g CO2/km (comb)\n]        202
[\n135 g CO2/km (comb)\n]        202
[\n92 g CO2/km (comb)\n]         198
[\n130 g CO2/km (comb)\n]        180
[\n123 g CO2/km (comb)\n]        178
[\n150 g CO2/km (comb)\n]        174
[\n112 g CO2/km (comb)\n]        171
[\n143 g CO2/km (comb)\n]        171
[\n95 g CO2/km (comb)\n]         161
[\n116 g CO2/km (comb)\n]        157
[\n141 g CO2/km (comb)\n]        156
[\n98 g CO2/km (comb)\n]         151
[\n133 g CO2/km (comb)\n]        145
[\n136 g CO2/km (comb)\n]        145
[\n137 g CO2/km (comb)\n]        133
[\n125 g CO2/km (comb)\n]        132
[\n134 g CO2/km (comb)\n]        130
[\n145 g CO2/km (comb)\n]        126
[\n149 g CO2/km (comb)\n]        117
[\n153 g CO2/km (comb)\n]        113
[\n147 g CO2/km (comb)\n]        109
[\n101 g CO2/km (comb)\n]        105
[\n132 g CO2/km (comb)\n]        100
[\n115 g CO2/km (comb)\n]         86
[\n122 g CO2/km (comb)\n]         83
[\n121 g CO2/km (comb)\n]         82
[\n138 g CO2/km (comb)\n]         75
[\n93 g CO2/km (comb)\n]          66
[\n168 g CO2/km (comb)\n]         58
[\n142 g CO2/km (comb)\n]         58
[\n148 g CO2/km (comb)\n]         48
[\n131 g CO2/km (comb)\n]         48
[\n154 g CO2/km (comb)\n]         40
[\n144 g CO2/km (comb)\n]         40
[\n94 g CO2/km (comb)\n]          37
[\n146 g CO2/km (comb)\n]         36
[\n100 g CO2/km (comb)\n]         36
[\n90 g CO2/km (comb)\n]          35
[\n151 g CO2/km (comb)\n]         34
[\n91 g CO2/km (comb)\n]          31
[\n186 g CO2/km (comb)\n]         30
[\n152 g CO2/km (comb)\n]         28
[\n187 g CO2/km (comb)\n]         26
[\n172 g CO2/km (comb)\n]         25
[\n82 g CO2/km (comb)\n]          25
[\n96 g CO2/km (comb)\n]          22
[\n189 g CO2/km (comb)\n]         19
[\n89 g CO2/km (comb)\n]          19
[\n157 g CO2/km (comb)\n]         18
[\n158 g CO2/km (comb)\n]         17
[\n88 g CO2/km (comb)\n]          15
[\n169 g CO2/km (comb)\n]         15
[\n156 g CO2/km (comb)\n]         14
[\n164 g CO2/km (comb)\n]         13
[\n161 g CO2/km (comb)\n]         10
[\n170 g CO2/km (comb)\n]         10
[\n166 g CO2/km (comb)\n]          8
[\n175 g CO2/km (comb)\n]          8
[\n155 g CO2/km (comb)\n]          8
[\n188 g CO2/km (comb)\n]          7
[\n159 g CO2/km (comb)\n]          7
[\n174 g CO2/km (comb)\n]          6
[\n87 g CO2/km (comb)\n]           6
[\n197 g CO2/km (comb)\n]          4
[\n194 g CO2/km (comb)\n]          3
[\n5 g CO2/km (comb)\n]            3
[\n36 g CO2/km (comb)\n]           3
[\n12,087 g CO2/km (comb)\n]       3
[\n84 g CO2/km (comb)\n]           2
[\n191 g CO2/km (comb)\n]          2
[\n167 g CO2/km (comb)\n]          2
[\n0 g CO2/km (comb)\n]            2
[\n199 g CO2/km (comb)\n]          2
[\n162 g CO2/km (comb)\n]          2
[\n177 g CO2/km (comb)\n]          1
[\n181 g CO2/km (comb)\n]          1
[\n331 g CO2/km (comb)\n]          1
[\n45 g CO2/km (comb)\n]           1
[\n180 g CO2/km (comb)\n]          1
[\n171 g CO2/km (comb)\n]          1
[\n183 g CO2/km (comb)\n]          1
[\n1 g CO2/km (comb)\n]            1
[\n13,983 g CO2/km (comb)\n]       1
[\n184 g CO2/km (comb)\n]          1
[\n14,457 g CO2/km (comb)\n]       1
[\n12,324 g CO2/km (comb)\n]       1
[\n239 g CO2/km (comb)\n]          1
[\n160 g CO2/km (comb)\n]          1
[\n190 g CO2/km (comb)\n]          1
[\n80 g CO2/km (comb)\n]           1
[\n990 g CO2/km (comb)\n]          1
[\n253 g CO2/km (comb)\n]          1
[\n14 g CO2/km (comb)\n]           1
[\n1,060 g CO2/km (comb)\n]        1
[\n51 g CO2/km (comb)\n]           1
[\n165 g CO2/km (comb)\n]          1
[\n193 g CO2/km (comb)\n]          1
Name: CO2 Emission, dtype: int64

In [359]:
df["CO2 Emission"].str[0].str.strip().value_counts(dropna=False)

NaN                       2436
120 g CO2/km (comb)        740
99 g CO2/km (comb)         545
97 g CO2/km (comb)         537
104 g CO2/km (comb)        501
102 g CO2/km (comb)        477
103 g CO2/km (comb)        445
114 g CO2/km (comb)        382
124 g CO2/km (comb)        372
107 g CO2/km (comb)        362
108 g CO2/km (comb)        362
119 g CO2/km (comb)        361
106 g CO2/km (comb)        349
128 g CO2/km (comb)        329
126 g CO2/km (comb)        282
85 g CO2/km (comb)         275
118 g CO2/km (comb)        270
110 g CO2/km (comb)        266
127 g CO2/km (comb)        257
117 g CO2/km (comb)        254
111 g CO2/km (comb)        237
113 g CO2/km (comb)        235
109 g CO2/km (comb)        234
139 g CO2/km (comb)        224
140 g CO2/km (comb)        218
129 g CO2/km (comb)        213
105 g CO2/km (comb)        202
135 g CO2/km (comb)        202
92 g CO2/km (comb)         198
130 g CO2/km (comb)        180
123 g CO2/km (comb)        178
150 g CO2/km (comb)        174
112 g CO2/km (comb)        171
143 g CO2/km (comb)        171
95 g CO2/km (comb)         161
116 g CO2/km (comb)        157
141 g CO2/km (comb)        156
98 g CO2/km (comb)         151
133 g CO2/km (comb)        145
136 g CO2/km (comb)        145
137 g CO2/km (comb)        133
125 g CO2/km (comb)        132
134 g CO2/km (comb)        130
145 g CO2/km (comb)        126
149 g CO2/km (comb)        117
153 g CO2/km (comb)        113
147 g CO2/km (comb)        109
101 g CO2/km (comb)        105
132 g CO2/km (comb)        100
115 g CO2/km (comb)         86
122 g CO2/km (comb)         83
121 g CO2/km (comb)         82
138 g CO2/km (comb)         75
93 g CO2/km (comb)          66
168 g CO2/km (comb)         58
142 g CO2/km (comb)         58
148 g CO2/km (comb)         48
131 g CO2/km (comb)         48
154 g CO2/km (comb)         40
144 g CO2/km (comb)         40
94 g CO2/km (comb)          37
146 g CO2/km (comb)         36
100 g CO2/km (comb)         36
90 g CO2/km (comb)          35
151 g CO2/km (comb)         34
91 g CO2/km (comb)          31
186 g CO2/km (comb)         30
152 g CO2/km (comb)         28
187 g CO2/km (comb)         26
172 g CO2/km (comb)         25
82 g CO2/km (comb)          25
96 g CO2/km (comb)          22
189 g CO2/km (comb)         19
89 g CO2/km (comb)          19
157 g CO2/km (comb)         18
158 g CO2/km (comb)         17
88 g CO2/km (comb)          15
169 g CO2/km (comb)         15
156 g CO2/km (comb)         14
164 g CO2/km (comb)         13
161 g CO2/km (comb)         10
170 g CO2/km (comb)         10
166 g CO2/km (comb)          8
175 g CO2/km (comb)          8
155 g CO2/km (comb)          8
188 g CO2/km (comb)          7
159 g CO2/km (comb)          7
174 g CO2/km (comb)          6
87 g CO2/km (comb)           6
197 g CO2/km (comb)          4
194 g CO2/km (comb)          3
5 g CO2/km (comb)            3
36 g CO2/km (comb)           3
12,087 g CO2/km (comb)       3
84 g CO2/km (comb)           2
191 g CO2/km (comb)          2
167 g CO2/km (comb)          2
0 g CO2/km (comb)            2
199 g CO2/km (comb)          2
162 g CO2/km (comb)          2
177 g CO2/km (comb)          1
181 g CO2/km (comb)          1
331 g CO2/km (comb)          1
45 g CO2/km (comb)           1
180 g CO2/km (comb)          1
171 g CO2/km (comb)          1
183 g CO2/km (comb)          1
1 g CO2/km (comb)            1
13,983 g CO2/km (comb)       1
184 g CO2/km (comb)          1
14,457 g CO2/km (comb)       1
12,324 g CO2/km (comb)       1
239 g CO2/km (comb)          1
160 g CO2/km (comb)          1
190 g CO2/km (comb)          1
80 g CO2/km (comb)           1
990 g CO2/km (comb)          1
253 g CO2/km (comb)          1
14 g CO2/km (comb)           1
1,060 g CO2/km (comb)        1
51 g CO2/km (comb)           1
165 g CO2/km (comb)          1
193 g CO2/km (comb)          1
Name: CO2 Emission, dtype: int64

In [360]:
df["CO2 Emission"].str[0].str.strip().str.split().str[0].value_counts(dropna=False)

NaN       2436
120        740
99         545
97         537
104        501
102        477
103        445
114        382
124        372
107        362
108        362
119        361
106        349
128        329
126        282
85         275
118        270
110        266
127        257
117        254
111        237
113        235
109        234
139        224
140        218
129        213
105        202
135        202
92         198
130        180
123        178
150        174
112        171
143        171
95         161
116        157
141        156
98         151
133        145
136        145
137        133
125        132
134        130
145        126
149        117
153        113
147        109
101        105
132        100
115         86
122         83
121         82
138         75
93          66
168         58
142         58
148         48
131         48
154         40
144         40
94          37
146         36
100         36
90          35
151         34
91          31
186         30
152         28
187         26
172         25
82          25
96          22
189         19
89          19
157         18
158         17
88          15
169         15
156         14
164         13
161         10
170         10
166          8
175          8
155          8
188          7
159          7
174          6
87           6
197          4
194          3
5            3
36           3
12,087       3
84           2
191          2
167          2
0            2
199          2
162          2
177          1
181          1
331          1
45           1
180          1
171          1
183          1
1            1
13,983       1
184          1
14,457       1
12,324       1
239          1
160          1
190          1
80           1
990          1
253          1
14           1
1,060        1
51           1
165          1
193          1
Name: CO2 Emission, dtype: int64

In [361]:
df["co2_emission"] = df["CO2 Emission"].str[0].str.strip().str.split().str[0]

In [362]:
df.drop(columns="CO2 Emission", inplace=True)

In [363]:
df.columns

Index(['make_model', 'short_description', 'body_type', 'price', 'vat', 'km', 'registration', 'prev_owner', 'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty', 'Full Service', 'Non-smoking Vehicle', 'Paint Type', 'Model Code', 'Cylinders', 'Weight', 'Drive chain', 'Consumption', 'Emission Class', '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n', 'description', 'Emission Label', 'Gears', 'Country version', 'make', 'hp_kW', 'used_new', 'fuel_type', 'upholstery_kind', 'upholstery_color', 'door_count', 'seat_count', 'auto_manuel', 'displacement_cc', 'consumption_comb', 'co2_emission'], dtype='object')

In [364]:
df["Emission Class"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nEuro 6\n]          10139
NaN                    3021
[\nEuro 6d-TEMP\n]     1845
[[], [], []]            607
[\nEuro 6c\n]           127
[\nEuro 5\n]             78
[\nEuro 6d\n]            62
[\nEuro 4\n]             40
Name: Emission Class, dtype: int64

In [365]:
df["Emission Class"].str[0].str.strip().value_counts(dropna=False)

Euro 6          10139
NaN              3628
Euro 6d-TEMP     1845
Euro 6c           127
Euro 5             78
Euro 6d            62
Euro 4             40
Name: Emission Class, dtype: int64

In [366]:
df.emission_class = df["Emission Class"].str[0].str.strip()

In [367]:
df.drop(columns="Emission Class", inplace=True)

In [368]:
df.columns

Index(['make_model', 'short_description', 'body_type', 'price', 'vat', 'km', 'registration', 'prev_owner', 'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty', 'Full Service', 'Non-smoking Vehicle', 'Paint Type', 'Model Code', 'Cylinders', 'Weight', 'Drive chain', 'Consumption', '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n', 'description', 'Emission Label', 'Gears', 'Country version', 'make', 'hp_kW', 'used_new', 'fuel_type', 'upholstery_kind', 'upholstery_color', 'door_count', 'seat_count', 'auto_manuel', 'displacement_cc', 'consumption_comb', 'co2_emission'], dtype='object')

## '\nComfort & Convenience\n'

In [369]:
df['\nComfort & Convenience\n']

0                                                                                                                                                                                               [Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]
1                                                                                                                                                                                                                                                                                                                                   [Air conditioning, Automatic climate control, Hill Holder, Leather steering wheel, Lumbar support, Parking assist system sensors rear, Power windows, Start-stop system, Tinted windows]
2                                                                                                                                                                                                                         [Air conditioning, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Seat heating, Start-stop system]
3                                                                                                                                                                                                                                [Air suspension, Armrest, Auxiliary heating, Electrical side mirrors, Heads-up display, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system]
4                                                                                                                                                                                                                                                [Air conditioning, Armrest, Automatic climate control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Start-stop system]
                                                                                                                                                                                                                                                                ...
15914                                                                  [Air conditioning, Automatic climate control, Cruise control, Electrically adjustable seats, Electrical side mirrors, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Massage seats, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Split rear seats, Start-stop system, Tinted windows]
15915    [Air conditioning, Automatic climate control, Cruise control, Electrically heated windshield, Electrical side mirrors, Electric tailgate, Heads-up display, Heated steering wheel, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Lumbar support, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system self-steering, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating,...
15916    [Air conditioning, Armrest, Automatic climate control, Cruise control, Electrically heated windshield, Electrical side mirrors, Electric tailgate, Heads-up display, Heated steering wheel, Leather steering wheel, Light sensor, Massage seats, Multi-function steering wheel, Navigation system, Panorama roof, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Seat ventilation, Sunr...
15917                                                                                                                                                                                                                                                                                                   [Air conditioning, Automatic climate control, Cruise control, Electrically adjustable seats, Electrical side mirrors, Leather steering wheel, Light sensor, Park Distance Control, Power windows, Start-stop system]
15918                                                                                                                                                                                                                                                                                          [Air conditioning, Automatic climate control, Cruise control, Electrically adjustable seats, Electrical side mirrors, Electric tailgate, Hill Holder, Leather steering wheel, Navigation system, Power windows, Seat heating]
Name: \nComfort & Convenience\n, Length: 15919, dtype: object

In [370]:
df['\nComfort & Convenience\n'].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          920
[Air conditioning, Electrical side mirrors, Hill Holder, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                      216
[Air conditioning, Electrical side mirrors, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                                   134
[Air conditioning, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            130
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]                                                                                                                                                         105
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ...
[Air conditioning, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Split rear seats, Start-stop system, Tinted windows]                                                                                                                                                                                                                   1
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Sunroof]                                                                                                   1
[Air conditioning, Armrest, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system, Tinted windows]                                                                                                                     1
[Air conditioning, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating]                                                                                                                                                                                                                          1
[Air conditioning, Automatic climate control, Cruise control, Electrically heated windshield, Electrical side mirrors, Electric tailgate, Heads-up display, Heated steering wheel, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Lumbar support, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system self-steering, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Sunroof]      1
Name: \nComfort & Convenience\n, Length: 6199, dtype: int64

In [371]:
df['\nComfort & Convenience\n'].str[1]

0                          Armrest
1        Automatic climate control
2                   Cruise control
3                          Armrest
4                          Armrest
                   ...
15914    Automatic climate control
15915    Automatic climate control
15916                      Armrest
15917    Automatic climate control
15918    Automatic climate control
Name: \nComfort & Convenience\n, Length: 15919, dtype: object

In [372]:
df['\nComfort & Convenience\n'].sample(50)

3759                                                                                                                                                                                                     [Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Split rear seats, Start-stop system]
14751                                                                                                                                                                                                                                                                                                                                                                         [Air conditioning, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Multi-function steering wheel, Power windows]
5128                                                                                                                                                                                                                                       [Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Hill Holder, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]
3073                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     NaN
7695                                                                                  [Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]
15257    [Air conditioning, Armrest, Automatic climate control, Cruise control, Electrically adjustable seats, Electrical side mirrors, Electric tailgate, Heads-up display, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Massage seats, Multi-function steering wheel, Navigation system, Panorama roof, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-...
9358                                                                                                                                    [Air conditioning, Armrest, Cruise control, Electrically adjustable seats, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating]
1589                                                                                                                                                                                                                                                             [Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Light sensor, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Rain sensor, Seat heating]
7583                                                                                                                                                                                                                                                                              [Air conditioning, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system sensors rear, Power windows, Start-stop system]
8660                                                                                                                                                                                                                                                                                                                                                                                                                         [Air conditioning, Electrical side mirrors, Hill Holder, Leather steering wheel, Power windows]
5077                                                                                                                                                                                                                   [Air conditioning, Automatic climate control, Cruise control, Electrical side mirrors, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Start-stop system]
1518                                                                                                                                                                                                         [Air conditioning, Armrest, Automatic climate control, Electrical side mirrors, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]
3066                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     NaN
14362                                                                                      [Air conditioning, Automatic climate control, Cruise control, Electrical side mirrors, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]
8551                                                                                                                                                                    [Air conditioning, Armrest, Cruise control, Electrically heated windshield, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Tinted windows]
5704                                                                                                                                                                                                                                                            [Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Hill Holder, Keyless central door lock, Multi-function steering wheel, Park Distance Control, Parking assist system sensors rear, Rain sensor, Seat heating]
9676                                                                                                                                            [Air conditioning, Automatic climate control, Cruise control, Electrically heated windshield, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Multi-function steering wheel, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Seat heating]
9823                                                                                                                                                                                                                                                                                                                                                                                                               [Air conditioning, Cruise control, Electrical side mirrors, Multi-function steering wheel, Power windows]
4531                                                                                                                                                                                                                                                                                                                                                                                      [Air conditioning, Automatic climate control, Cruise control, Multi-function steering wheel, Park Distance Control, Power windows]
12944                                                                                                                                                                                                                                                                                                                                                                                             [Air conditioning, Cruise control, Electrically adjustable seats, Navigation system, Park Distance Control, Power windows]
4709                                                                                                                                                                                                                        [Air conditioning, Automatic climate control, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]
4771                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       [Air conditioning, Power windows]
14344                                                                                                                                                                                                                                                                                                                                              [Air conditioning, Automatic climate control, Auxiliary heating, Cruise control, Electrical side mirrors, Multi-function steering wheel, Power windows, Split rear seats]
10711                                                                                                      [Air conditioning, Armrest, Automatic climate control, Auxiliary heating, Cruise control, Electrically adjustable seats, Electrical side mirrors, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating]
5182                                                                                                                                                                                                              [Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors rear, Power windows, Seat ventilation, Split rear seats, Start-stop system]
12801    [Air conditioning, Armrest, Automatic climate control, Cruise control, Electrically adjustable seats, Electrical side mirrors, Heads-up display, Heated steering wheel, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats...
13541                                                                                                                                                                                                                                                                                                                                                                                                           [Air conditioning, Armrest, Cruise control, Multi-function steering wheel, Navigation system, Power windows]
15245                                                                                                                                                                                    [Air conditioning, Automatic climate control, Cruise control, Electrically adjustable seats, Light sensor, Multi-function steering wheel, Navigation system, Panorama roof, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Start-stop system, Sunroof]
1099                                                                                                                                                                                                                                                                                                                          [Air conditioning, Armrest, Electrical side mirrors, Hill Holder, Leather steering wheel, Multi-function steering wheel, Power windows, Seat ventilation, Split rear seats, Start-stop system]
778                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      NaN
4455                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     NaN
2645                                                                                                                                                           [Air conditioning, Armrest, Automatic climate control, Cruise control, Electrically heated windshield, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Split rear seats]
1552                                                                                                                                                                                                                                                                                                                                                                   [Air conditioning, Automatic climate control, Cruise control, Multi-function steering wheel, Park Distance Control, Power windows, Start-stop system]
10756                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            [Air conditioning, Armrest]
2469                                                                                                                                                                                                               [Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]
14527                                                                                                                                                                                                                                                                                                                                                                                                                               [Cruise control, Electrical side mirrors, Hill Holder, Power windows, Start-stop system]
3594                                                                                                                                        [Air conditioning, Automatic climate control, Cruise control, Electrical side mirrors, Keyless central door lock, Leather steering wheel, Multi-function steering wheel, Navigation system, Panorama roof, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system, Sunroof]
14933    [Air conditioning, Air suspension, Armrest, Automatic climate control, Electrically adjustable seats, Electrically heated windshield, Electrical side mirrors, Electric tailgate, Heads-up display, Keyless central door lock, Leather steering wheel, Light sensor, Lumbar support, Massage seats, Multi-function steering wheel, Navigation system, Panorama roof, Parking assist system camera, Parking assist system self-steering, Parking assist system sensors front, Parking assist system sensors rear,...
7865                                                                                                                     [Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]

In [373]:
def unique_values(df, column):
    '''finds the  unique values of an iterable column'''
    unique_lst = []
    for i in df[column]:
        if type(i) is not float:
            for ii in i:
                if ii not in unique_lst:
                    unique_lst.append(ii)
    return unique_lst

In [374]:
unique_values(df, '\nComfort & Convenience\n')

['Air conditioning',
 'Armrest',
 'Automatic climate control',
 'Cruise control',
 'Electrical side mirrors',
 'Hill Holder',
 'Leather steering wheel',
 'Light sensor',
 'Multi-function steering wheel',
 'Navigation system',
 'Park Distance Control',
 'Parking assist system sensors rear',
 'Power windows',
 'Rain sensor',
 'Seat heating',
 'Start-stop system',
 'Lumbar support',
 'Tinted windows',
 'Parking assist system sensors front',
 'Air suspension',
 'Auxiliary heating',
 'Heads-up display',
 'Split rear seats',
 'Keyless central door lock',
 'Electrically heated windshield',
 'Seat ventilation',
 'Wind deflector',
 'Leather seats',
 'Sunroof',
 'Panorama roof',
 'Parking assist system camera',
 'Electrically adjustable seats',
 'Parking assist system self-steering',
 'Windshield',
 'Electric tailgate',
 'Heated steering wheel',
 'Massage seats',
 'Electric Starter']

In [375]:
df['comfort']= [','.join(i).strip() if isinstance(i, list) else i for i in df['\nComfort & Convenience\n']]

In [376]:
df["comfort"]

0                                                                                                                                                                                              Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system
1                                                                                                                                                                                                                                                                                                                           Air conditioning,Automatic climate control,Hill Holder,Leather steering wheel,Lumbar support,Parking assist system sensors rear,Power windows,Start-stop system,Tinted windows
2                                                                                                                                                                                                                     Air conditioning,Cruise control,Electrical side mirrors,Hill Holder,Leather steering wheel,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Seat heating,Start-stop system
3                                                                                                                                                                                                                               Air suspension,Armrest,Auxiliary heating,Electrical side mirrors,Heads-up display,Hill Holder,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Power windows,Rain sensor,Seat heating,Split rear seats,Start-stop system
4                                                                                                                                                                                                                                            Air conditioning,Armrest,Automatic climate control,Electrical side mirrors,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system sensors rear,Power windows,Rain sensor,Start-stop system
                                                                                                                                                                                                                                                       ...
15914                                                                     Air conditioning,Automatic climate control,Cruise control,Electrically adjustable seats,Electrical side mirrors,Hill Holder,Keyless central door lock,Leather steering wheel,Light sensor,Massage seats,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Split rear seats,Start-stop system,Tinted windows
15915    Air conditioning,Automatic climate control,Cruise control,Electrically heated windshield,Electrical side mirrors,Electric tailgate,Heads-up display,Heated steering wheel,Hill Holder,Keyless central door lock,Leather steering wheel,Light sensor,Lumbar support,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system self-steering,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Sunroof
15916          Air conditioning,Armrest,Automatic climate control,Cruise control,Electrically heated windshield,Electrical side mirrors,Electric tailgate,Heads-up display,Heated steering wheel,Leather steering wheel,Light sensor,Massage seats,Multi-function steering wheel,Navigation system,Panorama roof,Park Distance Control,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Seat ventilation,Sunroof
15917                                                                                                                                                                                                                                                                                            Air conditioning,Automatic climate control,Cruise control,Electrically adjustable seats,Electrical side mirrors,Leather steering wheel,Light sensor,Park Distance Control,Power windows,Start-stop system
15918                                                                                                                                                                                                                                                                                    Air conditioning,Automatic climate control,Cruise control,Electrically adjustable seats,Electrical side mirrors,Electric tailgate,Hill Holder,Leather steering wheel,Navigation system,Power windows,Seat heating
Name: comfort, Length: 15919, dtype: object

In [377]:
df.comfort.value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  920
Air conditioning,Electrical side mirrors,Hill Holder,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                   216
Air conditioning,Electrical side mirrors,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                               134
Air conditioning,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                                                       130
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system                                                                                                                                                   105
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ...
Air conditioning,Cruise control,Electrical side mirrors,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors rear,Power windows,Rain sensor,Split rear seats,Start-stop system,Tinted windows                                                                                                                                                                                                           1
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Heated steering wheel,Hill Holder,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Sunroof                                                                                                1
Air conditioning,Armrest,Cruise control,Electrical side mirrors,Heated steering wheel,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Split rear seats,Start-stop system,Tinted windows                                                                                                                 1
Air conditioning,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating                                                                                                                                                                                                                1
Air conditioning,Automatic climate control,Cruise control,Electrically heated windshield,Electrical side mirrors,Electric tailgate,Heads-up display,Heated steering wheel,Hill Holder,Keyless central door lock,Leather steering wheel,Light sensor,Lumbar support,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system self-steering,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Sunroof      1
Name: comfort, Length: 6199, dtype: int64

In [378]:
df.columns

Index(['make_model', 'short_description', 'body_type', 'price', 'vat', 'km', 'registration', 'prev_owner', 'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty', 'Full Service', 'Non-smoking Vehicle', 'Paint Type', 'Model Code', 'Cylinders', 'Weight', 'Drive chain', 'Consumption', '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n', 'description', 'Emission Label', 'Gears', 'Country version', 'make', 'hp_kW', 'used_new', 'fuel_type', 'upholstery_kind', 'upholstery_color', 'door_count', 'seat_count', 'auto_manuel', 'displacement_cc', 'consumption_comb', 'co2_emission', 'comfort'], dtype='object')

In [379]:
df.drop(columns="\nComfort & Convenience\n", inplace=True)

## '\nEntertainment & Media\n

In [380]:
df["\nEntertainment & Media\n"]

0                                           [Bluetooth, Hands-free equipment, On-board computer, Radio]
1                             [Bluetooth, Hands-free equipment, On-board computer, Radio, Sound system]
2                                                                              [MP3, On-board computer]
3        [Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, Sound system, USB]
4                      [Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, USB]
                                                      ...
15914                   [Bluetooth, Digital radio, Hands-free equipment, On-board computer, Radio, USB]
15915                                      [Bluetooth, Digital radio, Hands-free equipment, Radio, USB]
15916                                       [Bluetooth, Hands-free equipment, On-board computer, Radio]
15917                                                            [Bluetooth, Digital radio, Radio, USB]
15918                                                                                             [USB]
Name: \nEntertainment & Media\n, Length: 15919, dtype: object

In [381]:
df["\nEntertainment & Media\n"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                                           1374
[Bluetooth, Hands-free equipment, On-board computer, Radio, USB]                                              1282
[Bluetooth, Hands-free equipment, MP3, On-board computer, Radio, USB]                                          982
[Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, USB]                               783
[On-board computer, Radio]                                                                                     487
                                                                                                              ...
[Bluetooth, CD player, Digital radio, Hands-free equipment, Radio]                                               1
[CD player, Hands-free equipment, MP3, Radio, USB]                                                               1
[MP3, Radio, Sound system, USB]                                                                                  1
[Bluetooth, MP3, On-board computer, Radio, Television, USB]                                                      1
[Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, Sound system, Television, USB]       1
Name: \nEntertainment & Media\n, Length: 347, dtype: int64

In [382]:
unique_values(df, "\nEntertainment & Media\n")

['Bluetooth',
 'Hands-free equipment',
 'On-board computer',
 'Radio',
 'Sound system',
 'MP3',
 'CD player',
 'USB',
 'Digital radio',
 'Television']

In [383]:
df['digi_media']= [','.join(i).strip() if isinstance(i, list) else i for i in df["\nEntertainment & Media\n"]]

In [384]:
df.digi_media.value_counts(dropna=False)

NaN                                                                                                 1374
Bluetooth,Hands-free equipment,On-board computer,Radio,USB                                          1282
Bluetooth,Hands-free equipment,MP3,On-board computer,Radio,USB                                       982
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,USB                             783
On-board computer,Radio                                                                              487
                                                                                                    ...
Bluetooth,CD player,Digital radio,Hands-free equipment,Radio                                           1
CD player,Hands-free equipment,MP3,Radio,USB                                                           1
MP3,Radio,Sound system,USB                                                                             1
Bluetooth,MP3,On-board computer,Radio,Television,USB                                                   1
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,Sound system,Television,USB       1
Name: digi_media, Length: 347, dtype: int64

In [385]:
df.columns

Index(['make_model', 'short_description', 'body_type', 'price', 'vat', 'km', 'registration', 'prev_owner', 'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty', 'Full Service', 'Non-smoking Vehicle', 'Paint Type', 'Model Code', 'Cylinders', 'Weight', 'Drive chain', 'Consumption', '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n', 'description', 'Emission Label', 'Gears', 'Country version', 'make', 'hp_kW', 'used_new', 'fuel_type', 'upholstery_kind', 'upholstery_color', 'door_count', 'seat_count', 'auto_manuel', 'displacement_cc', 'consumption_comb', 'co2_emission', 'comfort', 'digi_media'], dtype='object')

In [386]:
df.drop(columns='\nEntertainment & Media\n', inplace=True)

## \nExtras\n

In [387]:
df["\nExtras\n"]

0                    [Alloy wheels, Catalytic Converter, Voice Control]
1          [Alloy wheels, Sport seats, Sport suspension, Voice Control]
2                                         [Alloy wheels, Voice Control]
3                            [Alloy wheels, Sport seats, Voice Control]
4        [Alloy wheels, Sport package, Sport suspension, Voice Control]
                                      ...
15914                                      [Alloy wheels, Touch screen]
15915                       [Alloy wheels, Touch screen, Voice Control]
15916                                                    [Alloy wheels]
15917                                      [Alloy wheels, Touch screen]
15918                                      [Alloy wheels, Touch screen]
Name: \nExtras\n, Length: 15919, dtype: object

In [388]:
df["\nExtras\n"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Alloy wheels]                                                                                                     3245
NaN                                                                                                                2962
[Alloy wheels, Touch screen]                                                                                        697
[Alloy wheels, Voice Control]                                                                                       577
[Alloy wheels, Touch screen, Voice Control]                                                                         541
                                                                                                                   ...
[Alloy wheels, Catalytic Converter, Shift paddles, Sport package, Sport seats, Sport suspension, Voice Control]       1
[Alloy wheels, Catalytic Converter, Roof rack, Sport package, Sport seats, Trailer hitch]                             1
[Alloy wheels, Catalytic Converter, Ski bag, Sport package, Voice Control]                                            1
[Catalytic Converter, Roof rack, Sport seats, Sport suspension]                                                       1
[Alloy wheels, Shift paddles, Ski bag, Sport seats, Sport suspension, Touch screen, Voice Control]                    1
Name: \nExtras\n, Length: 660, dtype: int64

In [389]:
unique_values(df, "\nExtras\n")

['Alloy wheels',
 'Catalytic Converter',
 'Voice Control',
 'Sport seats',
 'Sport suspension',
 'Sport package',
 'Shift paddles',
 'Winter tyres',
 'Touch screen',
 'Handicapped enabled',
 'Trailer hitch',
 'Cab or rented Car',
 'Roof rack',
 'Tuned car',
 'Ski bag',
 'Sliding door',
 'Right hand drive']

In [390]:
df["extra"] = [','.join(i).strip() if isinstance(i, list) else i for i in df["\nExtras\n"]]

In [391]:
df.drop(columns=["\nExtras\n"], inplace=True)

In [392]:
dfo.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat', 'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type', 'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty', 'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model', 'Offer Number', 'First Registration', 'Body Color', 'Paint Type', 'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors', 'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement', 'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption', 'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n', 'description', 'Emission Label', 'Gears', 'Country version', 'Electricity consumption', 'Last Service Date', 'Other Fuel Types', 'Availability', 'Last Timing Belt Service Date', 'Available from'], dtype='object')

# \nSafety & Security\n

In [393]:
df["\nSafety & Security\n"]

0                                                                                                                                                       [ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]
1                                                                                                               [ABS, Central door lock, Central door lock with remote control, Daytime running lights, Driver-side airbag, Electronic stability control, Head airbag, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]
2                                                                                                                                                                                     [ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]
3                                                                                                                                 [ABS, Alarm system, Central door lock with remote control, Driver drowsiness detection, Driver-side airbag, Electronic stability control, Emergency system, Head airbag, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system]
4                                                                                                                                                                               [ABS, Central door lock, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]
                                                                                                                                                                                                            ...
15914        [ABS, Central door lock, Central door lock with remote control, Driver-side airbag, Electronic stability control, Emergency brake assistant, Head airbag, Immobilizer, Isofix, Lane departure warning system, LED Daytime Running Lights, LED Headlights, Passenger-side airbag, Power steering, Rear airbag, Side airbag, Tire pressure monitoring system, Traction control, Traffic sign recognition]
15915    [ABS, Adaptive Cruise Control, Blind spot monitor, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Immobilizer, Isofix, Lane departure warning system, LED Daytime Running Lights, LED Headlights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Traffic sign recognition]
15916                                     [ABS, Adaptive Cruise Control, Blind spot monitor, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Immobilizer, Isofix, Lane departure warning system, LED Daytime Running Lights, LED Headlights, Passenger-side airbag, Power steering, Side airbag, Traction control, Traffic sign recognition]
15917                                                                                                                                                                  [ABS, Blind spot monitor, Driver-side airbag, Electronic stability control, Emergency brake assistant, Isofix, LED Headlights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traffic sign recognition]
15918                                                                                                                 [ABS, Blind spot monitor, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traffic sign recognition]
Name: \nSafety & Security\n, Length: 15919, dtype: object

In [394]:
df["\nSafety & Security\n"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                                                                                                                                                                                                                                                                                                                  982
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                           538
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                                       480
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]                                                                                                                                     275
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                               272
                                                                                                                                                                                                                                                                                                                                                                                    ...
[ABS, Central door lock, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag]                                                                                                                                                                                                                                                        1
[ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                     1
[ABS, Adaptive Cruise Control, Alarm system, Central door lock, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Lane departure warning system, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]                                                 1
[ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Power steering, Tire pressure monitoring system, Traction control]                                                                                                                                                        1
[ABS, Adaptive Cruise Control, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Fog lights, Immobilizer, Isofix, Lane departure warning system, LED Daytime Running Lights, LED Headlights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traffic sign recognition]      1
Name: \nSafety & Security\n, Length: 4444, dtype: int64

In [395]:
unique_values(df, "\nSafety & Security\n")

['ABS',
 'Central door lock',
 'Daytime running lights',
 'Driver-side airbag',
 'Electronic stability control',
 'Fog lights',
 'Immobilizer',
 'Isofix',
 'Passenger-side airbag',
 'Power steering',
 'Side airbag',
 'Tire pressure monitoring system',
 'Traction control',
 'Xenon headlights',
 'Central door lock with remote control',
 'Head airbag',
 'Alarm system',
 'Driver drowsiness detection',
 'Emergency system',
 'LED Headlights',
 'Adaptive headlights',
 'LED Daytime Running Lights',
 'Rear airbag',
 'Emergency brake assistant',
 'Adaptive Cruise Control',
 'Night view assist',
 'Traffic sign recognition',
 'Lane departure warning system',
 'Blind spot monitor']

In [396]:
df["safety"] = [','.join(i).strip() if isinstance(i, list) else i for i in df["\nSafety & Security\n"]]
df["safety"]

0                                                                                                                                                  ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights
1                                                                                                           ABS,Central door lock,Central door lock with remote control,Daytime running lights,Driver-side airbag,Electronic stability control,Head airbag,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights
2                                                                                                                                                                              ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control
3                                                                                                                            ABS,Alarm system,Central door lock with remote control,Driver drowsiness detection,Driver-side airbag,Electronic stability control,Emergency system,Head airbag,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system
4                                                                                                                                                                         ABS,Central door lock,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights
                                                                                                                                                                                                  ...
15914        ABS,Central door lock,Central door lock with remote control,Driver-side airbag,Electronic stability control,Emergency brake assistant,Head airbag,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Rear airbag,Side airbag,Tire pressure monitoring system,Traction control,Traffic sign recognition
15915    ABS,Adaptive Cruise Control,Blind spot monitor,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Traffic sign recognition
15916                                    ABS,Adaptive Cruise Control,Blind spot monitor,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Immobilizer,Isofix,Lane departure warning system,LED Daytime Running Lights,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Traction control,Traffic sign recognition
15917                                                                                                                                                           ABS,Blind spot monitor,Driver-side airbag,Electronic stability control,Emergency brake assistant,Isofix,LED Headlights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traffic sign recognition
15918                                                                                                            ABS,Blind spot monitor,Daytime running lights,Driver-side airbag,Electronic stability control,Emergency brake assistant,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traffic sign recognition
Name: safety, Length: 15919, dtype: object

In [397]:
df.drop(columns='\nSafety & Security\n', inplace=True)

In [398]:
dfo.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat', 'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type', 'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty', 'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model', 'Offer Number', 'First Registration', 'Body Color', 'Paint Type', 'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors', 'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement', 'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption', 'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n', 'description', 'Emission Label', 'Gears', 'Country version', 'Electricity consumption', 'Last Service Date', 'Other Fuel Types', 'Availability', 'Last Timing Belt Service Date', 'Available from'], dtype='object')

## 'description'

In [399]:
df.description

0        [\n, Sicherheit:,  , Deaktivierung für Beifahrer-Airbag,  , ESC mit elektronischer Quersperre,  , Tagfahrlicht,  , Reifendruck-Kontrollanzeige,  , Kopfairbag-System mit Seiten-Airbags vorn,  , Sicherheitslenksäule, Assistenzsysteme:,  , Berganfahrassistent, Komfort:,  , Scheinwerferreinigung,  , Xenon plus inklusive Scheinwerfer-Reinigungsanlage,  , Scheinwerfer-Reinigungsanlage,  , Einparkhilfe hinten,  , Licht-/Regensensor,  , Funkfernbedienung,  , Elektrische Luftzusatzheizung, Interieur:...
1                                                                                                                                                                                                                                                                                                                                                                                                               [\nLangstreckenfahrzeug daher die hohe Kilometerleistung. , Bremsen neu bei 62000 km. , Gut gepflegter A1\n]
2        [\n, Fahrzeug-Nummer: AM-95365,  , Ehem. UPE 24.640 EUR,  , Komfort,  , Klimaanlage,  , Elektrische Fensterheber,  , Sitzheizung,  , Tempomat,  , Zentralverriegelung,  , Leder-Lenkrad,  , Elektrische Spiegel,  , Wärmedämmendes Glas,  , Anfahrassistent,  , Sicherheit,  , Window/Kopfairbags,  , ESP (el. Stabilitäts Programm),  , Elektronische Wegfahrsperre,  , Reifendruckkontrolle,  , Tagfahrlicht,  , Exterieur,  , Alufelgen 16 Zoll,  , Einparkhilfe vo + hi,  , Interieur,  , Stoff Zeitgeist,  ...
3                                                                                                                                                                                                                                                                                   [\nAudi A1: , - 1e eigenaar , - Perfecte staat: schade/ongevalvrij , - Onderhoudsboekje Audi garage , - Full option!, - S-line opties, - Automaat, lederen bekleding, navi-pro, Xenon lampen, zetelverwarming, automatische airco,...\n]
4        [\n, Technik & Sicherheit:, Xenon plus, Klimaautomatik, Einparkhilfe hinten, Scheinwerferreinigungsanlage, Nebelscheinwerfer, Zentralverriegelung mit Fernbedienung, Außenspiegel elek. einstellbar, Fensterheber elek, Start/Stop Anlage, 6 Airbag inkl. Kopfairbag, Euro 6, Multimedia:, Radio CD Concert, audi music interface, Handyvorbereitung (Bluetooth), Sprachsteuerung, USB Anschluss, Assistenzsysteme:, Lichtsensor, Regensensor, Berganfahrassistent, Reifendruckkontrolle, ESP inkl. ABS, Interie...
                                                                                                                                                                                                                                                                ...
15914    [\nVettura visionabile nella sede in Via Roma 141 a Villorba (TV)., Prezzo escluse spese immatricolazione., Optional inclusi nel prezzo:, - Easy Park Assist con parking camera., Non esiti a contattare i nostri consulenti nella sede di:, Villorba (TV) - Via Roma 141, Numero verde: 800286606 (gratuito), Concessionaria ufficiale per UDINE: Lancia, Alfa Romeo, Subaru, Hyundai, Infiniti. Concessionaria ufficiale per UDINE, TRIESTE e GORIZIA: Kia e Volvo. Concessionaria ufficiale per TRIESTE e GOR...
15915    [\nDach: Panorama-Glas-Schiebedach, Lackierung: Metallic, Paket: CRUISING - Adaptiver Tempopilot ACC (bis 150km/h) - Head-up-Display, Paket: LIMITED Deluxe - Easy-Park-Assistent: Teilautomatisches Einparken - Elektrische Heckklappe mit Fußsensor - Rückfahrkamera, Paket: WINTER - Beheizbares Lenkrad - Beheizbare Windschutzscheibe - Beheizbare Sitze in der 2. Sitzreihe, Airbag: Anti Submarining Airbags v/h, Airbag: 2 Seitenairbags vorne, Airbag: Windowbags für Sitzreihen 1 + 2, Airbag Fahrer- ...
15916    [\n, Getriebe:,  Automatik, Technik:,  Bordcomputer, Assistenten:,  Totwinkel-Assistent, Verkehrszeichenerkennung, Regensensor, Fernlichtassistent, Lichtsensor, Notbremsassistent, Spurhalteassistent, Abstandsregeltempomat, Komfort:,  Servolenkung, Zentralverriegelung, Elektrischer Fensterheber, Lederausstattung, Sitzheizung, Elektrische Aussenspiegel, Teilbare Ruecksitzlehne, Tempomat, Multifunktionslenkrad, Keyless Go Startfunktion, Mittelarmlehne, Lenksaeule einstellbar, ParkDistanceContro...
15917    [\nDEK:[2691331], Renault Espace Blue dCi 200CV EDC Business, Nuova da Immatricolare, COLORE: Grigio Titanio, INTERNO: Pelle+Tessuto, TRASMISSIONE: Cambio Automatico EDC, ---, ACCESSORI: , 7 Posti, , , Cerchi in Lega 17, Navigatore con Display 8.7, Clima Automatico, Sensori di Parcheggio Anteriori e Posteriori con Retrocamera, Fari Full LED Pure Vision, Cruise Control, Renault Multisense, ---, Listino Nuovo 44.300 Euro, Prezzo Gruppo Carmeli: 39.700 Euro (Esclusa IPT e Messa in Strada), IVA ...
15918    [\n, Sicherheit Airbags:,  , Seitenairbag,  , Fahrerairbag,  , Beifahrerairbag,  , Sicherheit:,  , Rückfahrkamera,  , Reifendruckkontrolle,  , ABS,  , elektr. Stabilitätsprogramm (ESP),  , ISOFIX Kindersitzhalterung,  , Tagfahrlicht,  , Kindersitze integriert,  , Wegfahrsperre,  , Spiegel automatisch abblendbar,  , Servolenkung,  , 3. Bremsleuchte,  , LED-Tagfahrlicht,  , Notbremsassistent,  , Totwinkel-Assistent,  , Verkehrszeichenerkennung,  , Fernlichtassistent,  , Geschwindigkeitsbegrenz...
Name: description, Length: 15919, dtype: object

In [400]:
df.description.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        636
[\n, \n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   30
[\n, Fahrzeugbeschreibung,  Sichern Sie sich diesen Renault Clio 1.6 TCE Energy Sport Trophy zum Top-Preis inklusive dem , AUTOHERO-RUNDUM-SORGLOS-PAKET,  , Infos:,  1.Hand, deutsche Auslieferung, Unfallfrei, scheckheftgepflegt,  , Highlights,  , Audio-Navigationssystem R-Link Evolution mit Touchscreen und Carminat TomTom,  , Sportsitze ,  , Sportfahrwerk,  , Scheinwerfer Full-LED , Komfort,  , Geschwindigkeits-Regelanlage (Tempomat) ,  , Klimaanlage,  , Einparkhilfe hinten,  , Multifunktionslenkrad (Sport/Leder) mit Schaltwippen/-tasten ,  , Fensterheber elektr. mit Impulsgeber links/rechts vorn,  , Zentralverriegelung / Startanlage Handsfree Entry & Drive ,  , Berganfahr-Assistent (HSA) , Multimedia,  , Audiosystem: Radio R & GO (Bluetooth, DAB-Tuner),  , Bordcomputer,  , Freisprecheinrichtung Bluetooth ,  , USB-Anschluss inkl. AUX-IN-Anschluss (Plug & Music) , Licht und Sicht,  , Außenspiegel elektr. verstell- und heizbar ,  , Licht- und Regensensor ,  , Tagfahrlicht LED ,  , Nebelscheinwerfer LED ,  , Coming-Home-Lichtfunktion ,  , Heckleuchten LED , Sicherheit,  , Isofix-Aufnahmen für Kindersitz ,  , Seitenairbag vorn,  , Wegfahrsperre,  , Differentialsperre,  , Bremsassistent ,  , Elektron. Stabilitäts-Programm (ESP),  , Anti-Blockier-System (ABS),  , Anti-Submarining-Airbag im Fond,  , Airbag Fahrer-/Beifahrerseite ,  , Differentialsperre ,  , Reifendruck-Kontrollsystem ,  , Untersteuerungskontrolle (USC) ,  , Antischlupfregelung (ASR) , Weiteres,  , Start/Stop-Anlage ,  , Servolenkung geschwindigkeitsabhängig,  , R.S. Drive (Fahrmodusschalter) ,  , Gepäckraumabdeckung / Rollo ,  , Heckdiffusor ,  , LM-Felgen ,  , Heckspoiler (Renault Sport) ,  , Pedale Aluminium ,  , Energierückgewinnung (Energy Smart Management) , ...]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              27
[\nPosibilidad de prueba del vehículo hasta 5 días. Consultar condiciones. PVP para particulares. Varias unidades y colores disponibles. Precios publicados para vehículos industriales (furgonetas) válidos para compradores autónomos o empresas, consultar condiciones para particulares. Las imágenes y kilómetros pueden no corresponder con el modelo anunciado. Para confirmar póngase en contacto con nuestro departamento comercial. Consulta las excepcionales condiciones de financiación que tenemos disponibles. Precio de venta final IVA y gastos de transferencia incluidos. Horario de atención al cliente: Lunes a Viernes de 09:00 a 18:00.\n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          27
[\nSichern Sie sich diesen RENAULT CLIO 1.2 LIMITED zum Top-Preis inklusive dem, AUTOHERO-RUNDUM-SORGLOS-PAKET,  , Infos:,  2.Hand, mindestens 12 Monate gültige HU und AU, deutsche Ausführung, unfallfrei ,  , Highlights,  , Audio-Navigationssystem mit Touchscreen-Farbdisplay, Komfort,  , Klimaanlage ,  , Multifunktionslenkrad in Leder ,  , Berganfahr-Assistent (HSA),  , Fensterheber elektrisch vorn ,  , Geschwindigkeits-Regelanlage (Tempomat) ,  , Heckscheibe heizbar ,  , Sitz vorn links höhenverstellbar,  , Sitz vorn rechts umklappbar ,  , Stau-/Ablagefach im Laderaumboden ,  , Zentralverriegelung mit Fernbedienung , Multimedia,  , Radio R&GO,  , Bluetooth Freisprechanlage ,  , USB-/AUX-Schnittstelle ,  , Bordcomputer,  , Licht und Sicht,  , Tagfahrlicht LED ,  , Außenspiegel elektrisch verstell- und heizbar, Sicherheit,  , Airbag für Fahrer und Beifahrer,  , Beifahrerairbag deaktivierbar ,  , Seitenairbags vorn ,  , Kopfairbagsystem,  , Anti-Blockier-System (ABS),  , Elektronische Bremskraftverteilung ,  , Elektronische Stabilitäts-Programm (ESP) ,  , Reifen-Reparaturkit ,  , Reifendruck-Kontrollsystem ,  , Untersteuerungskontrolle (USC) ,  , ISOFIX Kindersitzverankerung , Weiteres,  , Dachreling silber ,  , Look-Paket Chrom (außen) ,  , Look-Paket Grau (innen) ,  , R&GO-Paket ,  , Style-Paket ,  Ihr , AUTOHERO-RUNDUM-SORGLOS-PAKET,  beinhaltet:, Kostenlose Lieferung in Ihre Nähe, Optische & technische Aufbereitung, Mindestens 12 Monate gültige HU und AU, 1-Jahr-Premium-Garantie, Zulassung inklusive , 14-Tage-Rückgaberecht, Markenunabhängige Inzahlungnahme , Individuelle Finanzierungen zu fairen Konditionen,  , HIER GEHT ES ZUR 360° - ANSICHT DES FAHRZEUGES:, :, https://www.autohero.com/de/renault-clio-1-2-limited/id/30f99516-8785-47e7-a4a3-6cdac4d8e633/,  , Haftungsausschluss, :, Für Angaben vom Verkäufer, des Herstellers oder von Datenbankabfragen übernimmt Autohero keine Haftung. Änderungen, Zwischenverkauf und Irrtümer sind vorbehalten.\n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                27
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ...
[\nPratica 67374, Airbag fullsize per conducente e passeggero, Alzacristalli elettrici ant. e post. con funzione attivaz. a pressione, Assetto dinamico, Audi drive select, Inserti in micrometallic argento, Kit riparazione pneumatici, Pacchetto di navigazione, Piano di copertura del vano bagagli estraibile, Presa AUX-IN, Proiettori allo Xenon Plus con reg. aut. prof. fari, Lavafari, Rivestimenti dei sedili in tessuto, Serbatoio AdBlue, Sistema controllo pressione pneumatici, Sistema di ancoraggio ISOFIX e 3° punto di ancoraggio Top Tether sui sedili post. laterali, Sistema di informazioni per il conducente con display monocromatico, Tappetini anteriori e posteriori, Versione Business, Volante sportivo multifunzionale in pelle 3 razze, ABS, EBV (Ripartitore elettronico della forza frenante), Airbag laterali anteriori integrati negli schienali dei sedili, Airbag per la testa, Airbag per le ginocchia (lato conducente), Appoggiatesta anteriori (2) e posteriori (3) regolabili, Radio MMI plus, Interfaccia Bluetooth, Appoggiabraccia centrale anteriore, Cambio manuale, Cerchi in lega 7 J x 16" a 5 razze a stella, Chiusura centralizzata con telecomando, Regolatore di velocità, ESC - Sistema elettronico di controllo della stabilizzazione con bloccaggio trasversale elettronico, ASR - Dispositivo di controllo della trazione, EDS (Dispositivo antislittamento in partenza), Filtro anti particolato, Cinture di sicurezza con pretensionatore, Specchietti retrovisivi esterni riscaldabili e ripiegabili elettricamente, Schienale del sedile posteriore ribaltabile (divisibile in rapporto 40:60 o ribaltabile completam.), Sistema di ausilio al parcheggio posteriore, Servosterzo elettromeccanico, Tergilunotto\n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1

This column have many unorganized data and most of them are in Germen so this column will be dropped.

In [401]:
df.drop(columns="description", inplace=True)

In [402]:
dfo.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat', 'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type', 'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty', 'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model', 'Offer Number', 'First Registration', 'Body Color', 'Paint Type', 'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors', 'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement', 'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption', 'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n', 'description', 'Emission Label', 'Gears', 'Country version', 'Electricity consumption', 'Last Service Date', 'Other Fuel Types', 'Availability', 'Last Timing Belt Service Date', 'Available from'], dtype='object')

## Gears

In [403]:
df.Gears.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n6\n]     5822
NaN         4712
[\n5\n]     3239
[\n7\n]     1908
[\n8\n]      224
[\n9\n]        6
[\n1\n]        2
[\n3\n]        2
[\n4\n]        2
[\n2\n]        1
[\n50\n]       1
Name: Gears, dtype: int64

In [404]:
df["gears"] = df.Gears.str[0].str.strip()
df["gears"].value_counts(dropna=False)

6      5822
NaN    4712
5      3239
7      1908
8       224
9         6
1         2
3         2
4         2
2         1
50        1
Name: gears, dtype: int64

In [405]:
df.drop(columns="Gears", inplace=True)

In [406]:
dfo.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat', 'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type', 'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty', 'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model', 'Offer Number', 'First Registration', 'Body Color', 'Paint Type', 'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors', 'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement', 'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption', 'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n', 'description', 'Emission Label', 'Gears', 'Country version', 'Electricity consumption', 'Last Service Date', 'Other Fuel Types', 'Availability', 'Last Timing Belt Service Date', 'Available from'], dtype='object')

## Warranty

In [407]:
df.Warranty.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                                5420
[\n, \n, \nEuro 6\n]                                                                               1868
\n12 months\n                                                                                      1177
\n                                                                                                  979
\n24 months\n                                                                                       566
                                                                                                   ...
[\n72 months\n, \n125 g CO2/km (comb)\n]                                                              1
[\n60 months\n, \n14 g CO2/km (comb)\n]                                                               1
[\n24 months\n, \n121 g CO2/km (comb)\n]                                                              1
[\n12 months\n, \nEuro 6d\n]                                                                          1
[\n36 months\n, \n, 7.4 l/100 km (comb), \n, 9.6 l/100 km (city), \n, 6 l/100 km (country), \n]       1
Name: Warranty, Length: 516, dtype: int64

In [408]:
df.Warranty.sample(50)

10259    [\n12 months\n, \n, 5.6 l/100 km (comb), \n, 7.2 l/100 km (city), \n, 4.7 l/100 km (country), \n]
14533                                                             [\n48 months\n, \n114 g CO2/km (comb)\n]
1434                                                                        [\n46 months\n, \n4 (Green)\n]
1657                                                                                  [\n, \n, \nEuro 6\n]
9875                                                                     [\n, \n, \n140 g CO2/km (comb)\n]
8838                                                                                                   NaN
5967                                                                                  [\n, \n, \nEuro 6\n]
6628                                                                     [\n, \n, \n119 g CO2/km (comb)\n]
14703                                                                                                  NaN
3226                                                                                                   NaN
11407                                                                                        \n12 months\n
15367                                                                              [\n, \n, \n4 (Green)\n]
10574                                                                       [\n60 months\n, \n4 (Green)\n]
813                                                                                          \n24 months\n
8297                                                                     [\n, \n, \n149 g CO2/km (comb)\n]
2302                                                               [\n24 months\n, \n98 g CO2/km (comb)\n]
12829                                                                                        \n24 months\n
15725                                                                                        \n25 months\n
5295                                                                                         \n48 months\n
6642                                                                     [\n, \n, \n127 g CO2/km (comb)\n]
10698                                                                                 [\n, \n, \nEuro 6\n]
4090                                                                                                   NaN
2013                                                                                                   NaN
11318                                                             [\n36 months\n, \n150 g CO2/km (comb)\n]
3120                                                                                                   NaN
10445                                                                                                   \n
5764                                                                                  [\n, \n, \nEuro 6\n]
12415                                                                    [\n, \n, \n153 g CO2/km (comb)\n]
210                                                                                          \n24 months\n
8911                                                                                                   NaN
685                                                                         [\n12 months\n, \n4 (Green)\n]
11396                                                                                                  NaN
14512                                                                                                  NaN
5104                                                                                                   NaN
2680                                                                           [\n12 months\n, \nEuro 6\n]
5705                                                                                  [\n, \n, \nEuro 6\n]
7675                                                                            [\n, \n, \nEuro 6d-TEMP\n]
9118                                                                                         \n12 months\n
1500                                                                        [\n24 months\n, \n4 (Green)\n]
515                                                                                                    NaN
89                                                                                    [\n, \n, \nEuro 6\n]
11730                                                                    [\n, \n, \n114 g CO2/km (comb)\n]
4235                                                                                  [\n, \n, \nEuro 6\n]
7106                                                                     [\n, \n, \n128 g CO2/km (comb)\n]
4995                                                                                                   NaN
13258                                                                                                  NaN
10758                                                                                      [\n12 months\n]
3357                                                                                                   NaN
5522                                                              [\n24 months\n, \n134 g CO2/km (comb)\n]
6216                                                                                                    \n
Name: Warranty, dtype: object

In [409]:
df.Warranty.str[0].str.strip().value_counts(dropna=False)

             7703
NaN          5420
12 months    1417
24 months     552
60 months     382
36 months     223
6 months       49
72 months      44
48 months      40
3 months       14
23 months      10
18 months       7
20 months       7
25 months       5
2 months        4
50 months       4
16 months       4
34 months       3
17 months       2
45 months       2
1 months        2
14 months       2
21 months       2
11 months       2
22 months       2
46 months       2
26 months       2
13 months       2
19 months       1
10 months       1
28 months       1
56 months       1
7 months        1
15 months       1
49 months       1
47 months       1
65 months       1
33 months       1
40 months       1
Name: Warranty, dtype: int64

In [410]:
df.Warranty.str[0].str.strip().str.split().str[0].value_counts(dropna=False)

NaN    13123
12      1417
24       552
60       382
36       223
6         49
72        44
48        40
3         14
23        10
18         7
20         7
25         5
50         4
16         4
2          4
34         3
1          2
11         2
14         2
45         2
22         2
21         2
17         2
46         2
26         2
13         2
65         1
33         1
28         1
15         1
7          1
19         1
10         1
56         1
49         1
47         1
40         1
Name: Warranty, dtype: int64

In [411]:
df["warranty"] = df.Warranty.str[0].str.strip().str.split().str[0]
df["warranty"].value_counts(dropna=False)

NaN    13123
12      1417
24       552
60       382
36       223
6         49
72        44
48        40
3         14
23        10
18         7
20         7
25         5
50         4
16         4
2          4
34         3
1          2
11         2
14         2
45         2
22         2
21         2
17         2
46         2
26         2
13         2
65         1
33         1
28         1
15         1
7          1
19         1
10         1
56         1
49         1
47         1
40         1
Name: warranty, dtype: int64

In [412]:
df.drop(columns="Warranty", inplace=True)

In [413]:
len(df[df["warranty"].isnull()]) / len(df)
# % 82 row has no warranty data so warranty column maybe dropped.

0.8243608266850933

## Cylinders

In [414]:
df["Cylinders"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n4\n]    8105
NaN        5680
[\n3\n]    2104
[\n5\n]      22
[\n6\n]       3
[\n8\n]       2
[\n2\n]       2
[\n1\n]       1
Name: Cylinders, dtype: int64

In [415]:
df.Cylinders.str[0].str.strip().value_counts(dropna=False)

4      8105
NaN    5680
3      2104
5        22
6         3
8         2
2         2
1         1
Name: Cylinders, dtype: int64

In [416]:
df["cylinders"] = df.Cylinders.str[0].str.strip()

In [417]:
df.drop(columns="Cylinders", inplace=True)

## Paint Type

In [418]:
df["Paint Type"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nMetallic\n]       9794
NaN                  5772
[\nUni/basic\n]       347
[\nPerl effect\n]       6
Name: Paint Type, dtype: int64

In [419]:
df["Paint Type"].str[0].str.strip().value_counts(dropna=False)

Metallic       9794
NaN            5772
Uni/basic       347
Perl effect       6
Name: Paint Type, dtype: int64

In [420]:
df["paint_type"] = df["Paint Type"].str[0].str.strip()

In [421]:
df.drop(columns="Paint Type", axis=1, inplace=True)

## Previous Owners & prev_owner 
these column names looklikes eachother lets inspect them.

In [422]:
df["Previous Owners"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

\n1\n                                                                                        8101
NaN                                                                                          6640
\n2\n                                                                                         766
\n0\n                                                                                         163
\n3\n                                                                                          17
[\n1\n, \n168 g CO2/km (comb)\n]                                                               13
[\n1\n, \n139 g CO2/km (comb)\n]                                                               12
[\n1\n, \n110 g CO2/km (comb)\n]                                                               12
[\n1\n, \n135 g CO2/km (comb)\n]                                                                9
[\n1\n, \n120 g CO2/km (comb)\n]                                                                8
[\n1\n, \n, 6.3 l/100 km (comb), \n, 7.8 l/100 km (city), \n, 5.4 l/100 km (country), \n]       7
[\n1\n, \n153 g CO2/km (comb)\n]                                                                6
[\n1\n, \n113 g CO2/km (comb)\n]                                                                5
[\n1\n, \n107 g CO2/km (comb)\n]                                                                5
[\n1\n, \n140 g CO2/km (comb)\n]                                                                5
[\n1\n, \n114 g CO2/km (comb)\n]                                                                5
[\n0\n, \n139 g CO2/km (comb)\n]                                                                4
[\n1\n, \n128 g CO2/km (comb)\n]                                                                4
[\n1\n, \n127 g CO2/km (comb)\n]                                                                4
[\n1\n, \n, 6 l/100 km (comb), \n, 7.8 l/100 km (city), \n, 4.9 l/100 km (country), \n]         4
[\n1\n, \n124 g CO2/km (comb)\n]                                                                3
[\n1\n, \n, 5.7 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       3
[\n1\n, \n150 g CO2/km (comb)\n]                                                                3
[\n1\n, \n129 g CO2/km (comb)\n]                                                                3
[\n1\n, \n149 g CO2/km (comb)\n]                                                                3
[\n1\n, \n147 g CO2/km (comb)\n]                                                                3
[\n1\n, \n136 g CO2/km (comb)\n]                                                                3
[\n1\n, \n119 g CO2/km (comb)\n]                                                                3
[\n1\n, \n123 g CO2/km (comb)\n]                                                                3
[\n0\n, \n114 g CO2/km (comb)\n]                                                                3
[\n0\n, \n0 kWh/100 km (comb)\n]                                                                2
[\n0\n, \n, 5.4 l/100 km (comb), \n, 7.1 l/100 km (city), \n, 4.4 l/100 km (country), \n]       2
[\n1\n, \n145 g CO2/km (comb)\n]                                                                2
[\n0\n, \n120 g CO2/km (comb)\n]                                                                2
[\n0\n, \n126 g CO2/km (comb)\n]                                                                2
[\n0\n, \n136 g CO2/km (comb)\n]                                                                2
[\n1\n, \n, 5.8 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.9 l/100 km (country), \n]       2
[\n1\n, \n, 6.6 l/100 km (comb), \n, 8.2 l/100 km (city), \n, 5.7 l/100 km (country), \n]       2
[\n1\n, \n, 5.9 l/100 km (comb), \n, 7.5 l/100 km (city), \n, 5 l/100 km (country), \n]         2
[\n2\n, \n129 g CO2/km (comb)\n]                                                                2
[\n2\n, \n, 5.6 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       2
[\n1\n, \n, 6 l/100 km (comb), \n, 7.7 l/100 km (city), \n, 4.9 l/100 km (country), \n]         2
[\n1\n, \n133 g CO2/km (comb)\n]                                                                2
[\n1\n, \n, 4.8 l/100 km (comb), \n, 5.9 l/100 km (city), \n, 4.2 l/100 km (country), \n]       2
[\n1\n, \n, 5 l/100 km (comb), \n, 5.9 l/100 km (city), \n, 4.5 l/100 km (country), \n]         2
[\n1\n, \n126 g CO2/km (comb)\n]                                                                2
[\n1\n, \n109 g CO2/km (comb)\n]                                                                2
[\n1\n, \n, 5.4 l/100 km (comb), \n, 7.1 l/100 km (city), \n, 4.4 l/100 km (country), \n]       2
[\n1\n]                                                                                         2
[\n1\n, \n116 g CO2/km (comb)\n]                                                                2
[\n1\n, \n, 6.3 l/100 km (comb), \n, 8.6 l/100 km (city), \n, 5 l/100 km (country), \n]         2
[\n1\n, \n, 7.4 l/100 km (comb), \n, 9.2 l/100 km (city), \n, 6.3 l/100 km (country), \n]       2
[\n2\n, \n125 g CO2/km (comb)\n]                                                                2
[\n1\n, \n105 g CO2/km (comb)\n]                                                                2
\n4\n                                                                                           2
[\n1\n, \n, 5 l/100 km (comb), \n, 6.3 l/100 km (city), \n, 4.2 l/100 km (country), \n]         2
[\n1\n, \n181 g CO2/km (comb)\n]                                                                1
[\n0\n, \n104 g CO2/km (comb)\n]                                                                1
[\n0\n, \n, 4.6 l/100 km (comb), \n, 5.8 l/100 km (city), \n, 3.9 l/100 km (country), \n]       1
[\n1\n, \n141 g CO2/km (comb)\n]                                                                1
[\n0\n, \n106 g CO2/km (comb)\n]                                                                1
[\n1\n, \n102 g CO2/km (comb)\n]                                                                1
[\n1\n, \n, 5.9 l/100 km (comb), \n, 7.6 l/100 km (city), \n, 4.9 l/100 km (country), \n]       1
[\n1\n, \n, 6.1 l/100 km (comb), \n, 7.7 l/100 km (city), \n, 5.2 l/100 km (country), \n]       1
[\n1\n, \n, 6.7 l/100 km (comb), \n, 8.6 l/100 km (city), \n, 5.6 l/100 km (country), \n]       1
[\n0\n, \n187 g CO2/km (comb)\n]                                                                1
[\n1\n, \n, 6.8 l/100 km (comb), \n, 8.7 l/100 km (city), \n, 5.7 l/100 km (country), \n]       1
[\n2\n, \n123 g CO2/km (comb)\n]                                                                1
[\n0\n, \n105 g CO2/km (comb)\n]                                                                1
[\n1\n, \n188 g CO2/km (comb)\n]                                                                1
[\n1\n, \n187 g CO2/km (comb)\n]                                                                1
[\n1\n, \n85 g CO2/km (comb)\n]                                                                 1
[\n1\n, \n, 5.9 l/100 km (comb), \n, 7.6 l/100 km (city), \n, 5.1 l/100 km (country), \n]       1
[\n1\n, \n125 g CO2/km (comb)\n]                                                                1
[\n0\n, \n, 6.6 l/100 km (comb), \n, 8.2 l/100 km (city), \n, 5.7 l/100 km (country), \n]       1
[\n1\n, \n159 g CO2/km (comb)\n]                                                                1
[\n1\n, \n, 5.6 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       1
[\n2\n, \n124 g CO2/km (comb)\n]                                                                1
[\n0\n, \n107 g CO2/km (comb)\n]                                                                1
[\n0\n, \n117 g CO2/km (comb)\n]                                                                1
[\n1\n, \n96 g CO2/km (comb)\n]                                                                 1
[\n1\n, \n104 g CO2/km (comb)\n]                                                                1
[\n1\n, \n, 5.2 l/100 km (comb), \n, 6 l/100 km (city), \n, 4.8 l/100 km (country), \n]         1
[\n1\n, \n134 g CO2/km (comb)\n]                                                                1
[\n1\n, \n, 6.5 l/100 km (comb), \n, 8.5 l/100 km (city), \n, 5.4 l/100 km (country), \n]       1
[\n1\n, \n, 5.9 l/100 km (comb), \n, 7.4 l/100 km (city), \n, 5 l/100 km (country), \n]         1
[\n2\n, \n122 g CO2/km (comb)\n]                                                                1
[\n1\n, \n0 g CO2/km (comb)\n]                                                                  1
[\n1\n, \n137 g CO2/km (comb)\n]                                                                1
[\n1\n, \n99 g CO2/km (comb)\n]                                                                 1
[\n1\n, \n142 g CO2/km (comb)\n]                                                                1
[\n1\n, \n84 g CO2/km (comb)\n]                                                                 1
[\n2\n, \n127 g CO2/km (comb)\n]                                                                1
[\n1\n, \n, 6.6 l/100 km (comb), \n, 8.2 l/100 km (city), \n, 5.6 l/100 km (country), \n]       1
[\n1\n, \n, 6 l/100 km (comb), \n, 8 l/100 km (city), \n, 4.9 l/100 km (country), \n]           1
[\n1\n, \n, 5.9 l/100 km (comb), \n, 7.9 l/100 km (city), \n, 4.8 l/100 km (country), \n]       1
[\n1\n, \n, 4.9 l/100 km (comb), \n, 6 l/100 km (city), \n, 4.2 l/100 km (country), \n]         1
[\n1\n, \n, 6.2 l/100 km (comb), \n, 7.9 l/100 km (city), \n, 5.3 l/100 km (country), \n]       1
[\n1\n, \n111 g CO2/km (comb)\n]                                                                1
[\n1\n, \nEuro 6\n]                                                                             1
[\n2\n, \n119 g CO2/km (comb)\n]                                                                1
[\n1\n, \n, 6.6 l/100 km (comb), \n, 8.1 l/100 km (city), \n, 5.7 l/100 km (country), \n]       1
[\n2\n, \n137 g CO2/km (comb)\n]                                                                1
Name: Previous Owners, dtype: int64

In [423]:
df["Previous Owners"].str[0].str.strip().value_counts(dropna=False)

       9049
NaN    6640
1       193
0        25
2        12
Name: Previous Owners, dtype: int64

In [424]:
df.prev_owner.value_counts(dropna=False)

1 previous owner     8294
NaN                  6828
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

In [425]:
df.prev_owner.str[0].str.strip().value_counts(dropna=False)

1      8294
NaN    6828
2       778
3        17
4         2
Name: prev_owner, dtype: int64

In [426]:
df.prev_owner.fillna(df["Previous Owners"]).str[0].str.strip().value_counts(dropna=False) 
# there is no important change after filna so df["Previous Owners"] will be dropped and 
# df.prev_owner will be kept.

1      8294
NaN    6640
2       778
        163
0        25
3        17
4         2
Name: prev_owner, dtype: int64

In [427]:
df.prev_owner = df.prev_owner.str[0].str.strip()
df.prev_owner.value_counts(dropna=False)

1      8294
NaN    6828
2       778
3        17
4         2
Name: prev_owner, dtype: int64

In [428]:
df.drop(columns="Previous Owners", inplace=True)

## Drive chain

In [429]:
df["Drive chain"].str[0].str.strip().value_counts(dropna=False)

front    8886
NaN      6858
4WD       171
rear        4
Name: Drive chain, dtype: int64

In [430]:
df["drive_chain"] = df["Drive chain"].str[0].str.strip()

In [431]:
df.drop(columns="Drive chain", inplace=True)

## Weight

In [432]:
df.Weight.str[0].str.strip().value_counts(dropna=False)

NaN         6974
1,163 kg     574
1,360 kg     356
1,165 kg     301
1,335 kg     242
            ...
1,960 kg       1
1,258 kg       1
1,167 kg       1
1,331 kg       1
2,037 kg       1
Name: Weight, Length: 435, dtype: int64

In [433]:
df.Weight.str[0].str.strip().str.extract('(\d,*\d*)')

           0
0      1,220
1      1,255
2        NaN
3      1,195
4        NaN
...      ...
15914  1,758
15915  1,708
15916    NaN
15917  1,758
15918  1,685

[15919 rows x 1 columns]

In [434]:
df.Weight.str[0].str.strip().str.extract('(\d,*\d*)')[0].str.replace(",", "").value_counts(dropna=False)

NaN     6974
1163     574
1360     356
1165     301
1335     242
        ...
1960       1
1258       1
1167       1
1331       1
2037       1
Name: 0, Length: 435, dtype: int64

In [435]:
df["weight_kg"] = df.Weight.str[0].str.strip().str.extract('(\d,*\d*)')[0].str.replace(",", "")

In [436]:
df.drop(columns= "Weight", inplace=True)

In [437]:
df.columns

Index(['make_model', 'short_description', 'body_type', 'price', 'vat', 'km', 'registration', 'prev_owner', 'Next Inspection', 'Inspection new', 'Full Service', 'Non-smoking Vehicle', 'Model Code', 'Consumption', 'Emission Label', 'Country version', 'make', 'hp_kW', 'used_new', 'fuel_type', 'upholstery_kind', 'upholstery_color', 'door_count', 'seat_count', 'auto_manuel', 'displacement_cc', 'consumption_comb', 'co2_emission', 'comfort', 'digi_media', 'extra', 'safety', 'gears', 'warranty', 'cylinders', 'paint_type', 'drive_chain', 'weight_kg'], dtype='object')

## Full Service

In [438]:
df["Full Service"].str[0].value_counts(dropna=False)

\n     8215
NaN    7704
Name: Full Service, dtype: int64

In [439]:
df["Full Service"].str[1].value_counts(dropna=False)

NaN    7987
\n     7932
Name: Full Service, dtype: int64

In [440]:
df["Full Service"].str[2].value_counts(dropna=False)

NaN                           9689
\n4 (Green)\n                 2235
\nEuro 6\n                    2097
\nEuro 6d-TEMP\n               399
\n120 g CO2/km (comb)\n        105
\n126 g CO2/km (comb)\n         84
\n104 g CO2/km (comb)\n         77
\n97 g CO2/km (comb)\n          76
\n124 g CO2/km (comb)\n         61
\n99 g CO2/km (comb)\n          60
\n128 g CO2/km (comb)\n         53
\n119 g CO2/km (comb)\n         49
\n                              40
\n140 g CO2/km (comb)\n         39
\n106 g CO2/km (comb)\n         38
\n92 g CO2/km (comb)\n          33
\n107 g CO2/km (comb)\n         32
\n114 g CO2/km (comb)\n         31
\n102 g CO2/km (comb)\n         29
\n103 g CO2/km (comb)\n         29
\n1 (No sticker)\n              29
\nEuro 6c\n                     28
\n117 g CO2/km (comb)\n         24
\n139 g CO2/km (comb)\n         24
\n127 g CO2/km (comb)\n         23
\n141 g CO2/km (comb)\n         22
\n136 g CO2/km (comb)\n         20
\n85 g CO2/km (comb)\n          20
\n125 g CO2/km (comb)\n         20
\n108 g CO2/km (comb)\n         19
\n112 g CO2/km (comb)\n         18
\n109 g CO2/km (comb)\n         17
\n5 (Blue)\n                    17
\n150 g CO2/km (comb)\n         16
\n129 g CO2/km (comb)\n         16
\n130 g CO2/km (comb)\n         15
\n154 g CO2/km (comb)\n         15
\n133 g CO2/km (comb)\n         15
\n113 g CO2/km (comb)\n         15
\n135 g CO2/km (comb)\n         14
\n116 g CO2/km (comb)\n         13
\n110 g CO2/km (comb)\n         13
\n123 g CO2/km (comb)\n         12
\n137 g CO2/km (comb)\n         12
\n143 g CO2/km (comb)\n         12
\n105 g CO2/km (comb)\n         11
\nEuro 6d\n                     11
\n132 g CO2/km (comb)\n         10
\n95 g CO2/km (comb)\n          10
\n101 g CO2/km (comb)\n         10
\n118 g CO2/km (comb)\n         10
\n91 g CO2/km (comb)\n           9
\n111 g CO2/km (comb)\n          9
\n147 g CO2/km (comb)\n          9
\n149 g CO2/km (comb)\n          9
\n145 g CO2/km (comb)\n          8
\nEuro 5\n                       8
\n121 g CO2/km (comb)\n          7
\n96 g CO2/km (comb)\n           6
\n82 g CO2/km (comb)\n           5
\n142 g CO2/km (comb)\n          5
\n134 g CO2/km (comb)\n          5
\n138 g CO2/km (comb)\n          5
\n131 g CO2/km (comb)\n          4
\n89 g CO2/km (comb)\n           4
\n189 g CO2/km (comb)\n          4
\n148 g CO2/km (comb)\n          4
\n152 g CO2/km (comb)\n          3
\n151 g CO2/km (comb)\n          3
\n94 g CO2/km (comb)\n           3
\n153 g CO2/km (comb)\n          3
\n115 g CO2/km (comb)\n          3
\n122 g CO2/km (comb)\n          3
\n98 g CO2/km (comb)\n           3
\n169 g CO2/km (comb)\n          2
\n166 g CO2/km (comb)\n          2
\n157 g CO2/km (comb)\n          2
\n93 g CO2/km (comb)\n           2
\n144 g CO2/km (comb)\n          2
\n146 g CO2/km (comb)\n          2
\n88 g CO2/km (comb)\n           2
\n90 g CO2/km (comb)\n           2
\n188 g CO2/km (comb)\n          2
\n0 kWh/100 km (comb)\n          2
\n87 g CO2/km (comb)\n           1
\n84 g CO2/km (comb)\n           1
\n80 g CO2/km (comb)\n           1
\n156 g CO2/km (comb)\n          1
\n159 g CO2/km (comb)\n          1
\n253 g CO2/km (comb)\n          1
\n164 g CO2/km (comb)\n          1
\n13,983 g CO2/km (comb)\n       1
\n197 g CO2/km (comb)\n          1
\nEuro 4\n                       1
Name: Full Service, dtype: int64

In [441]:
df["Full Service"].str[3].value_counts(dropna=False)

NaN                    15879
5.4 l/100 km (comb)        6
6.6 l/100 km (comb)        5
5.7 l/100 km (comb)        5
4.9 l/100 km (comb)        4
5.9 l/100 km (comb)        4
4.4 l/100 km (comb)        2
6.3 l/100 km (comb)        2
6 l/100 km (comb)          2
4.8 l/100 km (comb)        2
5.5 l/100 km (comb)        1
5.8 l/100 km (comb)        1
4.7 l/100 km (comb)        1
5 l/100 km (comb)          1
4.3 l/100 km (comb)        1
4.6 l/100 km (comb)        1
6.2 l/100 km (comb)        1
6.5 l/100 km (comb)        1
Name: Full Service, dtype: int64

In [442]:
df["Full Service"].str[4].value_counts(dropna=False)

NaN    15879
\n        40
Name: Full Service, dtype: int64

In [443]:
df["Full Service"].str[5].value_counts(dropna=False)

NaN                    15879
7.8 l/100 km (city)        4
7.3 l/100 km (city)        4
5.9 l/100 km (city)        3
6 l/100 km (city)          3
8.2 l/100 km (city)        3
7.2 l/100 km (city)        3
5.2 l/100 km (city)        3
\n                         2
6.7 l/100 km (city)        2
7.6 l/100 km (city)        2
7.5 l/100 km (city)        1
6.2 l/100 km (city)        1
8 l/100 km (city)          1
7.4 l/100 km (city)        1
7 l/100 km (city)          1
5.8 l/100 km (city)        1
7.7 l/100 km (city)        1
8.1 l/100 km (city)        1
8.3 l/100 km (city)        1
8.4 l/100 km (city)        1
5.4 l/100 km (city)        1
Name: Full Service, dtype: int64

In [444]:
df.drop(columns="Full Service", inplace=True) # there is no usefull data in this column

# columns that have null values between 50 - 90 percent.

## Country version

In [445]:
df['Country version'].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                     8333
[\nGermany\n]           4502
[\nItaly\n]             1038
[\nEuropean Union\n]     507
[\nNetherlands\n]        464
[\nSpain\n]              325
[\nBelgium\n]            314
[\nAustria\n]            208
[\nCzech Republic\n]      52
[\nPoland\n]              49
[\nFrance\n]              38
[\nDenmark\n]             33
[\nHungary\n]             28
[\nJapan\n]                8
[\nSlovakia\n]             4
[\nCroatia\n]              4
[\nSweden\n]               3
[\nRomania\n]              2
[\nBulgaria\n]             2
[\nLuxembourg\n]           1
[\nSwitzerland\n]          1
[\nSlovenia\n]             1
[\nEgypt\n]                1
[\nSerbia\n]               1
Name: Country version, dtype: int64

In [446]:
df["country_ver"] = df['Country version'].str[0].str.strip()
df["country_ver"].value_counts(dropna=False)

NaN               8333
Germany           4502
Italy             1038
European Union     507
Netherlands        464
Spain              325
Belgium            314
Austria            208
Czech Republic      52
Poland              49
France              38
Denmark             33
Hungary             28
Japan                8
Slovakia             4
Croatia              4
Sweden               3
Romania              2
Bulgaria             2
Luxembourg           1
Switzerland          1
Slovenia             1
Egypt                1
Serbia               1
Name: country_ver, dtype: int64

In [447]:
df.drop(columns="Country version", inplace=True)

## Non-smoking Vehicle

In [448]:
df["Non-smoking Vehicle"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                           8742
[\n, \n]                                                                                      3647
[\n, \n, \n4 (Green)\n]                                                                       1240
[\n, \n, \nEuro 6\n]                                                                          1127
[\n, \n, \nEuro 6d-TEMP\n]                                                                     345
\n                                                                                              70
[\n, \n, \n120 g CO2/km (comb)\n]                                                               63
[\n, \n, \n85 g CO2/km (comb)\n]                                                                46
[\n, \n, \n104 g CO2/km (comb)\n]                                                               36
[\n, \n, \n107 g CO2/km (comb)\n]                                                               36
[\n, \n, \n153 g CO2/km (comb)\n]                                                               31
[\n, \n, \n124 g CO2/km (comb)\n]                                                               29
[\n, \n, \n1 (No sticker)\n]                                                                    24
[\n, \n, \n99 g CO2/km (comb)\n]                                                                23
[\n, \n, \n106 g CO2/km (comb)\n]                                                               20
[\n, \n, \n97 g CO2/km (comb)\n]                                                                20
[\n, \n, \n108 g CO2/km (comb)\n]                                                               19
[\n, \n, \n113 g CO2/km (comb)\n]                                                               18
[\n, \n, \n100 g CO2/km (comb)\n]                                                               18
[\n, \n, \n109 g CO2/km (comb)\n]                                                               18
[\n, \n, \n105 g CO2/km (comb)\n]                                                               18
[\n, \n, \nEuro 6c\n]                                                                           17
[\n, \n, \n98 g CO2/km (comb)\n]                                                                15
[\n, \n, \n129 g CO2/km (comb)\n]                                                               14
[\n, \n, \n131 g CO2/km (comb)\n]                                                               13
[\n, \n, \n133 g CO2/km (comb)\n]                                                               12
[\n, \n, \n103 g CO2/km (comb)\n]                                                               12
[\n, \n, \n114 g CO2/km (comb)\n]                                                               12
[\n, \n, \n116 g CO2/km (comb)\n]                                                               11
[\n, \n, \n135 g CO2/km (comb)\n]                                                               11
[\n, \n, \n102 g CO2/km (comb)\n]                                                               11
[\n, \n, \n127 g CO2/km (comb)\n]                                                               10
[\n, \n, \n143 g CO2/km (comb)\n]                                                               10
[\n, \n, \n92 g CO2/km (comb)\n]                                                                 9
[\n, \n, \nEuro 6d\n]                                                                            9
[\n, \n, \n112 g CO2/km (comb)\n]                                                                9
[\n, \n, \n5 (Blue)\n]                                                                           8
[\n, \n, \n118 g CO2/km (comb)\n]                                                                8
[\n, \n, \n139 g CO2/km (comb)\n]                                                                7
[\n, \n, \n128 g CO2/km (comb)\n]                                                                7
[\n, \n, \n147 g CO2/km (comb)\n]                                                                7
[\n, \n, \n126 g CO2/km (comb)\n]                                                                6
[\n, \n, \n137 g CO2/km (comb)\n]                                                                6
[\n, \n, \n117 g CO2/km (comb)\n]                                                                6
[\n, \n, \n140 g CO2/km (comb)\n]                                                                6
[\n, \n, \n130 g CO2/km (comb)\n]                                                                5
[\n, \n, \n115 g CO2/km (comb)\n]                                                                5
[\n, \n, \nEuro 5\n]                                                                             4
[\n, \n, \n, 5.2 l/100 km (comb), \n, 5.8 l/100 km (city), \n, 4.8 l/100 km (country), \n]       4
[\n, \n, \n123 g CO2/km (comb)\n]                                                                4
[\n, \n, \n151 g CO2/km (comb)\n]                                                                4
[\n, \n, \n95 g CO2/km (comb)\n]                                                                 3
[\n, \n, \n119 g CO2/km (comb)\n]                                                                3
[\n, \n, \n148 g CO2/km (comb)\n]                                                                3
[\n, \n, \n157 g CO2/km (comb)\n]                                                                3
[\n, \n, \n136 g CO2/km (comb)\n]                                                                3
[\n, \n, \n110 g CO2/km (comb)\n]                                                                3
[\n, \n, \n149 g CO2/km (comb)\n]                                                                3
[\n, \n, \n138 g CO2/km (comb)\n]                                                                2
[\n, \n, \n125 g CO2/km (comb)\n]                                                                2
[\n, \n, \n, 5.2 l/100 km (comb), \n, 6.4 l/100 km (city), \n, 4.4 l/100 km (country), \n]       2
[\n, \n, \n166 g CO2/km (comb)\n]                                                                2
[\n, \n, \n121 g CO2/km (comb)\n]                                                                2
[\n, \n, \n142 g CO2/km (comb)\n]                                                                2
[\n, \n, \n90 g CO2/km (comb)\n]                                                                 2
[\n, \n, \n111 g CO2/km (comb)\n]                                                                2
[\n, \n, \n134 g CO2/km (comb)\n]                                                                2
[\n, \n, \n, 6.5 l/100 km (comb), \n, 8.5 l/100 km (city), \n, 5.4 l/100 km (country), \n]       1
[\n, \n, \n, 6.4 l/100 km (comb), \n, 8.1 l/100 km (city), \n, 5.4 l/100 km (country), \n]       1
[\n, \n, \n161 g CO2/km (comb)\n]                                                                1
[\n, \n, \n172 g CO2/km (comb)\n]                                                                1
[\n, \n, \n189 g CO2/km (comb)\n]                                                                1
[\n, \n, \n82 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n154 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.5 l/100 km (comb), \n, 7.9 l/100 km (city), \n, 5.6 l/100 km (country), \n]       1
[\n, \n, \n, 6.3 l/100 km (comb), \n, 8 l/100 km (city), \n, 5.3 l/100 km (country), \n]         1
[\n, \n, \n146 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 5.7 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       1
[\n, \n, \n, 6.1 l/100 km (comb), \n, 7.7 l/100 km (city), \n, 5.2 l/100 km (country), \n]       1
[\n, \n, \n156 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.1 l/100 km (comb), \n, 7.8 l/100 km (city), \n, 5.1 l/100 km (country), \n]       1
[\n, \n, \n, 6.2 l/100 km (comb), \n, 7.9 l/100 km (city), \n, 5.3 l/100 km (country), \n]       1
[\n, \n, \n152 g CO2/km (comb)\n]                                                                1
[\n, \n, \n144 g CO2/km (comb)\n]                                                                1
[\n, \n, \n132 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 1.6 l/100 km (comb), \n, \n, \n]                                                    1
[\n, \n, \n169 g CO2/km (comb)\n]                                                                1
[\n, \n, \n101 g CO2/km (comb)\n]                                                                1
[\n, \n, \n159 g CO2/km (comb)\n]                                                                1
[\n, \n, \n91 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n, 5.6 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       1
[\n, \n, \n122 g CO2/km (comb)\n]                                                                1
[\n, \n, \n158 g CO2/km (comb)\n]                                                                1
[\n, \n, \n150 g CO2/km (comb)\n]                                                                1
[\n, \n, \n175 g CO2/km (comb)\n]                                                                1
Name: Non-smoking Vehicle, dtype: int64

In [449]:
df["Non-smoking Vehicle"].str[0].value_counts(dropna=False)

NaN    8742
\n     7177
Name: Non-smoking Vehicle, dtype: int64

In [450]:
df["Non-smoking Vehicle"].str[1].value_counts(dropna=False)

NaN    8812
\n     7107
Name: Non-smoking Vehicle, dtype: int64

In [451]:
df["Non-smoking Vehicle"].str[2].value_counts(dropna=False)

NaN                        12459
\n4 (Green)\n               1240
\nEuro 6\n                  1127
\nEuro 6d-TEMP\n             345
\n120 g CO2/km (comb)\n       63
\n85 g CO2/km (comb)\n        46
\n104 g CO2/km (comb)\n       36
\n107 g CO2/km (comb)\n       36
\n153 g CO2/km (comb)\n       31
\n124 g CO2/km (comb)\n       29
\n1 (No sticker)\n            24
\n99 g CO2/km (comb)\n        23
\n106 g CO2/km (comb)\n       20
\n97 g CO2/km (comb)\n        20
\n108 g CO2/km (comb)\n       19
\n109 g CO2/km (comb)\n       18
\n105 g CO2/km (comb)\n       18
\n100 g CO2/km (comb)\n       18
\n113 g CO2/km (comb)\n       18
\nEuro 6c\n                   17
\n                            16
\n98 g CO2/km (comb)\n        15
\n129 g CO2/km (comb)\n       14
\n131 g CO2/km (comb)\n       13
\n103 g CO2/km (comb)\n       12
\n114 g CO2/km (comb)\n       12
\n133 g CO2/km (comb)\n       12
\n135 g CO2/km (comb)\n       11
\n102 g CO2/km (comb)\n       11
\n116 g CO2/km (comb)\n       11
\n127 g CO2/km (comb)\n       10
\n143 g CO2/km (comb)\n       10
\nEuro 6d\n                    9
\n92 g CO2/km (comb)\n         9
\n112 g CO2/km (comb)\n        9
\n118 g CO2/km (comb)\n        8
\n5 (Blue)\n                   8
\n128 g CO2/km (comb)\n        7
\n139 g CO2/km (comb)\n        7
\n147 g CO2/km (comb)\n        7
\n117 g CO2/km (comb)\n        6
\n137 g CO2/km (comb)\n        6
\n140 g CO2/km (comb)\n        6
\n126 g CO2/km (comb)\n        6
\n115 g CO2/km (comb)\n        5
\n130 g CO2/km (comb)\n        5
\nEuro 5\n                     4
\n151 g CO2/km (comb)\n        4
\n123 g CO2/km (comb)\n        4
\n148 g CO2/km (comb)\n        3
\n119 g CO2/km (comb)\n        3
\n149 g CO2/km (comb)\n        3
\n110 g CO2/km (comb)\n        3
\n136 g CO2/km (comb)\n        3
\n157 g CO2/km (comb)\n        3
\n95 g CO2/km (comb)\n         3
\n166 g CO2/km (comb)\n        2
\n90 g CO2/km (comb)\n         2
\n138 g CO2/km (comb)\n        2
\n121 g CO2/km (comb)\n        2
\n125 g CO2/km (comb)\n        2
\n134 g CO2/km (comb)\n        2
\n111 g CO2/km (comb)\n        2
\n142 g CO2/km (comb)\n        2
\n152 g CO2/km (comb)\n        1
\n82 g CO2/km (comb)\n         1
\n172 g CO2/km (comb)\n        1
\n154 g CO2/km (comb)\n        1
\n161 g CO2/km (comb)\n        1
\n146 g CO2/km (comb)\n        1
\n156 g CO2/km (comb)\n        1
\n91 g CO2/km (comb)\n         1
\n144 g CO2/km (comb)\n        1
\n132 g CO2/km (comb)\n        1
\n169 g CO2/km (comb)\n        1
\n159 g CO2/km (comb)\n        1
\n158 g CO2/km (comb)\n        1
\n150 g CO2/km (comb)\n        1
\n122 g CO2/km (comb)\n        1
\n189 g CO2/km (comb)\n        1
\n101 g CO2/km (comb)\n        1
\n175 g CO2/km (comb)\n        1
Name: Non-smoking Vehicle, dtype: int64

In [452]:
df[["Non-smoking Vehicle", "co2_emission"]].sample(100)

                     Non-smoking Vehicle co2_emission
2332                                 NaN          NaN
114              [\n, \n, \n4 (Green)\n]          107
11633                           [\n, \n]          119
6775                            [\n, \n]          104
7088                                 NaN          125
10860                                NaN          NaN
9388             [\n, \n, \n4 (Green)\n]          136
1474                                 NaN          102
11457               [\n, \n, \nEuro 6\n]          133
9195                                 NaN          NaN
13875                                NaN          NaN
11869                                NaN          141
12714                                NaN          NaN
4542                                 NaN          114
9453                                 NaN          120
9968             [\n, \n, \n4 (Green)\n]          143
3024                                 NaN          125
13350  [\n, \n, \n120 g CO2/km (comb)\n]          120
12761                                NaN          156
14789                                NaN          113
6972                                 NaN           95
2983                            [\n, \n]           99
1235                [\n, \n, \nEuro 6\n]          120
10062                           [\n, \n]          150
9214                                 NaN          124
385                 [\n, \n, \nEuro 6\n]          104
4045                            [\n, \n]          118
12105                           [\n, \n]          NaN
4604                                 NaN          117
9889                            [\n, \n]          142
1469    [\n, \n, \n98 g CO2/km (comb)\n]           98
4834                                 NaN          106
7406                                 NaN          107
13381                                NaN           92
1066                                 NaN          112
6359                                 NaN           99
2912                            [\n, \n]          NaN
8414                                 NaN          123
5990                            [\n, \n]          119
12903         [\n, \n, \nEuro 6d-TEMP\n]          116
12262                                NaN          NaN
5438                                 NaN          117
4235             [\n, \n, \n4 (Green)\n]          110
1149                                 NaN          103
10997                                NaN          NaN
9816                                 NaN          NaN
4495                                 NaN          103
6631                            [\n, \n]          115
7773          [\n, \n, \nEuro 6d-TEMP\n]          170
829                 [\n, \n, \nEuro 6\n]           97
4595                                 NaN          117
3249                                 NaN          106
3219                            [\n, \n]           99
3416                            [\n, \n]          118
8662                                 NaN          126
5750                            [\n, \n]          119
12676                                NaN          134
3006                                 NaN          117
14979                                NaN          120
11780                                NaN          114
15430                           [\n, \n]          NaN
8509                            [\n, \n]          NaN
10041                                NaN          140
1596                                 NaN          103
15348                                NaN          120
15071  [\n, \n, \n153 g CO2/km (comb)\n]          153
13148                                NaN           92
6341                [\n, \n, \nEuro 6\n]          124
520                 [\n, \n, \nEuro 6\n]           97
5546                                 NaN          118
412                 [\n, \n, \nEuro 6\n]           97
83               [\n, \n, \n4 (Green)\n]          106
10592                                NaN          NaN
3360                                 NaN          114
6735                                 NaN           93
7180                                 NaN          119
14                                   NaN           99
3391                                 NaN           91
6851                                 NaN           95
7289                                 NaN           88
9786                                 NaN          126
13981                           [\n, \n]          133
7616                                 NaN          130
2366                                 NaN          111
3571                            [\n, \n]          117
12053                                NaN          NaN
4828                            [\n, \n]          125
7785          [\n, \n, \nEuro 6d-TEMP\n]          151
458                             [\n, \n]          102
2979                                 NaN          NaN
534              [\n, \n, \n4 (Green)\n]          104
11293                                NaN          137
1636                            [\n, \n]          134
11643                                NaN          126
12510                                NaN          145
12844                                NaN          148
15829                                NaN          148
6956                                 NaN           93
5986                [\n, \n, \nEuro 6\n]          119
15635                                NaN          153

In [453]:
df.drop(columns="Non-smoking Vehicle", inplace=True)

## Model Code

In [454]:
df["Model Code"].str[0].str.strip().value_counts(dropna=False)

NaN         10941
0035/BCB      268
0588/BNO      245
0588/BDB      206
0588/BHX      188
            ...
0035/AVN        1
0035/BEM        1
0035/BAG        1
0035/BAA        1
3333/BKG        1
Name: Model Code, Length: 233, dtype: int64

In [455]:
df["model_code"] =  df["Model Code"].str[0].str.strip()

In [456]:
df.drop(columns="Model Code", inplace=True)

## Emission Label

In [457]:
df["Emission Label"].str[0].str.strip().value_counts(dropna=False)

NaN               11974
4 (Green)          3553
1 (No sticker)      381
5 (Blue)              8
3 (Yellow)            2
2 (Red)               1
Name: Emission Label, dtype: int64

In [458]:
df["Emission_Label"] = df["Emission Label"].str[0].str.strip()
df["Emission_Label"].value_counts(dropna=False)

NaN               11974
4 (Green)          3553
1 (No sticker)      381
5 (Blue)              8
3 (Yellow)            2
2 (Red)               1
Name: Emission_Label, dtype: int64

In [459]:
df.drop(columns="Emission Label", inplace=True)

## Inspection new

In [460]:
df["Inspection new"]

0                     [\nYes\n, \nEuro 6\n]
1                                       NaN
2                                       NaN
3                                       NaN
4        [\nYes\n, \n109 g CO2/km (comb)\n]
                        ...
15914                                   NaN
15915                                   NaN
15916           [\nYes\n, \nEuro 6d-TEMP\n]
15917                                   NaN
15918    [\nYes\n, \n153 g CO2/km (comb)\n]
Name: Inspection new, Length: 15919, dtype: object

In [219]:
df["Inspection new"].str[0].str.strip().value_counts(dropna=False)

NaN    11987
Yes     3570
         362
Name: Inspection new, dtype: int64

Altough null value percentage is high. it can effect the value of the car. So we will keep it.

In [220]:
df["new_inspection"] = df["Inspection new"].str[0].str.strip()
df["new_inspection"].value_counts(dropna=False)

NaN    11987
Yes     3570
         362
Name: new_inspection, dtype: int64

In [221]:
df.drop(columns=["Inspection new"] , inplace=True)

## Next Inspection

In [222]:
df["Next Inspection"].str[0].str.strip().value_counts(dropna=False)

NaN        12384
             710
06/2021      437
03/2021      172
05/2021      153
02/2021      149
04/2021      142
01/2021      117
05/2022      116
02/2022       96
03/2020       88
03/2022       85
04/2022       82
01/2022       75
07/2021       60
08/2021       59
02/2020       56
04/2020       52
06/2020       50
05/2020       50
01/2020       48
11/2021       47
12/2020       47
11/2020       46
04/2019       37
07/2020       35
10/2020       35
06/2019       33
09/2019       32
07/2019       30
11/2019       29
09/2021       29
08/2020       29
10/2019       28
03/2019       28
05/2019       27
01/2019       27
02/2019       27
06/2022       26
08/2019       25
09/2020       21
12/2021       20
10/2021       16
12/2019       13
01/2001        5
07/2018        5
10/2018        5
11/2018        4
03/2018        2
12/2018        2
09/2018        2
06/2016        2
08/2018        2
07/2022        2
04/2017        2
03/2023        2
02/2023        2
05/2018        2
05/2014        1
02/2017        1
04/2016        1
01/2018        1
06/2018        1
05/2017        1
07/2017        1
12/2017        1
01/2023        1
01/1921        1
11/2022        1
03/2017        1
Name: Next Inspection, dtype: int64

In [223]:
df["next_inspection"] = df["Next Inspection"].str[0].str.strip()

In [224]:
df["next_inspection"] = pd.to_datetime(df["next_inspection"])
df["next_inspection"].value_counts(dropna=False)

NaT           13094
2021-06-01      437
2021-03-01      172
2021-05-01      153
2021-02-01      149
2021-04-01      142
2021-01-01      117
2022-05-01      116
2022-02-01       96
2020-03-01       88
2022-03-01       85
2022-04-01       82
2022-01-01       75
2021-07-01       60
2021-08-01       59
2020-02-01       56
2020-04-01       52
2020-06-01       50
2020-05-01       50
2020-01-01       48
2021-11-01       47
2020-12-01       47
2020-11-01       46
2019-04-01       37
2020-07-01       35
2020-10-01       35
2019-06-01       33
2019-09-01       32
2019-07-01       30
2019-11-01       29
2021-09-01       29
2020-08-01       29
2019-10-01       28
2019-03-01       28
2019-05-01       27
2019-01-01       27
2019-02-01       27
2022-06-01       26
2019-08-01       25
2020-09-01       21
2021-12-01       20
2021-10-01       16
2019-12-01       13
2001-01-01        5
2018-07-01        5
2018-10-01        5
2018-11-01        4
2018-03-01        2
2018-12-01        2
2018-09-01        2
2016-06-01        2
2018-08-01        2
2022-07-01        2
2017-04-01        2
2023-03-01        2
2023-02-01        2
2018-05-01        2
2014-05-01        1
2017-02-01        1
2016-04-01        1
2018-01-01        1
2018-06-01        1
2017-05-01        1
2017-07-01        1
2017-12-01        1
2023-01-01        1
1921-01-01        1
2022-11-01        1
2017-03-01        1
Name: next_inspection, dtype: int64

In [225]:
df.drop(columns="Next Inspection", inplace=True)

## short_description

In [226]:
df.short_description.value_counts(dropna=False)

SPB 1.6 TDI 116 CV S tronic Sport                 64
NaN                                               46
1.4 66kW (90CV) Selective                         40
MOVE KLIMA CD USB ALLWETTER BLUETOOTH             38
SPB 30 TDI S tronic Business                      35
                                                  ..
K Sports Tourer Business **Navi*Voll**             1
1.0 Turbo ecoFLEX Automatic Elective Park Navi     1
1.6 CDTI Business *Navi*Automatik*Spurh.*          1
1.6 136 CV Automatica Navi E 6 Garanzia Full       1
TCe 225 EDC GPF LIM Deluxe Pano,RFK                1
Name: short_description, Length: 10002, dtype: int64

In [227]:
df.short_description.sample(50)

2316          Sportback S line 30 TFSI 116 Euro6d-Temp (D5)
10128            E 1.4 120J 5-T. AT6 IntelliLink Kamera Shz
3871                    1.6 Tdi S Tronic Business Sportback
7114      Sports Tourer 1.6CDTI 136PK AUT. INNOVATION + GPS
5056      SPB 30 TDI 116CV S-tronic Sport , S-LINE - AUTO -
5848     K Sports Tourer INNOVATION 1.6 CDTI LED Navi PDCv+
10890                ST 1.6 CDTI S&S ecoFLEX 136 Excellence
9230                                      1.2 5 porte n-Joy
15044                Nouveau 1.6 dCi 160 AUTO Zen suréquipé
2650            SPORTBACK 1.4 TFSI g-tron S tronic Ambiente
7657      Sports Tourer, INNOVATION 1.4 Direct Injection Tu
7878         5-turig 1.6 CDTI BUSINESS Start/Stop Automatik
14668    TCe 75 Limited Premium Navi Klima !!!KURZFRISTIG!!
3547        1.6 TDI Sportback Alu XenonPlus Sitzh. Panorama
2753                          1.6 TDI S-tronic 81kW (110CV)
1029                    Sportback Sport 1.4 TFSI Navi Xenon
6564                      K 1.4 Selection*Alu*FSA*Klima*ZV*
7810                120 Jahre 150PS Autom/IntelliLink/Klima
4485                                 A3 SB 1.0 TFSI intense
9965                 120 Jahre Kamera Automatik Touchscreen
2945                      SPB 1.6 TDI clean diesel Ambition
12109               1.5 T Innovation NAVI*SITZHEIZ*DAB*PDC*
2144               Sportback 30 TFSI Advanced S-Tronic 85 k
3844                    Limousine 1,6 TDI S tronic NAVI PDC
8302             E 1.4 Color Edit. IntelliL./Kamer./PDC/Aut
14575                   Advantage Energy Tce 75 Klima/Radio
4399                       SB 1,6 TDI design *XENON / NAVI*
4973     Limousine 1.6 TDI EU6 Navi Xenon Vorb.AHK Audi (Kl
13687                                    dCi 8V 90 CV Start
5176                           SPB G.tron s.tronic 1.500 cc
12416    ST Bus.Inno,Fr+Rü Kamera,Sitzhzg v+h,Navi und viel
8804                   E Klimaanlage Radio Bluetooth ISOFIX
10083                1.4 120 Jahre AT6 IntelliLink R-Kamera
13347                  Grandtour Dynamique ENERGY Automatik
3016                        Sportback 1.2 TFSI AT Klima uvm
681                                    Sportback 1.6 TDI LM
2186       Der Neue A1 Sportback 30 TFSI | 4 Jahre Garantie
1788                          SPB 1.6 TDI 116 CV Metal plus
2389      Sportback 30 TFSI Black Line S tronic **VIRTUAL**
9176                              1.4 66kW (90CV) Selective
1209               Sportback 1.0 TFSI Adrenalin 70 kW (95 C
7674            1.6 Turbo Start/Stop Automatik Ultimate (K)
9776                      Aktion Cool & Sound +Klima+Radio+
5826               K 1.6 CDTI ST AT Innov./Navi/Frontkamera
4638               2.0 TDI SPORTBACK SPORT CONNECTIVITY DSG
6921                                 1.6 CDTI 95 ch Edition
8368     1.4Easytronic ecoFLEX StartStop Innovation Intelli
13146                            IV BUSINESS dCi 90 E6C EDC
3390                  SPB 2.0 TDI 150 CV clean diesel S tro
8589                1.4 90CV S&S 5 porte b-Color OK NEOP ..
Name: short_description, dtype: object

In [228]:
df['short_description'].str.extract('\D*([0-9]{1}\.\d{1})[\D ]').value_counts(dropna=False)

NaN    5164
1.6    3890
1.4    2531
1.0    1321
1.2     953
2.0     886
1.5     883
1.3     135
1.8      59
0.9      49
4.0      22
2.5      19
1.1       3
1.7       3
2.8       1
dtype: int64

In [229]:
df['cc_from_description'] = df['short_description'].str.extract('\D*([0-3]{1}\.\d{1})[\D ]')

In [230]:
df.head(3)

  make_model                                   short_description body_type  price               vat     km registration prev_owner                                                               Consumption  make hp_kW used_new                    fuel_type upholstery_kind upholstery_color door_count seat_count auto_manuel displacement_cc consumption_comb co2_emission                                                                                                                                                                                                                                                                                                      comfort                                                           digi_media                                                    extra                                                                                                                                                                                                                                                                                safety gears warranty cylinders paint_type drive_chain weight_kg country_ver model_code Emission_Label new_inspection next_inspection cc_from_description
0    Audi A1         Sportback 1.4 TDI S-tronic Xenon Navi Klima    Sedans  15770    VAT deductible  56013   2016-01-01          2  [[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]  Audi    66     Used  Diesel (Particulate Filter)           Cloth            Black          5          5   Automatic            1422              3.8           99  Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system               Bluetooth,Hands-free equipment,On-board computer,Radio           Alloy wheels,Catalytic Converter,Voice Control                                         ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights   NaN      NaN         3   Metallic       front      1220         NaN   0588/BDF            NaN            Yes      2021-06-01                 1.4
1    Audi A1                                      1.8 TFSI sport    Sedans  14500  Price negotiable  80000   2017-03-01       None  [[5.6 l/100 km (comb)], [7.1 l/100 km (city)], [4.7 l/100 km (country)]]  Audi   141     Used                     Gasoline           Cloth             Grey          3          4   Automatic            1798              5.6          129                                                                                                                               Air conditioning,Automatic climate control,Hill Holder,Leather steering wheel,Lumbar support,Parking assist system sensors rear,Power windows,Start-stop system,Tinted windows  Bluetooth,Hands-free equipment,On-board computer,Radio,Sound system  Alloy wheels,Sport seats,Sport suspension,Voice Control  ABS,Central door lock,Central door lock with remote control,Daytime running lights,Driver-side airbag,Electronic stability control,Head airbag,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights     7      NaN         4        NaN       front      1255         NaN   0588/BCY      4 (Green)            NaN             NaT                 1.8
2    Audi A1  Sportback 1.6 TDI S tronic Einparkhilfe plus+music    Sedans  14640    VAT deductible  83450   2016-02-01          1  [[3.8 l/100 km (comb)], [4.4 l/100 km (city)], [3.4 l/100 km (country)]]  Audi    85     Used  Diesel (Particulate Filter)           Cloth            Black          4          4   Automatic            1598              3.8           99                         Air conditioning,Cruise control,Electrical side mirrors,Hill Holder,Leather steering wheel,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Seat heating,Start-stop system                                                MP3,On-board computer                               Alloy wheels,Voice Control                                                                     ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control   NaN      NaN       NaN   Metallic       front       NaN         NaN        NaN      4 (Green)            NaN             NaT                 1.6

In [231]:
df.to_csv("scout_clean.csv", index=False)

# PART- 2 `( Handling With Missing Vales )`

# PART- 3 `( Handling With Outliers )`

# Final Step (Checking final situation of data via graphs)

## Export dataframe to csv file (without dummy)

In [232]:
# df.to_csv("final_scout_not_dummy.csv", index=False)

# Dummy Operation

In [233]:
# df = df.join(df.comfort.str.get_dummies(sep = ',').add_prefix("comf_"))

In [234]:
# df.comfort.str.get_dummies(sep = ',')

In [235]:
# df.drop(columns="comfort", inplace=True) # will be dropped after dummy

In [236]:
# df= df.join(df.digi_media.str.get_dummies(sep=",").add_prefix("digi_"))

In [237]:
# df.digi_media.str.get_dummies(sep=",")

In [238]:
# df.drop(columns='digi_media', inplace=True)

In [239]:
# df["extras"].str.get_dummies(sep=",")

In [240]:
# df= df.join(df["\nExtras\n"].str.get_dummies(sep=",").add_prefix("extra_"))

In [241]:
# df["safety"].str.get_dummies(sep=",")

In [242]:
# df = df.join((df["safety"].str.get_dummies(sep=",").add_prefix("safety_")))

## Export dataframe to csv file (dummy)

In [243]:
# df_dummied.to_csv("final_scout_dummy.csv", index=False)