___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Capstone Project of Data Analytics Module</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Car Price Prediction EDA</p>

# WELCOME!

## Introduction
Welcome to "***AutoScout Data Analysis Project***". This is the capstone project of ***Data Analysis*** Module. **Auto Scout** data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using many Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy you will analyze clean dataset.

The project consists of 3 parts:
* First part is related with 'data cleaning'. It deals with Incorrect Headers, Incorrect Format, Anomalies, Dropping useless columns.
* Second part is related with 'filling data'. It deals with Missing Values. Categorical to numeric transformation is done.
* Third part is related with 'handling outliers of data' via Visualisation libraries. Some insights are extracted.

In [426]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

from pandas.plotting import register_matplotlib_converters
from pylab import rcParams
sns.set_style("darkgrid")

# import lux

import warnings
warnings.filterwarnings("ignore")

# Set it None to display all rows in the dataframe
# pd.set_option('display.max_rows', None)

# Set it to None to display all columns in the dataframe
pd.set_option('display.max_columns', None)

from requests import request
import json
from pandas.io.json import json_normalize

from pandas import json_normalize

# PART- 1 `( Data Cleaning )`

In [427]:
df = pd.read_json("scout_car.json", lines= True, orient= "columns")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [428]:
df.isnull().sum()

url                                  0
make_model                           0
short_description                   46
body_type                           60
price                                0
vat                               4513
km                                   0
registration                         0
prev_owner                        6828
kW                               15919
hp                                   0
Type                                 2
Previous Owners                   6640
Next Inspection                  12384
Inspection new                   11987
Warranty                          5420
Full Service                      7704
Non-smoking Vehicle               8742
null                                 0
Make                                 0
Model                                0
Offer Number                      3175
First Registration                1597
Body Color                         597
Paint Type                        5772
Body Color Original               3759
Upholstery                        3720
Body                                60
Nr. of Doors                       212
Nr. of Seats                       977
Model Code                       10941
Gearing Type                         0
Displacement                       496
Cylinders                         5680
Weight                            6974
Drive chain                       6858
Fuel                                 0
Consumption                       1906
CO2 Emission                      1808
Emission Class                    3021
\nComfort & Convenience\n          920
\nEntertainment & Media\n         1374
\nExtras\n                        2962
\nSafety & Security\n              982
description                          0
Emission Label                   11934
Gears                             4712
Country version                   8333
Electricity consumption          15782
Last Service Date                15353
Other Fuel Types                 15039
Availability                     15284
Last Timing Belt Service Date    15903
Available from                   15647
dtype: int64

In [429]:
## percentage of null values
(df.isnull().sum() / df.shape[0] * 100).sort_values()

url                                0.000000
make_model                         0.000000
price                              0.000000
description                        0.000000
km                                 0.000000
registration                       0.000000
Gearing Type                       0.000000
Model                              0.000000
hp                                 0.000000
Make                               0.000000
null                               0.000000
Fuel                               0.000000
Type                               0.012564
short_description                  0.288963
body_type                          0.376908
Body                               0.376908
Nr. of Doors                       1.331742
Displacement                       3.115774
Body Color                         3.750236
\nComfort & Convenience\n          5.779257
Nr. of Seats                       6.137320
\nSafety & Security\n              6.168729
\nEntertainment & Media\n          8.631195
First Registration                10.032037
CO2 Emission                      11.357497
Consumption                       11.973114
\nExtras\n                        18.606696
Emission Class                    18.977323
Offer Number                      19.944720
Upholstery                        23.368302
Body Color Original               23.613292
vat                               28.349771
Gears                             29.599849
Warranty                          34.047365
Cylinders                         35.680633
Paint Type                        36.258559
Previous Owners                   41.711163
prev_owner                        42.892141
Drive chain                       43.080596
Weight                            43.809285
Full Service                      48.395000
Country version                   52.346253
Non-smoking Vehicle               54.915510
Model Code                        68.729192
Emission Label                    74.967021
Inspection new                    75.299956
Next Inspection                   77.793831
Other Fuel Types                  94.472015
Availability                      96.011056
Last Service Date                 96.444500
Available from                    98.291350
Electricity consumption           99.139393
Last Timing Belt Service Date     99.899491
kW                               100.000000
dtype: float64

In [430]:
# columns that have more then 90 percent null will be dropped.
drop_lst = ['Other Fuel Types', 'Availability', 'Last Service Date', 'Available from', 'Electricity consumption', 'Last Timing Belt Service Date', 'kW']

In [431]:
df.drop(columns=drop_lst, axis=1, inplace=True)

# columns that have null values between 35 - 90 percent.

## Cylinders

In [432]:
df["Cylinders"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n4\n]    8105
NaN        5680
[\n3\n]    2104
[\n5\n]      22
[\n6\n]       3
[\n8\n]       2
[\n2\n]       2
[\n1\n]       1
Name: Cylinders, dtype: int64

In [433]:
df.Cylinders.str[0].str.strip().value_counts(dropna=False)

4      8105
NaN    5680
3      2104
5        22
6         3
8         2
2         2
1         1
Name: Cylinders, dtype: int64

In [434]:
df.Cylinders = df.Cylinders.str[0].str.strip()

## Paint Type

In [435]:
df["Paint Type"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nMetallic\n]       9794
NaN                  5772
[\nUni/basic\n]       347
[\nPerl effect\n]       6
Name: Paint Type, dtype: int64

In [436]:
df["Paint Type"].str[0].str.strip().value_counts(dropna=False)

Metallic       9794
NaN            5772
Uni/basic       347
Perl effect       6
Name: Paint Type, dtype: int64

In [437]:
df["Paint_Type"] = df["Paint Type"].str[0].str.strip()

In [438]:
df.drop(columns="Paint Type", axis=1, inplace=True)

## Previous Owners & prev_owner 
these column names looklikes eachother lets inspect them.

In [439]:
df["Previous Owners"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

\n1\n                                                                                        8101
NaN                                                                                          6640
\n2\n                                                                                         766
\n0\n                                                                                         163
\n3\n                                                                                          17
                                                                                             ...
[\n1\n, \n111 g CO2/km (comb)\n]                                                                1
[\n1\n, \nEuro 6\n]                                                                             1
[\n2\n, \n119 g CO2/km (comb)\n]                                                                1
[\n1\n, \n, 6.6 l/100 km (comb), \n, 8.1 l/100 km (city), \n, 5.7 l/100 km (country), \n]       1
[\n2\n, \n137 g CO2/km (comb)\n]                                                                1
Name: Previous Owners, Length: 103, dtype: int64

In [440]:
df["Previous Owners"].str[0].str.strip().value_counts(dropna=False)

       9049
NaN    6640
1       193
0        25
2        12
Name: Previous Owners, dtype: int64

In [441]:
df.prev_owner.value_counts(dropna=False)

1 previous owner     8294
NaN                  6828
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

In [442]:
df.prev_owner.str[0].str.strip().value_counts(dropna=False)

1      8294
NaN    6828
2       778
3        17
4         2
Name: prev_owner, dtype: int64

In [443]:
df.prev_owner.fillna(df["Previous Owners"]).str[0].str.strip().value_counts(dropna=False) 
# there is no change important change after filna so df["Previous Owners"] will be dropped and 
# df.prev_owner will be kept.

1      8294
NaN    6640
2       778
        163
0        25
3        17
4         2
Name: prev_owner, dtype: int64

In [444]:
df.prev_owner = df.prev_owner.str[0].str.strip()
df.prev_owner.value_counts(dropna=False)

1      8294
NaN    6828
2       778
3        17
4         2
Name: prev_owner, dtype: int64

In [445]:
df.drop(columns="Previous Owners", inplace=True)

## Drive chain

In [446]:
df["Drive chain"].str[0].str.strip().value_counts(dropna=False)

front    8886
NaN      6858
4WD       171
rear        4
Name: Drive chain, dtype: int64

In [447]:
df["drive_chain"] = df["Drive chain"].str[0].str.strip()

In [448]:
df.drop(columns="Drive chain", inplace=True)

## Weight

In [449]:
df.Weight.str[0].str.strip().value_counts(dropna=False)

NaN         6974
1,163 kg     574
1,360 kg     356
1,165 kg     301
1,335 kg     242
            ...
1,960 kg       1
1,258 kg       1
1,167 kg       1
1,331 kg       1
2,037 kg       1
Name: Weight, Length: 435, dtype: int64

In [450]:
df.Weight.str[0].str.strip().str.extract('(\d,*\d*)')

           0
0      1,220
1      1,255
2        NaN
3      1,195
4        NaN
...      ...
15914  1,758
15915  1,708
15916    NaN
15917  1,758
15918  1,685

[15919 rows x 1 columns]

In [451]:
df.Weight.str[0].str.strip().str.extract('(\d,*\d*)')[0].str.replace(",", "").value_counts(dropna=False)

NaN     6974
1163     574
1360     356
1165     301
1335     242
        ...
1960       1
1258       1
1167       1
1331       1
2037       1
Name: 0, Length: 435, dtype: int64

In [452]:
df["weight"] = df.Weight.str[0].str.strip().str.extract('(\d,*\d*)')[0].str.replace(",", "")

In [453]:
df.drop(columns= "Weight", inplace=True)

## Full Service

In [454]:
df["Full Service"].str[0].value_counts(dropna=False)

\n     8215
NaN    7704
Name: Full Service, dtype: int64

In [455]:
df["Full Service"].str[1].value_counts(dropna=False)

NaN    7987
\n     7932
Name: Full Service, dtype: int64

In [456]:
df["Full Service"].str[2].value_counts(dropna=False)

NaN                           9689
\n4 (Green)\n                 2235
\nEuro 6\n                    2097
\nEuro 6d-TEMP\n               399
\n120 g CO2/km (comb)\n        105
                              ...
\n253 g CO2/km (comb)\n          1
\n164 g CO2/km (comb)\n          1
\n13,983 g CO2/km (comb)\n       1
\n197 g CO2/km (comb)\n          1
\nEuro 4\n                       1
Name: Full Service, Length: 94, dtype: int64

In [457]:
df["Full Service"].str[3].value_counts(dropna=False)

NaN                    15879
5.4 l/100 km (comb)        6
6.6 l/100 km (comb)        5
5.7 l/100 km (comb)        5
4.9 l/100 km (comb)        4
5.9 l/100 km (comb)        4
4.4 l/100 km (comb)        2
6.3 l/100 km (comb)        2
6 l/100 km (comb)          2
4.8 l/100 km (comb)        2
5.5 l/100 km (comb)        1
5.8 l/100 km (comb)        1
4.7 l/100 km (comb)        1
5 l/100 km (comb)          1
4.3 l/100 km (comb)        1
4.6 l/100 km (comb)        1
6.2 l/100 km (comb)        1
6.5 l/100 km (comb)        1
Name: Full Service, dtype: int64

In [458]:
df["Full Service"].str[4].value_counts(dropna=False)

NaN    15879
\n        40
Name: Full Service, dtype: int64

In [459]:
df["Full Service"].str[5].value_counts(dropna=False)

NaN                    15879
7.8 l/100 km (city)        4
7.3 l/100 km (city)        4
5.9 l/100 km (city)        3
6 l/100 km (city)          3
8.2 l/100 km (city)        3
7.2 l/100 km (city)        3
5.2 l/100 km (city)        3
\n                         2
6.7 l/100 km (city)        2
7.6 l/100 km (city)        2
7.5 l/100 km (city)        1
6.2 l/100 km (city)        1
8 l/100 km (city)          1
7.4 l/100 km (city)        1
7 l/100 km (city)          1
5.8 l/100 km (city)        1
7.7 l/100 km (city)        1
8.1 l/100 km (city)        1
8.3 l/100 km (city)        1
8.4 l/100 km (city)        1
5.4 l/100 km (city)        1
Name: Full Service, dtype: int64

In [460]:
df.drop(columns="Full Service", inplace=True)

## Country version

In [461]:
df["Country version"].str[0].str.strip().value_counts(dropna=False)

NaN               8333
Germany           4502
Italy             1038
European Union     507
Netherlands        464
Spain              325
Belgium            314
Austria            208
Czech Republic      52
Poland              49
France              38
Denmark             33
Hungary             28
Japan                8
Slovakia             4
Croatia              4
Sweden               3
Romania              2
Bulgaria             2
Luxembourg           1
Switzerland          1
Slovenia             1
Egypt                1
Serbia               1
Name: Country version, dtype: int64

In [462]:
df.country_version = df["Country version"].str[0].str.strip()

In [463]:
df.drop(columns="Country version", inplace=True)

## Non-smoking Vehicle

In [464]:
df["Non-smoking Vehicle"].str[0].value_counts(dropna=False)

NaN    8742
\n     7177
Name: Non-smoking Vehicle, dtype: int64

In [465]:
df["Non-smoking Vehicle"].str[1].value_counts(dropna=False)

NaN    8812
\n     7107
Name: Non-smoking Vehicle, dtype: int64

In [466]:
df["Non-smoking Vehicle"].str[2].value_counts(dropna=False)

NaN                        12459
\n4 (Green)\n               1240
\nEuro 6\n                  1127
\nEuro 6d-TEMP\n             345
\n120 g CO2/km (comb)\n       63
                           ...
\n150 g CO2/km (comb)\n        1
\n122 g CO2/km (comb)\n        1
\n189 g CO2/km (comb)\n        1
\n101 g CO2/km (comb)\n        1
\n175 g CO2/km (comb)\n        1
Name: Non-smoking Vehicle, Length: 82, dtype: int64

In [467]:
df.drop(columns="Non-smoking Vehicle", inplace=True)

## Model Code

In [468]:
df["Model Code"].str[0].str.strip().value_counts(dropna=False)

NaN         10941
0035/BCB      268
0588/BNO      245
0588/BDB      206
0588/BHX      188
            ...
0035/AVN        1
0035/BEM        1
0035/BAG        1
0035/BAA        1
3333/BKG        1
Name: Model Code, Length: 233, dtype: int64

In [469]:
df.model_code =  df["Model Code"].str[0].str.strip()

## Emission Label

In [470]:
df["Emission Label"].str[0].str.strip().value_counts(dropna=False)

NaN               11974
4 (Green)          3553
1 (No sticker)      381
5 (Blue)              8
3 (Yellow)            2
2 (Red)               1
Name: Emission Label, dtype: int64

In [519]:
df["Emission_Label"] = df["Emission Label"].str[0].str.strip()
df["Emission_Label"].value_counts(dropna=False)

NaN               11974
4 (Green)          3553
1 (No sticker)      381
5 (Blue)              8
3 (Yellow)            2
2 (Red)               1
Name: Emission_Label, dtype: int64

In [656]:
df.drop(columns="Emission Label", inplace=True)

## Inspection new

In [472]:
df["Inspection new"].str[0].str.strip().value_counts(dropna=False)

NaN    11987
Yes     3570
         362
Name: Inspection new, dtype: int64

Altough null value percentage is high. it can effect the value of the car. So we will keep it.

In [473]:
df.inspection_new = df["Inspection new"].str[0].str.strip()

In [474]:
df.drop(columns="Inspection new", inplace=True)

## Next Inspection

In [475]:
df["Next Inspection"].str[0].str.strip().value_counts(dropna=False)

NaN        12384
             710
06/2021      437
03/2021      172
05/2021      153
           ...
12/2017        1
01/2023        1
01/1921        1
11/2022        1
03/2017        1
Name: Next Inspection, Length: 70, dtype: int64

In [476]:
df[["Next Inspection"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 1 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Next Inspection  3535 non-null   object
dtypes: object(1)
memory usage: 124.5+ KB

## short_description

In [477]:
df.short_description.value_counts(dropna=False)

SPB 1.6 TDI 116 CV S tronic Sport                 64
NaN                                               46
1.4 66kW (90CV) Selective                         40
MOVE KLIMA CD USB ALLWETTER BLUETOOTH             38
SPB 30 TDI S tronic Business                      35
                                                  ..
K Sports Tourer Business **Navi*Voll**             1
1.0 Turbo ecoFLEX Automatic Elective Park Navi     1
1.6 CDTI Business *Navi*Automatik*Spurh.*          1
1.6 136 CV Automatica Navi E 6 Garanzia Full       1
TCe 225 EDC GPF LIM Deluxe Pano,RFK                1
Name: short_description, Length: 10002, dtype: int64

In [478]:
df.short_description.sample(50)

4306               Sportback 2.0 TDI sport Navi+ Xenon Shz
3731                        1.4 TFSI c.o.d. ultra S tronic
6306     1.6 CDTI 110 ch ecoFLEX Start/Stop Business Conne
1857        Sportback 1.4 TDI sport Navi/Xenon/SitzHzg/PDC
14316                        LIMITED 2018 TCe 75 Klima/LED
3534     Sportback Ambition, 1.6 TDI, 6-Gang, S-Line Exter
9367                   E 120 Jahre 1.4 Rückfahrkam. PDCv+h
6734                      1.4 ST Selection KLIMA BLUETOOTH
8096           K ST Active 1.4 Rückfkam Klimaaut Allwetter
2938     2.0 TDI Sportback S tronic Attraction Standh X...
984      SPORTBACK 1.0 TFSI 95ch ultra Ambiente S tronic 7
4824     Limousine 1.6 TDI sport Xenon Navi Lichtpaket ...
10150           1.4 120 JAHRE 5t KAMERA/SHZ/2xPDC/R4.0/ALU
1478              Sportback 1.6 TDI Adrenalin 85 kW (116 C
2778                  Sportback 1.4 TFSI Ambiente S-tronic
12506          COUNTRY TOURER ST 2.0 CDTI 170cv AUTOMATICA
13530               1.5 dCi 8V 75CV Start&Stop 5 porte Van
14800    IV 0.9 TCE 75CH ENERGY TREND 5P EURO6C+ROUE DE SE
5643            Sportback 30 TFSI 116 Nav PDC SHZ Temp 16Z
5396                   SB 30TDI EU6 dTemp SPORT LED S-Line
6462                                          K Innovation
9992     E 120 Jahre 1.4 EU6d-T, Automatikgetriebe, Klima,
807      Sportback 1.0TFSI Sitzh Einpark Klima Servo Radio
9680      5trg 120 Jahre 1,4 Automatik IntelliLink SHZ PDC
15586                                Life BLUE dCi 160 EDC
4202                                 1.4 TFSI c.o.d. ultra
1963              Sportback 30 TFSI 116cv S-tronic Admired
183          Sportback admired 1.0 TFSI S tronic Xenon PDC
4104                Sportback 1.0 TFSI 6-Gang, Xenon, SHZ,
9100                          1.4i Black Edition GPS AIRCO
12445              2.0 Business E.6 d-Temp Navi*LED*LEDER*
2857       SPB 1.6 TDI S TRONIC AMBITION NAVI+C.L16+PDC!!!
3773     SPB 1.6 TDI 116 CV S tronic Sport + NAVIGATORE...
3197                               Sportback 2.0 TDI Xenon
8667          E 1.2 SELECTION Klima, inkl. 5 Jahre Garanti
6039            K 1,6 CDTI SportsTo,NAVI,SHZ,Applecarp,EU6
841                 Sportback 1.0 TFSi design Navi Sitzhzg
15419                          dCi 160CV EDC Energy Intens
6778                             1.6CDTi S/S Selective 110
3107                    1.4 TFSI 125 CV Attraction man 6v.
1917                           Sportback 1.0 TFSI advanced
859      Sportback 1.0 TFSI S tronic sport OPTIK PAKET ...
13566                    IV SOCIETE DCI 90 ENERGY ECO2 AIR
4058                              SPB 1.6 TDI 116 CV Sport
12860                   Grand Sport 1.6 Innovation+Kamera+
2132     Sportback 30 TFSI S tronic Navi+/virtual/EPH+/SMA
10347          1.2 70CV - 5 PORTE - ADVANCE - NUOVA - G 36
11083                         ST Edition 1.6 CDTI Navi PDC
11595      Sports Tourer 1.5 Direct InjectionTurbo Dynamic
4582     SPB 1.6TDI Stronic Design#NAVI#FullLed Progres...
Name: short_description, dtype: object

In [479]:
df['short_description'].str.extract('\D*([0-9]{1}\.\d{1})[\D ]').value_counts(dropna=False)

NaN    5164
1.6    3890
1.4    2531
1.0    1321
1.2     953
2.0     886
1.5     883
1.3     135
1.8      59
0.9      49
4.0      22
2.5      19
1.1       3
1.7       3
2.8       1
dtype: int64

In [480]:
df['cc_from_description'] = df['short_description'].str.extract('\D*([0-3]{1}\.\d{1})[\D ]')

In [481]:
df.drop(columns="short_description", inplace=True)

# checking the columns that have less None than 35%

In [482]:
df.head()

,url,make_model,body_type,price,vat,km,registration,prev_owner,hp,Type,Next Inspection,Warranty,null,Make,Model,Offer Number,First Registration,Body Color,Body Color Original,Upholstery,Body,Nr. of Doors,Nr. of Seats,Model Code,Gearing Type,Displacement,Cylinders,Fuel,Consumption,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,description,Emission Label,Gears,Paint_Type,drive_chain,weight,Emission_Label,cc_from_description
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sedans,15770,VAT deductible,"56,013 km",01/2016,2,66 kW,"[, Used, , Diesel (Particulate Filter)]","[\n06/2021\n, \n99 g CO2/km (comb)\n]","[\n, \n, \n4 (Green)\n]",[],\nAudi\n,"[\n, A1, \n]",[\nLR-062483\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMythosschwarz\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",3,"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Catalytic Converter, Voice Cont...","[ABS, Central door lock, Daytime running light...","[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,Metallic,front,1220,NaN,1.4
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,141 kW,"[, Used, , Gasoline]",NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2017, \n]","[\n, Red, \n]",NaN,"[\nCloth, Grey\n]","[\n, Sedans, \n]",[\n3\n],[\n4\n],[\n0588/BCY\n],"[\n, Automatic, \n]","[\n1,798 cc\n]",4,"[\n, Gasoline, \n]","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...",[\n129 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Sport seats, Sport suspension, ...","[ABS, Central door lock, Central door lock wit...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN,front,1255,4 (Green),1.8
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sedans,14640,VAT deductible,"83,450 km",02/2016,1,85 kW,"[, Used, , Diesel (Particulate Filter)]",NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",[],\nAudi\n,"[\n, A1, \n]",[\nAM-95365\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nmythosschwarz metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n4\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",NaN,"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Cruise control, Electrical ...","[MP3, On-board computer]","[Alloy wheels, Voice Control]","[ABS, Central door lock, Daytime running light...","[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",[\n4 (Green)\n],NaN,Metallic,front,NaN,4 (Green),1.6
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,Sedans,14500,None,"73,000 km",08/2016,1,66 kW,"[, Used, , Diesel (Particulate Filter)]",NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2016, \n]","[\n, Brown, \n]",NaN,NaN,"[\n, Sedans, \n]",[\n3\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,422 cc\n]",3,"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air suspension, Armrest, Auxiliary heating, E...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport seats, Voice Control]","[ABS, Alarm system, Central door lock with rem...","[\nAudi A1: , - 1e eigenaar , - Perfecte staat...",NaN,[\n6\n],Metallic,NaN,1195,NaN,1.4
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sedans,16790,None,"16,200 km",05/2016,1,66 kW,"[, Used, , Diesel (Particulate Filter)]",NaN,"[\n, \n, \nEuro 6\n]",[],\nAudi\n,"[\n, A1, \n]",[\nC1626\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMythosschwarz Metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",3,"[\n, Diesel (Particulate Filter), \n]","[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],...",[\n109 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport package, Sport suspension...","[ABS, Central door lock, Driver-side airbag, E...","[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",NaN,NaN,Metallic,front,NaN,NaN,1.4

## url

In [483]:
df.url.value_counts(dropna=False)

https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-xenon-navi-klima-diesel-black-bdab349a-caa5-41b0-98eb-c1345b84445e                  1
https://www.autoscout24.com//offers/opel-insignia-bus-inno-2-0-cdti-aut-navi-bi-xe-led-e6-diesel-black-8710b253-dd98-4ed0-9d46-cbad2d79532b                1
https://www.autoscout24.com//offers/opel-insignia-sport-tourer-opel-sport-tourer-1-6-cdti-136-ch-a-c-diesel-silver-10b7463b-9f56-4348-af35-df3432b2b585    1
https://www.autoscout24.com//offers/opel-insignia-2-0cdti-st-business-innovation-navi-bt-diesel-black-ba5a3368-dedc-4e51-9127-3976b26e93c2                 1
https://www.autoscout24.com//offers/opel-insignia-sport-tourer-opel-sport-tourer-1-6-cdti-136-ch-a-c-diesel-silver-7b52f054-78d3-4d5e-9370-8a7d081d7edd    1
                                                                                                                                                          ..
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-black-cf50f7b1-4d7b-466f-93a2-4e11ec0b4107                        1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-grey-3f47eb34-15c4-4763-860d-78fcbbd2c9ff                         1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-silver-f7a4bc95-b2ef-4bac-9497-6bcbcd05db0b                       1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-silver-1c94c7a2-67b5-49ca-ae42-42a6800fb3f5                       1
https://www.autoscout24.com//offers/renault-espace-initiale-paris-tce-225-edc-gpf-navi-shz-aux-gasoline-grey-0bd690d9-7e93-4cab-bc5a-9d5b63402481          1
Name: url, Length: 15919, dtype: int64

In [484]:
df.url.sample(20)

4908     https://www.autoscout24.com//offers/audi-a3-sp...
1494     https://www.autoscout24.com//offers/audi-a1-sp...
15136    https://www.autoscout24.com//offers/renault-es...
11355    https://www.autoscout24.com//offers/opel-insig...
7695     https://www.autoscout24.com//offers/opel-astra...
1060     https://www.autoscout24.com//offers/audi-a1-sp...
12579    https://www.autoscout24.com//offers/opel-insig...
6188     https://www.autoscout24.com//offers/opel-astra...
4279     https://www.autoscout24.com//offers/audi-a3-2-...
9681     https://www.autoscout24.com//offers/opel-corsa...
3355     https://www.autoscout24.com//offers/audi-a3-sp...
10708    https://www.autoscout24.com//offers/opel-insig...
5578     https://www.autoscout24.com//offers/audi-a3-sp...
7030     https://www.autoscout24.com//offers/opel-astra...
7248     https://www.autoscout24.com//offers/opel-astra...
4992     https://www.autoscout24.com//offers/audi-a3-sp...
6363     https://www.autoscout24.com//offers/opel-astra...
2549     https://www.autoscout24.com//offers/audi-a1-sp...
3838     https://www.autoscout24.com//offers/audi-a3-li...
9652     https://www.autoscout24.com//offers/opel-corsa...
Name: url, dtype: object

## make_model & Make & Model

In [485]:
df.columns

Index(['url', 'make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'hp', 'Type', 'Next Inspection', 'Warranty', 'null',
       'Make', 'Model', 'Offer Number', 'First Registration', 'Body Color',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Fuel', 'Consumption', 'CO2 Emission', 'Emission Class',
       '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n',
       '\nSafety & Security\n', 'description', 'Emission Label', 'Gears',
       'Paint_Type', 'drive_chain', 'weight', 'Emission_Label',
       'cc_from_description'],
      dtype='object')

In [486]:
df.make_model.value_counts(dropna=False)

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

In [487]:
df.Make.value_counts(dropna=False)

\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: Make, dtype: int64

In [488]:
df.Make.str.strip().value_counts(dropna=False)

Opel       7343
Audi       5712
Renault    2864
Name: Make, dtype: int64

In [489]:
df["brand"] = df.Make.str.strip()
df.drop(columns="Make", inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 43 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   url                      15919 non-null  object
 1   make_model               15919 non-null  object
 2   body_type                15859 non-null  object
 3   price                    15919 non-null  int64
 4   vat                      11406 non-null  object
 5   km                       15919 non-null  object
 6   registration             15919 non-null  object
 7   prev_owner               9091 non-null   object
 8   hp                       15919 non-null  object
 9   Type                     15917 non-null  object
 10  Next Inspection          3535 non-null   object
 11  Warranty                 10499 non-null  object
 12  null                     15919 non-null  object
 13  Model                    15919 non-null  object
 14  Offer Number             12744 non-null  object
 15  First Registration       14322 non-null  object
 16  Body Color               15322 non-null  object
 17  Body Color Original      12160 non-null  object
 18  Upholstery               12199 non-null  object
 19  Body                     15859 non-null  object
 20  Nr. of Doors             15707 non-null  object
 21  Nr. of Seats             14942 non-null  object
 22  Model Code               4978 non-null   object
 23  Gearing Type             15919 non-null  object
 24  Displacement             15423 non-null  object
 25  Cylinders                10239 non-null  object
 26  Fuel                     15919 non-null  object
 27  Consumption              14013 non-null  object
 28  CO2 Emission             14111 non-null  object
 29  Emission Class           12898 non-null  object
 30
Comfort & Convenience
  14999 non-null  object
 31
Entertainment & Media
  14545 non-null  object
 32
Extras
                 12957 non-null  object
 33
Safety & Security
      14937 non-null  object
 34  description              15919 non-null  object
 35  Emission Label           3985 non-null   object
 36  Gears                    11207 non-null  object
 37  Paint_Type               10147 non-null  object
 38  drive_chain              9061 non-null   object
 39  weight                   8945 non-null   object
 40  Emission_Label           3945 non-null   object
 41  cc_from_description      10733 non-null  object
 42  brand                    15919 non-null  object
dtypes: int64(1), object(42)
memory usage: 5.2+ MB

In [490]:
df.Model.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, A3, \n]          3097
[\n, A1, \n]          2614
[\n, Insignia, \n]    2598
[\n, Astra, \n]       2526
[\n, Corsa, \n]       2219
[\n, Clio, \n]        1839
[\n, Espace, \n]       991
[\n, Duster, \n]        34
[\n, A2, \n]             1
Name: Model, dtype: int64

In [491]:
df.Model.str[1].value_counts(dropna=False)

A3          3097
A1          2614
Insignia    2598
Astra       2526
Corsa       2219
Clio        1839
Espace       991
Duster        34
A2             1
Name: Model, dtype: int64

In [492]:
df.model = df.Model.str[1]

## body_type

In [493]:
df.body_type.value_counts(dropna=False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

## price

In [494]:
df.price.value_counts(dropna=False)

14990    154
15990    151
10990    139
15900    106
17990    102
        ...
17559      1
17560      1
17570      1
17575      1
39875      1
Name: price, Length: 2956, dtype: int64

## vat

In [495]:
df.vat.value_counts(dropna=False)

VAT deductible      10980
NaN                  4513
Price negotiable      426
Name: vat, dtype: int64

## km

In [496]:
df.km.value_counts(dropna=False)

10 km        1045
- km         1024
1 km          367
5 km          170
50 km         148
             ...
67,469 km       1
43,197 km       1
10,027 km       1
35,882 km       1
57 km           1
Name: km, Length: 6690, dtype: int64

In [497]:
df.km.str.split().str[0].str.replace(",", "").replace("-", np.NaN).value_counts(dropna=False, ascending=False)

10       1045
NaN      1024
1         367
5         170
50        148
         ...
67469       1
43197       1
10027       1
35882       1
57          1
Name: km, Length: 6690, dtype: int64

In [498]:
df.km = df.km.str.split().str[0].str.replace(",", "").replace("-", np.NaN)

## registration & First Registration

In [499]:
df["First Registration"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, 2018, \n]    4522
[\n, 2016, \n]    3674
[\n, 2017, \n]    3273
[\n, 2019, \n]    2853
NaN               1597
Name: First Registration, dtype: int64

In [500]:
df.registration.value_counts(dropna=False)

-/-        1597
03/2018     695
02/2019     585
05/2018     572
03/2019     543
01/2019     541
04/2018     541
02/2018     539
03/2016     536
04/2016     532
06/2018     532
01/2018     511
04/2019     506
02/2016     472
03/2017     471
05/2016     459
06/2016     452
05/2019     440
06/2017     409
05/2017     404
07/2018     396
04/2017     380
01/2016     376
02/2017     368
01/2017     306
08/2018     285
06/2019     224
07/2017     215
11/2017     180
07/2016     176
10/2016     160
10/2017     154
09/2017     149
11/2016     142
09/2018     141
09/2016     141
12/2016     134
12/2017     123
08/2017     114
11/2018     110
12/2018     103
10/2018      97
08/2016      94
07/2019       6
09/2019       5
08/2019       1
11/2019       1
12/2019       1
Name: registration, dtype: int64

In [501]:
df["registration"] = df["registration"].replace("-/-", np.NaN)

In [502]:
df["registration"] = pd.to_datetime(df["registration"])

In [503]:
pd.to_datetime(df["registration"]).value_counts(dropna=False)

NaT           1597
2018-03-01     695
2019-02-01     585
2018-05-01     572
2019-03-01     543
2019-01-01     541
2018-04-01     541
2018-02-01     539
2016-03-01     536
2016-04-01     532
2018-06-01     532
2018-01-01     511
2019-04-01     506
2016-02-01     472
2017-03-01     471
2016-05-01     459
2016-06-01     452
2019-05-01     440
2017-06-01     409
2017-05-01     404
2018-07-01     396
2017-04-01     380
2016-01-01     376
2017-02-01     368
2017-01-01     306
2018-08-01     285
2019-06-01     224
2017-07-01     215
2017-11-01     180
2016-07-01     176
2016-10-01     160
2017-10-01     154
2017-09-01     149
2016-11-01     142
2018-09-01     141
2016-09-01     141
2016-12-01     134
2017-12-01     123
2017-08-01     114
2018-11-01     110
2018-12-01     103
2018-10-01      97
2016-08-01      94
2019-07-01       6
2019-09-01       5
2019-08-01       1
2019-11-01       1
2019-12-01       1
Name: registration, dtype: int64

In [504]:
df.drop(columns="First Registration", inplace=True)

## hp

In [505]:
df.hp.value_counts(dropna=False)

85 kW     2542
66 kW     2122
81 kW     1402
100 kW    1308
110 kW    1112
          ...
84 kW        1
195 kW       1
44 kW        1
239 kW       1
9 kW         1
Name: hp, Length: 81, dtype: int64

In [506]:
df.hp.str.split().str[0].value_counts(dropna=False)

85     2542
66     2122
81     1402
100    1308
110    1112
       ...
84        1
195       1
44        1
239       1
9         1
Name: hp, Length: 81, dtype: int64

In [507]:
df["hp_kW"] = df.hp.str.split().str[0]
df.drop(columns="hp", inplace=True)

## Type

In [508]:
df.Type.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[, Used, , Diesel (Particulate Filter)]                                                                                 3475
[, Used, , Diesel]                                                                                                      2516
[, Used, , Gasoline]                                                                                                    2367
[, Used, , Super 95]                                                                                                    1818
[, Pre-registered, , Super 95]                                                                                           500
                                                                                                                        ...
[, New, , Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95]       1
[, Used, , Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)]                               1
[, Demonstration, , Super Plus 98]                                                                                         1
[, New, , Super Plus E10 98]                                                                                               1
[, Demonstration, , Regular/Benzine E10 91]                                                                                1
Name: Type, Length: 170, dtype: int64

In [509]:
df.Type.str[0].value_counts(dropna=False)

       15917
NaN        2
Name: Type, dtype: int64

In [510]:
df.Type.str[1].value_counts(dropna=False)

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
NaN                   2
Name: Type, dtype: int64

In [511]:
df["used_new"] = df.Type.str[1]

In [512]:
df.Type.str[2].value_counts(dropna=False)

       15917
NaN        2
Name: Type, dtype: int64

In [513]:
df.Type.str[3].value_counts(dropna=False)

Diesel (Particulate Filter)                                                                                  4315
Super 95                                                                                                     3338
Gasoline                                                                                                     3175
Diesel                                                                                                       2982
Super 95 / Regular/Benzine 91                                                                                 424
                                                                                                             ...
Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91                                                          1
Super Plus 98 / Super E10 95                                                                                    1
Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95       1
Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98       1
Super Plus 98 / Super 95 / Super Plus E10 98                                                                    1
Name: Type, Length: 78, dtype: int64

In [514]:
df["fuel_type"] = df.Type.str[3]
df.fuel_type.value_counts(dropna=False)

Diesel (Particulate Filter)                                                                                  4315
Super 95                                                                                                     3338
Gasoline                                                                                                     3175
Diesel                                                                                                       2982
Super 95 / Regular/Benzine 91                                                                                 424
                                                                                                             ...
Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91                                                          1
Super Plus 98 / Super E10 95                                                                                    1
Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95       1
Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98       1
Super Plus 98 / Super 95 / Super Plus E10 98                                                                    1
Name: fuel_type, Length: 78, dtype: int64

In [515]:
df.Type.str[4].value_counts(dropna=False)

NaN    15919
Name: Type, dtype: int64

In [516]:
df.drop(columns="Type", inplace=True)

## Non-smoking Vehicle

In [517]:
df["Non-smoking Vehicle"].value_counts(dropna=False)

KeyError: 'Non-smoking Vehicle'

In [ ]:
df["Non-smoking Vehicle"].str[0].value_counts(dropna=False)

In [ ]:
df["Non-smoking Vehicle"].str[1].value_counts(dropna=False)

In [ ]:
df["Non-smoking Vehicle"].str[2].value_counts(dropna=False)

In [ ]:
df.drop(columns="Non-smoking Vehicle", inplace=True)

## null

In [ ]:
df.null.value_counts(dropna=False)

In [ ]:
df.drop(columns="null", inplace=True)

## Offer Number

In [522]:
df["Offer Number"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                               3175
[\nLT67679\n]                                       27
[\nUN89904\n]                                       27
[\nXJ38068\n]                                       27
[\nJV03654\n]                                       27
                                                  ...
[\n160_dcbb6c3e-a6da-43a3-8754-ccd994cec93b\n]       1
[\n6701576\n]                                        1
[\n6701569\n]                                        1
[\n158121\n]                                         1
[\nRe_30000008029\n]                                 1
Name: Offer Number, Length: 11441, dtype: int64

In [524]:
df["Offer Number"].str[0].str.strip().value_counts(dropna=False)

NaN                                         3175
LT67679                                       27
UN89904                                       27
XJ38068                                       27
JV03654                                       27
                                            ...
160_dcbb6c3e-a6da-43a3-8754-ccd994cec93b       1
6701576                                        1
6701569                                        1
158121                                         1
Re_30000008029                                 1
Name: Offer Number, Length: 11441, dtype: int64

In [525]:
df["offer_num"] = df["Offer Number"].str[0].str.strip()

In [520]:
df.columns

Index(['url', 'make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'Next Inspection', 'Warranty', 'null', 'Model',
       'Offer Number', 'Body Color', 'Body Color Original', 'Upholstery',
       'Body', 'Nr. of Doors', 'Nr. of Seats', 'Model Code', 'Gearing Type',
       'Displacement', 'Cylinders', 'Fuel', 'Consumption', 'CO2 Emission',
       'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Paint_Type', 'drive_chain',
       'weight', 'Emission_Label', 'cc_from_description', 'brand', 'hp_kW',
       'used_new', 'fuel_type'],
      dtype='object')

In [526]:
df.drop(columns="Offer Number", inplace=True)

## Body color

In [529]:
df['Body Color'].str[1].str.strip().value_counts(dropna=False)

Black     3745
Grey      3505
White     3406
Silver    1647
Blue      1431
Red        957
NaN        597
Brown      289
Green      154
Beige      108
Yellow      51
Violet      18
Bronze       6
Orange       3
Gold         2
Name: Body Color, dtype: int64

In [530]:
df.color = df['Body Color'].str[1].str.strip()

In [531]:
df.drop(columns='Body Color', inplace=True)

In [533]:
df.color.value_counts()

Black     3745
Grey      3505
White     3406
Silver    1647
Blue      1431
Red        957
Brown      289
Green      154
Beige      108
Yellow      51
Violet      18
Bronze       6
Orange       3
Gold         2
Name: Body Color, dtype: int64

In [534]:
df.columns

Index(['url', 'make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'Next Inspection', 'Warranty', 'null', 'Model',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Fuel', 'Consumption', 'CO2 Emission', 'Emission Class',
       '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n',
       '\nSafety & Security\n', 'description', 'Emission Label', 'Gears',
       'Paint_Type', 'drive_chain', 'weight', 'Emission_Label',
       'cc_from_description', 'brand', 'hp_kW', 'used_new', 'fuel_type',
       'offer_num'],
      dtype='object')

## Body Color Original

In [536]:
df["Body Color Original"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                    3759
[\nOnyx Schwarz\n]                      338
[\nBianco\n]                            282
[\nMythosschwarz Metallic\n]            238
[\nBrillantschwarz\n]                   216
                                       ...
[\nRouge-Braun (G0Y)\n]                   1
[\nVARI COLRI DISPONIBILI\n]              1
[\nKokosnussbraun Metallic\n]             1
[\nFarbe frei wählbar\n]                  1
[\nPerlmutt-Weiß Metallic (Weiß)\n]       1
Name: Body Color Original, Length: 1928, dtype: int64

In [539]:
df["Body Color Original"].str[0].str.strip().value_counts(dropna=False)

NaN                              3759
Onyx Schwarz                      338
Bianco                            282
Mythosschwarz Metallic            238
Brillantschwarz                   216
                                 ...
Rouge-Braun (G0Y)                   1
VARI COLRI DISPONIBILI              1
Kokosnussbraun Metallic             1
Farbe frei wählbar                  1
Perlmutt-Weiß Metallic (Weiß)       1
Name: Body Color Original, Length: 1928, dtype: int64

In [541]:
df.original_color = df["Body Color Original"].str[0].str.strip()

In [542]:
df.drop(columns="Body Color Original", inplace=True)

In [543]:
df.columns

Index(['url', 'make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'Next Inspection', 'Warranty', 'null', 'Model',
       'Upholstery', 'Body', 'Nr. of Doors', 'Nr. of Seats', 'Model Code',
       'Gearing Type', 'Displacement', 'Cylinders', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Paint_Type', 'drive_chain',
       'weight', 'Emission_Label', 'cc_from_description', 'brand', 'hp_kW',
       'used_new', 'fuel_type', 'offer_num'],
      dtype='object')

## Upholstery

In [544]:
df.Upholstery.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nCloth, Black\n]           5821
NaN                          3720
[\nPart leather, Black\n]    1121
[\nCloth\n]                  1005
[\nCloth, Grey\n]             891
[\nCloth, Other\n]            639
[\nFull leather, Black\n]     575
[\nBlack\n]                   491
[\nGrey\n]                    273
[\nOther, Other\n]            182
[\nPart leather\n]            140
[\nFull leather\n]            139
[\nFull leather, Brown\n]     116
[\nPart leather, Grey\n]      116
[\nOther, Black\n]            110
[\nFull leather, Other\n]      72
[\nFull leather, Grey\n]       67
[\nPart leather, Other\n]      65
[\nOther\n]                    56
[\nPart leather, Brown\n]      50
[\nalcantara, Black\n]         47
[\nVelour, Black\n]            36
[\nFull leather, Beige\n]      36
[\nCloth, Brown\n]             28
[\nVelour\n]                   16
[\nOther, Grey\n]              15
[\nCloth, Beige\n]             13
[\nBrown\n]                    12
[\nCloth, Blue\n]              12
[\nVelour, Grey\n]              8
[\nCloth, White\n]              8
[\nalcantara, Grey\n]           6
[\nCloth, Red\n]                5
[\nOther, Yellow\n]             4
[\nPart leather, Red\n]         3
[\nBeige\n]                     3
[\nPart leather, White\n]       2
[\nFull leather, Blue\n]        2
[\nalcantara, Other\n]          2
[\nalcantara\n]                 2
[\nWhite\n]                     2
[\nPart leather, Beige\n]       2
[\nBlue\n]                      2
[\nCloth, Orange\n]             1
[\nFull leather, Red\n]         1
[\nOther, Brown\n]              1
[\nFull leather, White\n]       1
Name: Upholstery, dtype: int64

In [548]:
df.Upholstery.str[0].str.strip().value_counts(dropna=False)

Cloth, Black           5821
NaN                    3720
Part leather, Black    1121
Cloth                  1005
Cloth, Grey             891
Cloth, Other            639
Full leather, Black     575
Black                   491
Grey                    273
Other, Other            182
Part leather            140
Full leather            139
Full leather, Brown     116
Part leather, Grey      116
Other, Black            110
Full leather, Other      72
Full leather, Grey       67
Part leather, Other      65
Other                    56
Part leather, Brown      50
alcantara, Black         47
Velour, Black            36
Full leather, Beige      36
Cloth, Brown             28
Velour                   16
Other, Grey              15
Cloth, Beige             13
Brown                    12
Cloth, Blue              12
Velour, Grey              8
Cloth, White              8
alcantara, Grey           6
Cloth, Red                5
Other, Yellow             4
Part leather, Red         3
Beige                     3
Part leather, White       2
Full leather, Blue        2
alcantara, Other          2
alcantara                 2
White                     2
Part leather, Beige       2
Blue                      2
Cloth, Orange             1
Full leather, Red         1
Other, Brown              1
Full leather, White       1
Name: Upholstery, dtype: int64

In [555]:
df.Upholstery.str[0].str.strip().str.split(pat=",").str[0].value_counts(dropna=False)

Cloth           8423
NaN             3720
Part leather    1499
Full leather    1009
Black            491
Other            368
Grey             273
Velour            60
alcantara         57
Brown             12
Beige              3
Blue               2
White              2
Name: Upholstery, dtype: int64

In [564]:
df.Upholstery.str[0].str.strip().str.split(pat=",").str[0].replace(dict.fromkeys(
    ["Black", "Grey", "Other", "Brown", "Beige", "Blue", "White"], np.NaN)
                                                                      ).value_counts(dropna=False)

Cloth           8423
NaN             4871
Part leather    1499
Full leather    1009
Velour            60
alcantara         57
Name: Upholstery, dtype: int64

In [565]:
df["upholstery_kind"] = df.Upholstery.str[0].str.strip().str.split(pat=",").str[0].replace(dict.fromkeys(
    ["Black", "Grey", "Other", "Brown", "Beige", "Blue", "White"], np.NaN)
                                                                      )

In [567]:
df.Upholstery.str[0].str.strip().str.split(pat=",").str[1].value_counts(dropna=False)

 Black     7710
NaN        5861
 Grey      1103
 Other      960
 Brown      195
 Beige       51
 Blue        14
 White       11
 Red          9
 Yellow       4
 Orange       1
Name: Upholstery, dtype: int64

In [568]:
df["upholstery_color"] = df.Upholstery.str[0].str.strip().str.split(pat=",").str[1]

In [569]:
df.drop(columns="Upholstery", inplace=True)

## Body & body_type

In [572]:
df.Body.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Sedans, \n]           7903
[\n, Station wagon, \n]    3553
[\n, Compact, \n]          3153
[\n, Van, \n]               783
[\n, Other, \n]             290
[\n, Transporter, \n]        88
NaN                          60
[\n, Off-Road, \n]           56
[\n, Coupe, \n]              25
[\n, Convertible, \n]         8
Name: Body, dtype: int64

In [576]:
df.Body.str[1].str.strip().value_counts(dropna=False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: Body, dtype: int64

In [578]:
df.body_type.value_counts(dropna=False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [579]:
df.drop(columns="Body", inplace=True)

In [580]:
df.columns

Index(['url', 'make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'Next Inspection', 'Warranty', 'null', 'Model',
       'Nr. of Doors', 'Nr. of Seats', 'Model Code', 'Gearing Type',
       'Displacement', 'Cylinders', 'Fuel', 'Consumption', 'CO2 Emission',
       'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Paint_Type', 'drive_chain',
       'weight', 'Emission_Label', 'cc_from_description', 'brand', 'hp_kW',
       'used_new', 'fuel_type', 'offer_num', 'upholstery_kind',
       'upholstery_color'],
      dtype='object')

## "Nr. of Doors"

In [581]:
df["Nr. of Doors"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    11575
[\n4\n]     3079
[\n3\n]      832
[\n2\n]      219
NaN          212
[\n1\n]        1
[\n7\n]        1
Name: Nr. of Doors, dtype: int64

In [583]:
df["Nr. of Doors"].str[0].str.strip().value_counts(dropna=False)

5      11575
4       3079
3        832
2        219
NaN      212
1          1
7          1
Name: Nr. of Doors, dtype: int64

In [584]:
df["door_count"] = df["Nr. of Doors"].str[0].str.strip()

In [585]:
df.drop(columns="Nr. of Doors", inplace=True)

## "Nr. of Seats"

In [586]:
df["Nr. of Seats"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    13336
[\n4\n]     1125
NaN          977
[\n7\n]      362
[\n2\n]      116
[\n6\n]        2
[\n3\n]        1
Name: Nr. of Seats, dtype: int64

In [587]:
df["Nr. of Seats"].str[0].str.strip().value_counts(dropna=False)

5      13336
4       1125
NaN      977
7        362
2        116
6          2
3          1
Name: Nr. of Seats, dtype: int64

In [588]:
df["seat_count"] = df["Nr. of Seats"].str[0].str.strip()

In [589]:
df.drop(columns="Nr. of Seats", inplace=True)

In [591]:
df.columns

Index(['url', 'make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'Next Inspection', 'Warranty', 'null', 'Model',
       'Model Code', 'Gearing Type', 'Displacement', 'Cylinders', 'Fuel',
       'Consumption', 'CO2 Emission', 'Emission Class',
       '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n',
       '\nSafety & Security\n', 'description', 'Emission Label', 'Gears',
       'Paint_Type', 'drive_chain', 'weight', 'Emission_Label',
       'cc_from_description', 'brand', 'hp_kW', 'used_new', 'fuel_type',
       'offer_num', 'upholstery_kind', 'upholstery_color', 'door_count',
       'seat_count'],
      dtype='object')

## Gearing Type

In [594]:
df["Gearing Type"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Manual, \n]            8153
[\n, Automatic, \n]         7297
[\n, Semi-automatic, \n]     469
Name: Gearing Type, dtype: int64

In [596]:
df["Gearing Type"].str[1].str.strip().value_counts(dropna=False)

Manual            8153
Automatic         7297
Semi-automatic     469
Name: Gearing Type, dtype: int64

In [597]:
df.gearing = df["Gearing Type"].str[1].str.strip()

In [598]:
df.drop(columns="Gearing Type", inplace=True)

In [599]:
df.columns

Index(['url', 'make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'Next Inspection', 'Warranty', 'null', 'Model',
       'Model Code', 'Displacement', 'Cylinders', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Paint_Type', 'drive_chain',
       'weight', 'Emission_Label', 'cc_from_description', 'brand', 'hp_kW',
       'used_new', 'fuel_type', 'offer_num', 'upholstery_kind',
       'upholstery_color', 'door_count', 'seat_count'],
      dtype='object')

## Displacement

In [600]:
df.Displacement.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n1,598 cc\n]    4761
[\n999 cc\n]      2438
[\n1,398 cc\n]    1314
[\n1,399 cc\n]     749
[\n1,229 cc\n]     677
                  ...
[\n122 cc\n]         1
[\n1,198 cc\n]       1
[\n1,195 cc\n]       1
[\n2,967 cc\n]       1
[\n1,800 cc\n]       1
Name: Displacement, Length: 78, dtype: int64

In [604]:
df.Displacement.str[0].str.strip().str.split().str[0].str.replace(",", "").value_counts(dropna=False)

1598    4761
999     2438
1398    1314
1399     749
1229     677
        ...
122        1
1198       1
1195       1
2967       1
1800       1
Name: Displacement, Length: 78, dtype: int64

In [605]:
df["displacement_cc"] = df.Displacement.str[0].str.strip().str.split().str[0].str.replace(",", "")

In [606]:
df.drop(columns="Displacement", inplace=True)

In [607]:
df.columns

Index(['url', 'make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'Next Inspection', 'Warranty', 'null', 'Model',
       'Model Code', 'Cylinders', 'Fuel', 'Consumption', 'CO2 Emission',
       'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Paint_Type', 'drive_chain',
       'weight', 'Emission_Label', 'cc_from_description', 'brand', 'hp_kW',
       'used_new', 'fuel_type', 'offer_num', 'upholstery_kind',
       'upholstery_color', 'door_count', 'seat_count', 'displacement_cc'],
      dtype='object')

In [ ]:
## Fuel & fuel_type

In [610]:
df.Fuel.str[1].value_counts(dropna=False)

Diesel (Particulate Filter)                                                                                  4315
Super 95                                                                                                     3338
Gasoline                                                                                                     3175
Diesel                                                                                                       2984
Super 95 / Regular/Benzine 91                                                                                 424
                                                                                                             ...
Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91                                                          1
Super Plus 98 / Super E10 95                                                                                    1
Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98       1
Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98       1
Super Plus 98 / Super 95 / Super Plus E10 98                                                                    1
Name: Fuel, Length: 77, dtype: int64

In [612]:
df.fuel_type.value_counts(dropna=False)

Diesel (Particulate Filter)                                                                                  4315
Super 95                                                                                                     3338
Gasoline                                                                                                     3175
Diesel                                                                                                       2982
Super 95 / Regular/Benzine 91                                                                                 424
                                                                                                             ...
Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91                                                          1
Super Plus 98 / Super E10 95                                                                                    1
Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95       1
Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98       1
Super Plus 98 / Super 95 / Super Plus E10 98                                                                    1
Name: fuel_type, Length: 78, dtype: int64

In [613]:
df.drop(columns="Fuel", inplace=True)

In [614]:
df.columns

Index(['url', 'make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'Next Inspection', 'Warranty', 'null', 'Model',
       'Model Code', 'Cylinders', 'Consumption', 'CO2 Emission',
       'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Paint_Type', 'drive_chain',
       'weight', 'Emission_Label', 'cc_from_description', 'brand', 'hp_kW',
       'used_new', 'fuel_type', 'offer_num', 'upholstery_kind',
       'upholstery_color', 'door_count', 'seat_count', 'displacement_cc'],
      dtype='object')

In [615]:
df.Consumption.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                   1906
[[3.9 l/100 km (comb)], [4.1 l/100 km (city)], [3.7 l/100 km (country)]]               304
[[4.2 l/100 km (comb)], [5 l/100 km (city)], [3.7 l/100 km (country)]]                 276
[[5.4 l/100 km (comb)], [6.8 l/100 km (city)], [4.5 l/100 km (country)]]               257
[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]               253
                                                                                      ...
[[4.2 l/100 km (comb)], [5.3 l/100 km (city)], [3.6 l/100 km (country)]]                 1
[\n, 5.1 l/100 km (comb), \n, 6.4 l/100 km (city), \n, 4.3 l/100 km (country), \n]       1
[[4.6 l/100 km (comb)], [5.4 l/100 km (city)], [6.7 l/100 km (country)]]                 1
[\n, 6.3 l/100 km (comb), \n, \n, \n]                                                    1
[\n, 7.4 l/100 km (comb), \n, 9.6 l/100 km (city), \n, 6 l/100 km (country), \n]         1
Name: Consumption, Length: 882, dtype: int64

In [629]:
df.Consumption.str[0].str.strip().value_counts(dropna=False)

NaN    15069
         850
Name: Consumption, dtype: int64

In [630]:
df.Consumption.str[1].str.strip().value_counts(dropna=False)

NaN                    15069
5.4 l/100 km (comb)      107
5.9 l/100 km (comb)       61
6 l/100 km (comb)         53
5.6 l/100 km (comb)       50
4.7 l/100 km (comb)       47
4.9 l/100 km (comb)       45
6.1 l/100 km (comb)       40
5.7 l/100 km (comb)       40
6.3 l/100 km (comb)       40
5.5 l/100 km (comb)       38
5 l/100 km (comb)         32
6.2 l/100 km (comb)       32
6.6 l/100 km (comb)       29
4.4 l/100 km (comb)       28
5.1 l/100 km (comb)       27
4.2 l/100 km (comb)       27
5.2 l/100 km (comb)       25
4.8 l/100 km (comb)       23
5.8 l/100 km (comb)       22
4.3 l/100 km (comb)       12
4.5 l/100 km (comb)       12
6.4 l/100 km (comb)       11
6.7 l/100 km (comb)       10
6.5 l/100 km (comb)        7
4.6 l/100 km (comb)        6
6.9 l/100 km (comb)        6
5.3 l/100 km (comb)        5
7.4 l/100 km (comb)        4
1.6 l/100 km (comb)        3
6.8 l/100 km (comb)        2
4 l/100 km (comb)          1
4.1 l/100 km (comb)        1
3.9 l/100 km (comb)        1
7 l/100 km (comb)          1
8.6 l/100 km (comb)        1
7.9 l/100 km (comb)        1
Name: Consumption, dtype: int64

In [633]:
df.Consumption.str[2].str.strip().value_counts(dropna=False)

NaN    15069
         850
Name: Consumption, dtype: int64

In [634]:
df.Consumption.str[3].str.strip().value_counts(dropna=False)

NaN                     15069
7.3 l/100 km (city)        81
7.8 l/100 km (city)        72
6.7 l/100 km (city)        60
7.5 l/100 km (city)        50
7.2 l/100 km (city)        48
5.9 l/100 km (city)        45
7.7 l/100 km (city)        39
7.1 l/100 km (city)        37
5.8 l/100 km (city)        33
5.4 l/100 km (city)        32
5 l/100 km (city)          27
6.2 l/100 km (city)        26
7.9 l/100 km (city)        24
8.2 l/100 km (city)        22
6.3 l/100 km (city)        21
7.6 l/100 km (city)        21
6.4 l/100 km (city)        20
8.3 l/100 km (city)        16
8.6 l/100 km (city)        15
6.6 l/100 km (city)        15
                           14
5.2 l/100 km (city)        12
6 l/100 km (city)          12
6.8 l/100 km (city)        11
5.7 l/100 km (city)        11
7 l/100 km (city)          10
8 l/100 km (city)           9
8.5 l/100 km (city)         9
7.4 l/100 km (city)         9
5.1 l/100 km (city)         9
5.5 l/100 km (city)         9
6.9 l/100 km (city)         8
5.6 l/100 km (city)         4
8.1 l/100 km (city)         4
8.7 l/100 km (city)         3
9.2 l/100 km (city)         3
8.4 l/100 km (city)         2
3.8 l/100 km (city)         1
6.1 l/100 km (city)         1
4.7 l/100 km (city)         1
9.5 l/100 km (city)         1
9.4 l/100 km (city)         1
11.5 l/100 km (city)        1
9.6 l/100 km (city)         1
Name: Consumption, dtype: int64

In [638]:
df.Consumption.str[5].str.strip().value_counts(dropna=False)

NaN                       15083
4.2 l/100 km (country)       77
4.9 l/100 km (country)       71
4.6 l/100 km (country)       70
4.4 l/100 km (country)       69
4.5 l/100 km (country)       59
4.7 l/100 km (country)       53
4.8 l/100 km (country)       52
5.3 l/100 km (country)       51
5.4 l/100 km (country)       49
4 l/100 km (country)         34
5.2 l/100 km (country)       33
3.7 l/100 km (country)       30
3.8 l/100 km (country)       27
5 l/100 km (country)         24
4.3 l/100 km (country)       24
4.1 l/100 km (country)       23
5.6 l/100 km (country)       23
3.9 l/100 km (country)       18
5.1 l/100 km (country)       17
5.7 l/100 km (country)       13
6 l/100 km (country)          7
5.5 l/100 km (country)        6
6.3 l/100 km (country)        3
3.3 l/100 km (country)        1
6.1 l/100 km (country)        1
7 l/100 km (country)          1
Name: Consumption, dtype: int64

In [627]:
df.Consumption.str[1].str.strip().str.split().str[0].value_counts(dropna=False)

NaN    15069
5.4      107
5.9       61
6         53
5.6       50
4.7       47
4.9       45
6.1       40
5.7       40
6.3       40
5.5       38
5         32
6.2       32
6.6       29
4.4       28
5.1       27
4.2       27
5.2       25
4.8       23
5.8       22
4.3       12
4.5       12
6.4       11
6.7       10
6.5        7
4.6        6
6.9        6
5.3        5
7.4        4
1.6        3
6.8        2
4          1
4.1        1
3.9        1
7          1
8.6        1
7.9        1
Name: Consumption, dtype: int64

In [639]:
df.columns

Index(['url', 'make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'Next Inspection', 'Warranty', 'null', 'Model',
       'Model Code', 'Cylinders', 'Consumption', 'CO2 Emission',
       'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Paint_Type', 'drive_chain',
       'weight', 'Emission_Label', 'cc_from_description', 'brand', 'hp_kW',
       'used_new', 'fuel_type', 'offer_num', 'upholstery_kind',
       'upholstery_color', 'door_count', 'seat_count', 'displacement_cc'],
      dtype='object')

## CO2 Emission

In [640]:
df["CO2 Emission"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                            1808
[\n120 g CO2/km (comb)\n]       740
[[], [], []]                    628
[\n99 g CO2/km (comb)\n]        545
[\n97 g CO2/km (comb)\n]        537
                               ...
[\n14 g CO2/km (comb)\n]          1
[\n1,060 g CO2/km (comb)\n]       1
[\n51 g CO2/km (comb)\n]          1
[\n165 g CO2/km (comb)\n]         1
[\n193 g CO2/km (comb)\n]         1
Name: CO2 Emission, Length: 124, dtype: int64

In [641]:
df["CO2 Emission"].str[0].str.strip().value_counts(dropna=False)

NaN                      2436
120 g CO2/km (comb)       740
99 g CO2/km (comb)        545
97 g CO2/km (comb)        537
104 g CO2/km (comb)       501
                         ...
14 g CO2/km (comb)          1
1,060 g CO2/km (comb)       1
51 g CO2/km (comb)          1
165 g CO2/km (comb)         1
193 g CO2/km (comb)         1
Name: CO2 Emission, Length: 123, dtype: int64

In [642]:
df["CO2 Emission"].str[0].str.strip().str.split().str[0].value_counts(dropna=False)

NaN      2436
120       740
99        545
97        537
104       501
         ...
14          1
1,060       1
51          1
165         1
193         1
Name: CO2 Emission, Length: 123, dtype: int64

In [643]:
df["co2_emission"] = df["CO2 Emission"].str[0].str.strip().str.split().str[0]

In [644]:
df.drop(columns="CO2 Emission", inplace=True)

In [645]:
df.columns

Index(['url', 'make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'Next Inspection', 'Warranty', 'null', 'Model',
       'Model Code', 'Cylinders', 'Consumption', 'Emission Class',
       '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n',
       '\nSafety & Security\n', 'description', 'Emission Label', 'Gears',
       'Paint_Type', 'drive_chain', 'weight', 'Emission_Label',
       'cc_from_description', 'brand', 'hp_kW', 'used_new', 'fuel_type',
       'offer_num', 'upholstery_kind', 'upholstery_color', 'door_count',
       'seat_count', 'displacement_cc', 'co2_emission'],
      dtype='object')

In [647]:
df["Emission Class"].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nEuro 6\n]          10139
NaN                    3021
[\nEuro 6d-TEMP\n]     1845
[[], [], []]            607
[\nEuro 6c\n]           127
[\nEuro 5\n]             78
[\nEuro 6d\n]            62
[\nEuro 4\n]             40
Name: Emission Class, dtype: int64

In [649]:
df["Emission Class"].str[0].str.strip().value_counts(dropna=False)

Euro 6          10139
NaN              3628
Euro 6d-TEMP     1845
Euro 6c           127
Euro 5             78
Euro 6d            62
Euro 4             40
Name: Emission Class, dtype: int64

In [652]:
df.emission_class = df["Emission Class"].str[0].str.strip()

In [658]:
df.drop(columns="Emission Class", inplace=True)

In [659]:
df.columns

Index(['url', 'make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'Next Inspection', 'Warranty', 'null', 'Model',
       'Model Code', 'Cylinders', 'Consumption', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Gears', 'Paint_Type', 'drive_chain', 'weight',
       'Emission_Label', 'cc_from_description', 'brand', 'hp_kW', 'used_new',
       'fuel_type', 'offer_num', 'upholstery_kind', 'upholstery_color',
       'door_count', 'seat_count', 'displacement_cc', 'co2_emission'],
      dtype='object')

In [660]:
df['\nComfort & Convenience\n'].value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          920
[Air conditioning, Electrical side mirrors, Hill Holder, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                      216
[Air conditioning, Electrical side mirrors, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                                   134
[Air conditioning, Power windows]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            130
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]                                                                                                                                                         105
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ...
[Air conditioning, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Split rear seats, Start-stop system, Tinted windows]                                                                                                                                                                                                                   1
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Sunroof]                                                                                                   1
[Air conditioning, Armrest, Cruise control, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system camera, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Split rear seats, Start-stop system, Tinted windows]                                                                                                                     1
[Air conditioning, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating]                                                                                                                                                                                                                          1
[Air conditioning, Automatic climate control, Cruise control, Electrically heated windshield, Electrical side mirrors, Electric tailgate, Heads-up display, Heated steering wheel, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Lumbar support, Navigation system, Park Distance Control, Parking assist system camera, Parking assist system self-steering, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Sunroof]      1
Name: \nComfort & Convenience\n, Length: 6199, dtype: int64

In [661]:
df['\nComfort & Convenience\n'].str[0].str.strip().value_counts(dropna=False)

Air conditioning                  14315
NaN                                 920
Cruise control                      343
Armrest                              98
Electrical side mirrors              89
Navigation system                    46
Multi-function steering wheel        24
Power windows                        23
Leather steering wheel               15
Park Distance Control                 8
Sunroof                               8
Hill Holder                           8
Electrically heated windshield        5
Light sensor                          4
Air suspension                        3
Electrically adjustable seats         3
Heated steering wheel                 2
Auxiliary heating                     2
Panorama roof                         1
Rain sensor                           1
Heads-up display                      1
Name: \nComfort & Convenience\n, dtype: int64

In [662]:
df['\nComfort & Convenience\n'].str[1].str.strip().value_counts(dropna=False)

Armrest                               7074
Automatic climate control             2931
Cruise control                        2447
Electrical side mirrors               1319
NaN                                   1113
Power windows                          343
Multi-function steering wheel          154
Leather steering wheel                  91
Seat ventilation                        90
Hill Holder                             78
Air suspension                          59
Navigation system                       37
Park Distance Control                   36
Electrically heated windshield          26
Electrically adjustable seats           26
Light sensor                            16
Lumbar support                          13
Auxiliary heating                       11
Start-stop system                       11
Keyless central door lock               10
Panorama roof                            7
Rain sensor                              6
Split rear seats                         5
Sunroof                                  3
Electric tailgate                        3
Heated steering wheel                    2
Leather seats                            2
Heads-up display                         2
Tinted windows                           1
Parking assist system sensors rear       1
Seat heating                             1
Massage seats                            1
Name: \nComfort & Convenience\n, dtype: int64

In [663]:
df['\nComfort & Convenience\n'].str[2].str.strip().value_counts(dropna=False)

Automatic climate control              5768
Cruise control                         3298
Electrical side mirrors                2143
NaN                                    1421
Hill Holder                             788
Power windows                           504
Multi-function steering wheel           363
Electrically heated windshield          314
Leather steering wheel                  307
Electrically adjustable seats           149
Light sensor                            137
Navigation system                       134
Split rear seats                        128
Seat ventilation                         90
Park Distance Control                    66
Auxiliary heating                        57
Armrest                                  53
Start-stop system                        40
Heated steering wheel                    35
Keyless central door lock                33
Lumbar support                           13
Parking assist system sensors rear       13
Rain sensor                              12
Electric tailgate                        11
Parking assist system camera             11
Panorama roof                             9
Seat heating                              7
Heads-up display                          5
Parking assist system sensors front       4
Tinted windows                            3
Sunroof                                   2
Leather seats                             1
Name: \nComfort & Convenience\n, dtype: int64

## Warranty

In [ ]:
df.Warranty.value_counts(dropna=False)

In [ ]:
df.Warranty.sample(50)

In [ ]:
df.Warranty.str[0].str.strip().value_counts(dropna=False)

In [ ]:
df.Warranty.str[0].str.strip().replace("",  None).value_counts(dropna=False)

In [ ]:
df.Warranty.str[0].str.strip().replace("",  None).value_counts(dropna=False)[0] / len(df)

In [ ]:
df.Warranty.str[1].str.strip().value_counts(dropna=False)

In [ ]:
df.Warranty.str[2].str.strip().value_counts(dropna=False)

In [ ]:
df.Warranty.str[3].str.strip().value_counts(dropna=False)

In [ ]:
df.Warranty.str[4].str.strip().value_counts(dropna=False)

In [ ]:
df.Warranty.str[5].str.strip().value_counts(dropna=False)

In [ ]:
df.Warranty.str[6].str.strip().value_counts(dropna=False)

In [ ]:
df.Warranty.str[7].str.strip().value_counts(dropna=False)

In [ ]:
df.Warranty.str[8].str.strip().value_counts(dropna=False)

In [ ]:
df.Warranty.str[9].str.strip().value_counts(dropna=False)

In [ ]:
df.Warranty.str[10].str.strip().value_counts(dropna=False)

In [ ]:
df.Warranty.str[0].str.strip().value_counts()
# = df.Warranty.str[0].str.strip().replace("",  None)

In [ ]:
df.Warranty.str[0].str.strip().str.split().str[0].value_counts(dropna=False)

In [ ]:
df["months_warranty"] = df.Warranty.str[0].str.strip().str.split().str[0]

In [ ]:
df[["months_warranty"]].value_counts(dropna=False)[0] / len(df)

In [ ]:
df.drop(columns="Warranty", inplace=True)

In [ ]:
df.head(3)

# PART- 2 `( Handling With Missing Vales )`

# PART- 3 `( Handling With Outliers )`

# Final Step (Checking final situation of data via graphs)

## Export dataframe to csv file (without dummy)

In [ ]:
# df.to_csv("final_scout_not_dummy.csv", index=False)

# Dummy Operation

## Export dataframe to csv file (dummy)

In [ ]:
# df_dummied.to_csv("final_scout_dummy.csv", index=False)